{% extends '::base.html.twig' %}

{% block body -%}

 <h3>{{ 'menu.generalparams' | trans }}</h3>

<form method="post" enctype="multipart/form-data">
	{% if parameters.logoPath %}
    	<img height="256px" src="{{ asset('upload/media/'~parameters.logoPath ) }}"/>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.logoFile) }}
        {{ form_widget(form.logoFile) }}
    </div>

    <div class="form-group">
        {{ form_label(form.maintenance) }}
        {{ form_widget(form.maintenance) }}
    </div>

    <div class="form-group">
        {{ form_label(form.maintenanceText) }}
        {{ form_widget(form.maintenanceText) }}
    </div>

    <div class="form-group">
        {{ form_label(form.selfRegistration) }}
        {{ form_widget(form.selfRegistration) }}
    </div>

    <div class="form-group text-right">
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>

    {{ form_widget(form._token) }}
</form>

{% endblock %}
