{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_tests_show') }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.test.back_to_list' | trans }}
</a>
<input value="{{'editor.test.delete' | trans }}" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-test-modal">
<a href="{{ path('editor_test_duplicate', { 'testId': test.id }) }}" class="btn btn-sm btn-default">
    {{'editor.test.duplicate' | trans }}
</a>
<a href="{{ path('editor_test_archive', { 'testId': test.id }) }}" class="btn btn-sm btn-default">
    {% if test.isArchived %}
        {{'editor.test.unarchive' | trans }}
    {% else %}
        {{'editor.test.archive' | trans }}
    {% endif %}
</a>

<a href="{{ path('editor_test_phase', { 'testId': test.id }) }}" class="btn btn-sm btn-default">
    {% if test.phased %}
        Unphased
    {% else %}
        Phased
    {% endif %}
</a>

<hr/>

<h3>{{ 'editor.test.edition' | trans }}</h3>
<form role="form" action="{{ path('editor_test_edit', { 'testId': test.id }) }}" method="POST">
    <div class="form-group">
        <label for="test-name">{{ 'editor.test.name' | trans }}</label>
        <input value="{{ test.name }}" id="test-name" type="text" class="form-control" name="test-name" required />
    </div>

    <div class="form-group">
        <label for="test-language">{{ 'editor.test.language' | trans }}</label>
        <select id="test-language" class="form-control" name="test-language" required />
            {% for language in get_languages() %}
                {% set languageTransl =   'language.'~language.name %}
                <option {% if test.language == language %}selected{% endif %} value="{{ language.id }}">{{languageTransl | trans }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group ">
        <div class="pull-right">
            <input type="submit" value="{{ 'generic.save' | trans }}" class="btn btn-default">
        </div>
    </div>
</form>

<div class="modal fade" id="delete-test-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'generic.close' | trans }}</span></button>
                <h4 class="modal-title">Suppression du test </h4>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer le test <strong>{{ test.name }}</strong> ?</p>
                <p>Ceci supprimera le test, les traces et réponses liées à ce test, ainsi que le nombre d'écoutes des médias pour ce test.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.no' | trans }}</button>
                <a href="{{ path('editor_test_delete', { 'testId': test.id }) }}" data-method="delete" id="delete-confirm" type="button" class="btn btn-danger rest">Oui, supprimer le test</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
