{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_tests_show') }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.test.back_to_list' | trans }}
</a>
{% if test is defined %}
    <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-test-modal">
        {{'editor.test.delete' | trans }}
    </a>
    <a href="{{ path('editor_test_duplicate', { 'testId': test.id }) }}" class="btn btn-sm btn-default">
        {{'editor.test.duplicate' | trans }}
    </a>
{% endif %}

<hr/>

{% if test is defined %}
    <h3>{{ 'editor.test.edition' | trans }}</h3>
{% else %}
    <h3>{{ 'editor.test.create' | trans }}</h3>
{% endif %}

<form method="post">
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.language) }}
        {{ form_widget(form.language) }}
    </div>

    <div class="form-group">
        {{ form_label(form.phased) }}
         {% if test is defined %}
            {{ form_widget(form.phased, { 'attr': { 'disabled': 'disabled' } }) }}
        {% else %}
            {{ form_widget(form.phased) }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.archived) }}
        {{ form_widget(form.archived) }}
    </div>

    <div class="form-group text-right">
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>

    {{ form_widget(form._token) }}
</form>

{% if test is defined %}
<div class="modal fade" id="delete-test-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'generic.close' | trans }}</span></button>
                <h4 class="modal-title">Suppression du test </h4>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer le test <strong>{{ test.name }}</strong> ?</p>
                <p>Ceci supprimera le test, les traces et réponses liées à ce test, ainsi que le nombre d'écoutes des médias pour ce test.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.no' | trans }}</button>
                <a href="{{ path('editor_test_delete', { 'testId': test.id }) }}" data-method="delete" id="delete-confirm" type="button" class="btn btn-danger rest">Oui, supprimer le test</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
