{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("bundles/innovaself/css/editor.css") }}" rel="stylesheet" />
{% endblock %}

{% block body -%}

    <a class="btn btn-default btn-sm" href="{% if testId is null %}{{ path('editor_questionnaires_show') }}{% else %}{{ path('editor_test_questionnaires_show', { 'testId': testId }) }}{% endif %}
        ">
        <span class="glyphicon glyphicon-chevron-left"></span>{{ 'editor.task.back_to_list' | trans }}
    </a>

    {#
    {% if testId %}
    <a class="btn btn-default btn-sm" href="{{ path('questionnaire_pick', { testId: testId, questionnaireId: questionnaire.id }) }}">
            <span class="glyphicon glyphicon-play"></span> {{ 'generic.player' | trans }}
    </a>
    {% endif %}
    #}
    
    <hr/>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#task" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-file"></span> {{ 'editor.task.task' | trans }}
            </a>
        </li>
        <li>
            <a href="#identity" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-list-alt"></span> {{ 'editor.task.identity' | trans }}
            </a>
        </li>
        <li>
            <a href="#comments" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-comment"></span> {{ 'editor.task.comments' | trans }}
            </a>
        </li>
        <li class='pull-right'>
            <img id="loader-img" style="display:none;" src="{{ asset('bundles/innovaself/images/loader.gif') }}"/>
        </li>
    </ul>

    <br/>

    <div class="tab-content">
        <div class="tab-pane active" id="task">
            {% include "InnovaSelfBundle:Editor/partials:questionnaire.html.twig" %}
        </div>
        <div class="tab-pane" id="identity">
            {% include "InnovaSelfBundle:Editor/partials:identity.html.twig" %}
        </div>
        <div class="tab-pane" id="comments">
            {% include "InnovaSelfBundle:Editor/partials:comments.html.twig" %}
        </div>
    </div>

    {% include "InnovaSelfBundle:Editor/common:modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/jquery.Jcrop.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor_crop.js") }}"></script>
    {{ tinymce_init() }}
{% endblock %}
