{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_tests_show') }}">
    <span class="glyphicon glyphicon-chevron-left"></span> Retourner à la liste des tests
</a>
<a class="btn btn-info btn-sm" href="{{ path('editor_questionnaire_create', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-plus"></span> Créer une tâche et l'ajouter
</a>
<a class="btn btn-info btn-sm" href="{{ path('test_edit', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-plus"></span> Ajouter une tâche déjà existante
</a>

<hr/>

<h3>Liste des tâches pour le test <strong>{{ test.name }}</strong></h3>

<ul class="list-group" id="sortable">
{% for order in orders %}
    <li class="questionnaire list-group-item" data-questionnaire-id="{{ order.questionnaire.id}}" data-test-id="{{ test.id }}">
        {{ order.questionnaire.theme }}
        <a style="position:absolute;right:5px;top:5px" class="btn btn-default btn-sm" href="{{ path('editor_questionnaire_show', { 'testId': test.id, 'questionnaireId': order.questionnaire.id }) }}">
            <span class="glyphicon glyphicon-edit"></span> Editer la tâche
        </a>
    </li>
{% endfor %}
</ul>

{% if orders | length > 0 %}
    <span class="btn btn-primary btn-sm" id="save-order">Sauvegarder l'ordre des tâches</span>
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-save-order.js") }}"></script>
{% endblock %}


