{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("bundles/innovaself/css/editor-task-list.css") }}" rel="stylesheet" />
{% endblock %}

{% block body -%}
{% if checkRight("right.createtask") %}
    <a id="create-task" class="btn btn-default btn-sm" data-test-id="0">
        <span class="glyphicon glyphicon-plus"></span> {{ 'editor.task.create' | trans }}
    </a>
{% endif %}
<hr/>


{% if questionnaires|length <1  %}
    {{ 'editor.task.no_task' | trans }}
{% else %}

    {% set canEdit = false %}
    {% set canDelete = false %}

    {% if checkRight("right.edittask") %}
        {% set canEdit = true %}
    {% endif %}

    {% if checkRight("right.deletetask") %}
        {% set canDelete = true %}
    {% endif %}


    <h3>{{ 'editor.task.list_global' | trans }}
    {{ app.user.preferedLanguage ? "- "~app.user.preferedLanguage.name|trans }}
    </h3>

    <div class="input-group">
        <span class="input-group-addon">{{ 'generic.filter' | trans }} </span>
        <input type="text" id="search" class="form-control" value="">
    </div>

    <br/>

    <table id="tasks-table" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{ 'editor.log.status'|trans|capitalize}}</th>
                <th>{{ 'editor.log.theme'|trans|capitalize}}</th>
                <th>{{ 'editor.log.level'|trans|capitalize}}</th>
                <th>{{ 'editor.log.skill'|trans|capitalize}}</th>
                {# Add to display typology. EV. #}
                <th>{{ 'editor.log.typology'|trans|capitalize}}</th>
                <th>{{ 'editor.log.test'|trans|capitalize}}</th>
            </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr id="task-{{ questionnaire.id }}">
                <td>
                    {% if questionnaire.status is not null %}
                        {% set statusId = questionnaire.status.id %}
                        {% set statusName = questionnaire.status.name %}
                    {% else %}
                        {% set statusId = 1 %}
                        {% set statusName = "Ecriture" %}
                    {% endif %}
                    <span class="label label-default label-{{ statusId }}">{{ statusName }}</span>
                </td>
                <td>
                    {% if questionnaire.theme != "" %}
                        {{ questionnaire.theme }}
                    {% else %}
                        {{ 'editor.task.unnamed' | trans }}
                    {% endif %}
                </td>
                <td>
                    {% if questionnaire.level is not null %}
                        {{ questionnaire.level.name }}
                    {% endif %}
                </td>
                 <td>
                    {% if questionnaire.skill is not null %}
                        {{ questionnaire.skill.name }}
                    {% endif %}
                </td>
                {# Add to display typology. EV. #}
                <td>
                    {% if questionnaire.questions is not empty and questionnaire.questions[0].typology is not null %}
                    	{{ questionnaire.questions[0].typology.name }}
                    {% else %}
                        {{ '-' }}
                    {% endif %}
                </td>
                {# Ajout d'un bouton "Supprimer" pour supprimer une tâche (si pas d'affectation à un test). EV. #}
                {% set countTests = questionnaire.orderQuestionnaireTests|length %}
                {% if countTests == 0 %}
                    {% set countTests = questionnaire.orderQuestionnaireComponents|length %}
                {% endif %}
                <td>
                {% set tooltip = "" %}
                {{ countTests }}
                {% for orderedQuestionnaireTest in questionnaire.orderQuestionnaireTests %}
                    {% set tooltip = tooltip ~ orderedQuestionnaireTest.test.name ~"<br />" %}
                {% endfor %}
                {% if countTests != 0 %}
                    <span data-html="true" class="glyphicon glyphicon-eye-open" rel="tooltip" data-original-title="{{ tooltip }}"></span>
                {% endif %}
                </td>
                <td class="text-right">
                    {% if canEdit %}
                        <a toggle="tooltip" data-original-title="{{ 'generic.edit' | trans }}" class="btn btn-default btn-sm" href="{{ path('editor_questionnaire_show', { 'questionnaireId': questionnaire.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    {% endif %}

                    {% if canDelete %}
                        <a toggle="tooltip" data-original-title="{{ 'generic.remove' | trans }}" class="btn btn-default btn-danger btn-sm delete-task" {% if countTests != 0 %}disabled{% endif %} data-questionnaire-id="{{ questionnaire.id}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


<div id="delete-task-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'editor.task.delete' | trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'editor.task.delete_confirm' | trans }}
                <input id="questionnaire-id" type="hidden" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'editor.task.delete_confirm_no' | trans }}</button>
                <button type="button" id="delete-task-list-confirmation" class="btn btn-primary">{{ 'editor.task.delete_confirm_yes' | trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/jquery.quicksearch.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-task-list.js") }}"></script>
{% endblock %}
