{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("bundles/innovaself/css/editor-task-list.css") }}" rel="stylesheet" />
{% endblock %}

{% block body -%}
<a id="create-task" class="btn btn-default btn-sm" data-test-id = "">
    <span class="glyphicon glyphicon-plus"></span> {{ 'editor.task.create' | trans }}
</a>

<hr/>

{% if questionnaires|length <1  %}
    {{ 'editor.task.no_task' | trans }}
{% else %}
    <h3>{{ 'editor.task.list_global' | trans }}</h3>

    <div class="input-group">
        <span class="input-group-addon">{{ 'generic.filter' | trans }} </span>
        <input type="text" id="search" class="form-control" value="">
    </div>

    <br/>

    <table id="tasks-table" class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'editor.log.status'|trans|capitalize}}</th>
                <th>{{ 'editor.log.theme'|trans|capitalize}}</th>
                <th>{{ 'editor.log.level'|trans|capitalize}}</th>
                <th>{{ 'editor.log.skill'|trans|capitalize}}</th>
                {# Add to display typology. EV. #}
                <th>{{ 'editor.log.typology'|trans|capitalize}}</th>
                <th>{{ 'editor.log.test'|trans|capitalize}}</th>
            </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td>
                    {% if questionnaire.status is not null %}
                        {% set statusId = questionnaire.status.id %}
                        {% set statusName = questionnaire.status.name %}
                    {% else %}
                        {% set statusId = 1 %}
                        {% set statusName = "Ecriture" %}
                    {% endif %}
                    <span class="label label-default label-{{ statusId }}">{{ statusName }}</span>
                </td>
                <td>
                    {% if questionnaire.theme != "" %}
                        {{ questionnaire.theme }}
                    {% else %}
                        {{ 'editor.task.unnamed' | trans }}
                    {% endif %}
                </td>
                <td>
                    {% if questionnaire.level is not null %}
                        {{ questionnaire.level.name }}
                    {% endif %}
                </td>
                 <td>
                    {% if questionnaire.skill is not null %}
                        {{ questionnaire.skill.name }}
                    {% endif %}
                </td>
                {# Add to display typology. EV. #}
                <td>
                    {% if questionnaire.questions is not empty
                    and questionnaire.questions[0].typology is not null %}
                        {{ questionnaire.questions[0].typology.name }}
                    {% else %}
                        {{ '-' }}
                    {% endif %}
                </td>
                <td>
                    {% set countTests = questionnaire.orderQuestionnaireTests|length %}
                    {% if countTests == 0 %}
                        -
                    {% else %}
                        {% set tooltip = "" %}
                        {{ countTests }}
                        {% for orderedQuestionnaireTest in questionnaire.orderQuestionnaireTests %}
                            {% set tooltip = tooltip ~ orderedQuestionnaireTest.test.name ~"<br />" %}
                        {% endfor %}
                        <span data-html="true" class="glyphicon glyphicon-eye-open" rel="tooltip" data-original-title="{{ tooltip }}"></span>
                    {% endif %}
                </td>
                <td class="text-right">
                    <a class="btn btn-default btn-sm" href="{{ path('editor_questionnaire_show', { 'questionnaireId': questionnaire.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span> {{ 'generic.edit' | trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/jquery.quicksearch.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-task-list.js") }}"></script>
{% endblock %}
