{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_test_create_form') }}">
    <span class="glyphicon glyphicon-plus"></span> {{ 'editor.test.create' | trans }}
</a>

<hr/>

{% if tests|length < 1 %}
    Il n'y a aucun test de créé actuellement.
{% else %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}


<h3>{{ 'editor.test.list' | trans }}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'editor.test.name' | trans }}</th>
            <th class="text-center">{{ 'editor.task.count' | trans }}</th>
            <th class="text-center">{{ 'editor.test.phased' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for i, test in tests %}
        <tr>
            <td>
                {{ test.name }}
            </td>
            <td class="text-center">
                {% if not test.phased %}
                    {{ test.orderQuestionnaireTests|length }}
                {% else %}
                    -
                {% endif %}
            </td>
            
            <td class="text-center">
                {% if test.phased %}
                    {{ 'generic.yes' | trans }}
                {% else %}
                    {{ 'generic.no' | trans }}
                {% endif %}
            </td>

            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{{ path('editor_test_edit_form', { 'testId': test.id }) }}">
                    <span class="glyphicon glyphicon-cog"></span> {{ 'generic.edit' | trans }}
                </a>
                <a class="btn btn-default btn-sm " href="{{ path('editor_test_sessions', { 'testId': test.id } )}}">
                    <span class="glyphicon glyphicon-calendar"></span> {{ 'editor.session.manage' | trans }}
                </a>
                <a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'editor.task.manage' | trans }}
                </a>

                {% if test in app.user.favoritesTests %}
                     <a class="btn btn-default btn-sm toggle-favorite" data-original-title="{{ 'editor.test.remove_from_favorites' | trans }}" data-test-id="{{ test.id }}">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                {% else %}
                    <a class="btn btn-default btn-sm toggle-favorite" data-original-title="{{ 'editor.test.add_to_favorites' | trans }}" data-test-id="{{ test.id }}">
                        <span class="glyphicon glyphicon-star-empty" ></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-test-list.js") }}"></script>
{% endblock %}
