{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("bundles/innovaself/css/editor-task-list.css") }}" rel="stylesheet" />
{% endblock %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_tests_show') }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.test.back_to_list' | trans }}
</a>
<a id="create-task" class="btn btn-default btn-sm" data-test-id = "{{ test.id }}">
    <span class="glyphicon glyphicon-plus"></span> {{ 'editor.task.create' | trans }} pour ce test
</a>

<a id="add-existing-task" class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-task-modal">
    <span class="glyphicon glyphicon-plus"></span> Ajouter une tâche existante
</a>

{% if orders|length > 0 %}
    <a disabled="disabled" class="btn btn-default btn-sm" id="save-order">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        {{ 'editor.task.save_order' | trans }}
    </a>
    <img id="loader-img" style="display:none;" src="{{ asset('bundles/innovaself/images/loader.gif') }}"/>
{% endif %}
<hr/>

{% if orders|length > 0 %}
<h3>
    {% autoescape 'html' %}
    {{ 'editor.task.list' | trans({'%testName%': test.name}) | raw }}
    {% endautoescape %}
</h3>
{% endif %}

{% include "InnovaSelfBundle:Editor/partials:tasksList.html.twig" %}

<div id="add-task-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter une tâche existante</h4>
            </div>
            <div class="modal-body">
                {% if potentialQuestionnaires|length <1  %}
                    Il n'y aucune tâche à associer à cette item.
                {% else %}
                <div class="input-group">
                    <span class="input-group-addon">Filtre </span>
                    <input type="text" id="search" class="form-control" value="">
                </div>
                <hr/>
                <ul id="tasks" class="list-group">

                {% for potentialQuestionnaire in potentialQuestionnaires %}
                    <li class="list-group-item">
                        <span class="btn btn-default add-task" data-test-id="{{ test.id }}" data-questionnaire-id="{{ potentialQuestionnaire.id }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</span> 
                        {% if potentialQuestionnaire.theme != "" %}
                            {{ potentialQuestionnaire.theme }}
                        {% else %}
                            {{ 'editor.task.unnamed' | trans }}
                        {% endif %}
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
            </div>
        </div>
    </div>
</div>

<div id="delete-task-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'editor.task.delete' | trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'editor.task.delete_confirm' | trans }}
                <input id="test-id" type="hidden" value="{{ test.id }}"/>
                <input id="questionnaire-id" type="hidden" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'editor.task.delete_confirm_no' | trans }}</button>
                <button type="button" id="delete-task-confirmation" class="btn btn-primary">{{ 'editor.task.delete_confirm_yes' | trans }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/jquery.quicksearch.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-task-list.js") }}"></script>
{% endblock %}
