{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_test_create_form') }}">
    <span class="glyphicon glyphicon-plus"></span> {{ 'editor.test.create' | trans }}
</a>

<hr/>

{% if tests|length < 1 %}
    Il n'y a aucun test de créé actuellement.
{% else %}

<h3>{{ 'editor.test.list' | trans }}</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'editor.test.name' | trans }}</th>
            <th>{{ 'editor.task.count' | trans }}</th>
            <th>{{ 'editor.test.is_active' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for i, test in tests %}
        <tr>
            <td>
                {{ test.name }}
            </td>
            <td>
                {{ test.orderQuestionnaireTests|length }}
            </td>
            <td>
                {% if test.actif %}
                    {{ 'generic.yes' | trans }}
                {% else %}
                    {{ 'generic.no' | trans }}
                {% endif %}
            </td>
            <td class="text-right">
                <a id="play-test" class="btn btn-default btn-sm " href="{{ path('test_start', { 'id': test.id,  'displayHelp': 0} )}}">
                    <span class="glyphicon glyphicon-play"></span> {{ 'generic.player' | trans }}
                </a>
                <a class="btn btn-default btn-sm" href="{{ path('editor_test_edit_form', { 'testId': test.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'generic.edit' | trans }}
                </a>
                <a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'editor.task.manage' | trans }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock %}
