<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Export PDF : du {{ "now"|date("d/m/Y") }} </title>
        <style type="text/css">
        .page-breaker {
            display: block;
            page-break-after: always;
            clear:both;
        }
        </style>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>
            {% if app.user.firstname is defined and app.user.lastname is defined %}
                {{ app.user.lastname }} {{ app.user.firstname }}
            {% else %} 
                {{ app.user.username }}
            {% endif %}
        </h1>
        <h1>
            Test : {{ session.test.name }} ({{ session.name}})
        </h1>
        {% include "InnovaSelfBundle:Player/common:score.html.twig" %}
    </body>
</html>
