{% extends '::base.html.twig' %}

{% block body -%}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    <h1>{{ 'user.list' | trans }}</h1>
    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>{{ 'user.name' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td class="text-right">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
