{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'user.single' | trans }}</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>{{ 'user.name' | trans }} {{ 'user.firstname' | trans }}</th>
                <td>{{ entity.username }} {{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email' | trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {# List of tests #}
    <h3>{{ 'test.list' | trans }}</h3>
    <form action="{{ path('admin_user_affect_tests', { 'id': entity.id }) }}" method="post"}}>
        <input type="hidden" name="_method" value="PUT" />
        <table>
            <tbody>
            {% for test in tests %}
                <tr>
                    <td class="text-left">
                        {% if test in userTests %}
                        <input type="checkbox" name="test[{{ test.id }}]" checked="checked">
                        {% else %}
                        <input type="checkbox" name="test[{{ test.id }}]">
                       {% endif %}
                    </td>
                    <td>{{ test.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="{{ 'generic.validate' | trans }}" class="btn btn-default" />
    </form>

    <hr>
    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}
        <a href="{{ path('admin_user') }}" class="btn btn-default">{{ 'user.back_to_list' | trans }}</a>
        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_rest(delete_form) }}
    {{ form_start(delete_form) }}

{% endblock %}
