{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Nom / Prénom</th>
                <td>{{ entity.username }} {{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>
{#
    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-primary">Edit</a>
#}
    <hr>

    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}
        <a href="{{ path('admin_user') }}" class="btn btn-default">Back to the list</a>
        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_rest(delete_form) }}
    {{ form_start(delete_form) }}

{% endblock %}
