{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_group_edit', { 'groupId': group.id }) }}">
    <span class="glyphicon glyphicon-edit"></span> {{ 'group.edit' | trans }}
</a>

<a class="btn btn-default btn-sm" href="{{ path('editor_groups') }}">
    <span class="glyphicon glyphicon-calendar"></span> {{ 'group.list' | trans }}
</a>

<a class="btn btn-default btn-sm" href="{{ path('editor_group_import_user', { 'groupId': group.id }) }}">
    <span class="glyphicon glyphicon-import"></span> {{ 'group.import' | trans }}
</a>

<hr/>

<h3>{{ group.name }}</h3>

<h4> {{ 'group.sessions' | trans }} </h4>
{% if group.sessions | length > 0 %}
	{% for session in group.sessions %}
	    <a href="{{ path('editor_test_edit_session', { 'testId': session.test.id, 'sessionId': session.id }) }}">{{ session.test.name }} - {{ session.name }}</a> -
	{% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">{{ 'group.no_session' | trans }}</div>
{% endif %}

<h4> {{ 'group.users' | trans }} </h4>
{% if group.users | length > 0 %}
	{% for user in group.users %}
	<a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.username }}</a> -
	{% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">{{ 'group.no_user' | trans }}</div>
{% endif %}

{% endblock %}
