{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_groups') }}">
    <span class="glyphicon glyphicon-calendar"></span> {{ 'group.list' | trans }}
</a>

{% if group is defined %}
<a class="btn btn-default btn-sm" href="{{ path('editor_group_import_user',  { 'groupId': group.id }) }}">
    <span class="glyphicon glyphicon-import"></span> {{ 'group.import' | trans }}
</a>
{% endif %}

<hr/>

{{ form(form) }}

{% endblock %}
