{% extends '::base.html.twig' %}

{% block body -%}

<a href="{{ path('institution_create') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span> {{ 'institution.create' | trans }}
</a>

<a href="{{ path('years') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-calendar"></span> {{ 'year.manage' | trans }}
</a>

<hr/>

<h3>Institutions</h3>

<div class="input-group">
    <span class="input-group-addon">{{ 'generic.filter' | trans }} </span>
    <input type="text" id="search" class="form-control" value="">
</div>
<br/>

<table id="institutions-table" class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		{% for institution in institutions %}
			<tr>
				<td>
					{{ institution.name }} 
				</td>
                <td class="text-right">
                    <a class="btn btn-default btn-sm" href="{{ path('institution_view', { 'institutionId': institution.id }) }}">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </a>
                </td>
			</tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/jquery.quicksearch.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/institutions-list.js") }}"></script>
{% endblock %}
