<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SELF{% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />

<style type="text/css">
/* DEFAULT */
a:focus, button:focus, input:focus{outline: none;}
a{outline:none;}
button::-moz-focus-inner{border:0;}
input::-moz-focus-inner{border:0;}
acronym{cursor:default;}
img{border:0;}

#parking{
    background: #BABFC9;
    border: 4px dashed #FFCC00;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.voiture{
    position: absolute;
    width: 80px;
    height: 160px;
    background: #555;
}
.liste{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #555;
}
.voiture.horizontale{
    width: 160px;
    height: 80px;
    /*-moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);*/
}
#voiture_bleue{
    background: #66CCFF;
    left: 343px;
    top: 108px;
}
#liste_bleue{
    background: #FFFFFF;
    left: 80px;
    top: 100px;
}
#voiture_rouge{
    background: #FF3300;
    left: 264px;
    top: 8px;
}

.personnage{
    position: absolute;
    height: 50px;
    background: #555;
}
.personnage .nom{
    position: absolute;
    bottom: -20px;
    left: -28px;
    width: 80px;
    text-align: center;
    font: 8pt Verdana, Arial, Helvetica, sans-serif;
}
#boby {
    width: 30px;
    height: 30px;
    background: #FFFF00;
    -moz-border-radius: 30px;
    border-radius: 30px;

    top: 10px;
    left: 12px;
}
#boby2 {
    width: 30px;
    height: 30px;
    background: #FFFF00;
    -moz-border-radius: 30px;
    border-radius: 30px;

    top: 10px;
    left: 12px;
}
#boby .nom{left: -25px;}

#jeanne {
    top: 100px;
    left: 14px;
    height: 28px;
    background: #FF77BB;
    -moz-border-radius: 30px 0 30px 0;
    border-radius: 30px 0 30px 0;
}

#QRU .nom{top: 1px;}
#QRU {
    top: 50px;
    position: absolute;
    left: 14px;
    height: 28px;
    -moz-border-radius: 30px 0 30px 0;
    border-radius: 30px 0 30px 0;
}

#QRM .nom{top: 15px;}
#QRM {
    top: 50px;
    position: absolute;
    left: 14px;
    height: 28px;
    background: #FF77BB;
    -moz-border-radius: 30px 0 30px 0;
    border-radius: 30px 0 30px 0;
}

#TVF .nom{top: 30px;}
#TVF {
    top: 50px;
    position: absolute;
    left: 14px;
    height: 28px;
    background: #FF77BB;
    -moz-border-radius: 30px 0 30px 0;
    border-radius: 30px 0 30px 0;
}

#VF .nom{top: 45px;}
#VF {
    top: 50px;
    position: absolute;
    left: 14px;
    height: 28px;
    background: #FF77BB;
    -moz-border-radius: 30px 0 30px 0;
    border-radius: 30px 0 30px 0;
}

</style>

<script type="text/javascript">
jQuery(document).ready(function($){
    $( ".liste" ).draggable({ containment: 'parent' });
    $( ".voiture" ).draggable({ containment: 'parent' });
    $( ".personnage" ).draggable({ containment: 'parent' });

    $( "#voiture_rouge" ).droppable({
        accept: "#jeanne",
        drop: function( event, ui ) {
            //console.log( event );
            //console.log( ui );

            //ui.draggable.fadeOut();

            ui.draggable.appendTo( $(this) )
                .css({
                    left: '65px',
                    top:  '15px'
                })
                .draggable({ containment: 'parent' });
        }
    });

    $( "#voiture_bleue" ).droppable({
        accept: "#jeanne, #boby",
        drop: function( event, ui ) {
            ui.draggable.appendTo( $(this) )
                .css({
                    left: '25px',
                    top:  '50px'
                })
                .draggable({ containment: 'parent' });
        }
    });

    $( "#liste_bleue" ).droppable({
        accept: "#jeanne, #boby, #QRU, #QRM, #TVF, #VF",
        drop: function( event, ui ) {
            ui.draggable.appendTo( $(this) )
                .css({
                    left: '1px',
                    top:  '1px'
                })
                .draggable({ containment: 'parent' });
        }
    });


});
</script>



    </head>
    <body>
		<nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"><a style="cursor: default;" href="#">SELF</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_user') }}">Users</a></li>
                    <!-- TODO Comment for V1
                    <li><a href="#">Statistiques</a></li>
                     -->
                    <!-- Add Questionnaire menu for evolution -->
                    <li><a href="{{ path('admin_questionnaire') }}">Questionnaire</a></li>
                    <li><a href="{{ path('csv-export') }}">Export CSV</a></li>
                {% endif %}
                  <!-- Help with Modal Bootstrap : http://getbootstrap.com/javascript/#modals -->
                    <li><a data-toggle="modal" href="#helpModal">{{ 'generic.help' | trans }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'generic.logout' | trans }}</a></li>
                </ul>
            </div>
        </nav>
        <!-- Window for the Help Action -->
        <div class="container">
            <div class="col-md-12">
                {% block body %}{% endblock %}
                    <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="helpModal" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">{{ 'generic.help' | trans }}</h4>
                                    </div>
                                    <div class="modal-body">
                                    <!-- Help file -->
                                        {% include 'InnovaSelfBundle::Main/help.html.twig' %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'generic.ok' | trans }}</button>
                                  </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
            </div>
        </div>

        <!-- Jquery first then Bootstrap call -->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
