<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SELF{% endblock %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
        <link href="{{ asset('bundles/innovaself/css/main.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
            {% include 'InnovaSelfBundle::Main/navbarBlock.html.twig' %}
        {% endblock %}

        <div id="body" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flash-messages">
                        {% if isMaintenanceEnabled() %}
                            <div id="alert-maintenance" class="alert alert-warning">{{ getMaintenanceText() }}</div>
                        {% endif %}
                    </div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        SELF - Système d’Evaluation en Langues à visée Formative.
                        {#
                        <span class="pull-right">
                            <span class="btn btn-default btn-xs change-locale">
                                <span class="glyphicon glyphicon-globe"> </span> {{ 'menu.language_change' | trans }}
                            </span>
                        </span>
                        #}
                    </div>
                </div>
            </div>
        </div>

        {% include 'InnovaSelfBundle::Main/helpModale.html.twig' %}
        {# {% include 'InnovaSelfBundle::Main/localeModale.html.twig' %} #}
        
        {% block javascripts %}
            {% javascripts filter='yui_js' output='js/compiled/javascripts.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery-1.11.2.min.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery-ui-1.11.2.min.js'
                '@InnovaSelfBundle/Resources/public/js/lib/bootstrap-3.1.1.min.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery.restfulizer.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery.cookie.min.js'
                '@InnovaSelfBundle/Resources/public/js/main.js'
                '@InnovaSelfBundle/Resources/public/js/flashMessages.js'
                %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts filter='yui_js' output='js/compiled/translations.js'
                'bundles/bazingajstranslation/js/translator.min.js'
                'js/translations/config.js'
                'js/translations/*/*.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script type="text/javascript" src="http://localhost:3000/client.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/innovaself/js/messages.js') }}"></script>
        {% endblock %}
    </body>
</html>
<!-- {{ get_hostname() }} -->
