<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SELF{% endblock %}</title>
        {% stylesheets filter='cssrewrite, ?yui_css' output='css/compiled/style.css'
            'bundles/innovaself/css/jquery-ui.css'
            'bundles/innovaself/css/main.css'
            'bundles/innovaself/css/boostraptheme.css'
        %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'InnovaSelfBundle::Main/nav.html.twig' with {page_title: block('page_title')} %}
        <div id="body" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flash-messages"></div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'InnovaSelfBundle::Main/footer.html.twig' %}
        {% include 'InnovaSelfBundle::Main/helpModale.html.twig' %}
        {% include 'InnovaSelfBundle::Main/localeModale.html.twig' %}
        {% block javascripts %}
            {# MISC JS #}
            {% javascripts filter='?yui_js' output='js/compiled/javascripts.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery-1.11.2.min.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery-ui-1.11.2.min.js'
                '@InnovaSelfBundle/Resources/public/js/lib/bootstrap-3.1.1.min.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery.restfulizer.js'
                '@InnovaSelfBundle/Resources/public/js/lib/jquery.cookie.min.js'
                '@InnovaSelfBundle/Resources/public/js/main.js'
                '@InnovaSelfBundle/Resources/public/js/flashMessages.js'
                '@InnovaSelfBundle/Resources/public/js/register.js'
                'bundles/bazingajstranslation/js/translator.min.js'
                'bundles/fosjsrouting/js/router.js'
                'js/translations/config.js'
                'js/translations/*/fr.js'
                'js/translations/*/en.js'
                'js/translations/*/it.js'
                'js/translations/*/cn.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {# ROUTER #}
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {# FAYE NODE SERVER #}
            <script type="text/javascript" src="{{ faye_server }}/client.js"></script>
            {% include 'InnovaSelfBundle::Main/nodeMessage.html.twig' %}
        {% endblock %}
    </body>
</html>
<!-- {{ get_hostname() }} -->
