{% set mediaType = proposition.media.mediaType.name %}

<div class="col-md-{{ propWidth }}">
    <div dropzoneId="subquestion{{ proposition.id }}" id="droppable-{{ proposition.id }}" class="dropzone source">
        <div class="draggable answer-APP"  propositionId="{{ proposition.id }}">
             <!-- <span class="glyphicon glyphicon-move touch-me"></span> -->
            {% if mediaType == "texte" %}
                    <div class="answer-APP-text">{{ proposition.media.description | raw }}</div>
            {% elseif mediaType == "audio" %}
                    {{ macros.audio(proposition.id, proposition.media, "audio.png", 100, 0, "") }}
            {% elseif mediaType == "image" %}
            {{ macros.imageAPP(proposition.media.id, proposition.media, 'player.tooltip.enlarge' | trans, "app"~question.subquestions |length ) }}
            {% endif %}
        </div>
        {% if mediaType == "image" %}
            {{ macros.modale(proposition.media.id, proposition.media, 'player.tooltip.enlarge' | trans) }}
        {% endif %}
    </div>
</div>
