{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test edit</h1>

	{{ form_start(edit_form) }}
    	{{ form_errors(edit_form) }}
	  	<div class="form-group">
	    	<label for="name">{{ form_label(edit_form.name) }}</label>
			{{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
	  	</div>

	  	{% do edit_form.submit.setRendered %}

	  	{{ form_rest(edit_form) }}

	  	<button type="submit" class="btn btn-primary">Update</button>
	{{ form_end(edit_form) }}

	<hr>

  	{{ form_start(delete_form) }}
  		{{ form_errors(delete_form) }}
	  	<a href="{{ path('test') }}" type="submit" class="btn btn-default">Back to the list</a>
  		{{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
  		{{ form_rest(delete_form) }}
  	{{ form_start(delete_form) }}

{% endblock %}
