{% extends '::base.html.twig' %}

{% block body -%}

{% if checkRight("right.createtest") %}                                                                               
    <a class="btn btn-default btn-sm" href="{{ path('editor_test_create') }}">
        <span class="glyphicon glyphicon-plus"></span> {{ 'editor.test.create' | trans }}
    </a>
{% endif %}

<hr/>

{% if tests|length < 1 %}
    Il n'y a aucun test de créé actuellement.
{% else %}

    {% set canEditRights = false %} 
    {% if checkRight("right.editrightstest") %}
        {% set canEditRights = true %} 
    {% endif %}

<h3>{{ 'editor.test.list' | trans }}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'editor.test.name' | trans }}</th>
            <th class="text-center">{{ 'editor.task.count' | trans }}</th>
            <th class="text-center">{{ 'editor.test.phased' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for i, test in tests %}
        <tr>
            <td>
                {{ test.name }}
            </td>
            <td class="text-center">
                {% if not test.phased %}
                    {{ test.orderQuestionnaireTests|length }}
                {% else %}
                    -
                {% endif %}
            </td>
            
            <td class="text-center">
                {% if test.phased %}
                    {{ 'generic.yes' | trans }}
                {% else %}
                    {{ 'generic.no' | trans }}
                {% endif %}
            </td>

            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Options <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        {% if canEditRights %}
                        <li>
                            <a href="{{ path('editor_test_rights', {'testId': test.id }) }}">
                                <span class="glyphicon glyphicon-lock"></span> Permissions
                            </a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.managesessiontest", test) %}
                        <li>
                            <a href="{{ path('editor_test_sessions', { 'testId': test.id } )}}">
                                <span class="glyphicon glyphicon-calendar"></span> {{ 'editor.session.manage' | trans }}
                            </a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.edittest", test) %}
                        <li>
                            <a  href="{{ path('editor_test_edit', { 'testId': test.id }) }}">
                                <span class="glyphicon glyphicon-cog"></span> {{ 'generic.edit' | trans }}
                            </a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.managetaskstest", test) %}
                        <li>
                            <a href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span> {{ 'editor.task.manage' | trans }}
                            </a>
                        </li>
                        {% endif %}

                        <li>
                            <a class="toggle-favorite" data-test-id="{{ test.id }}" href="#">
                                {% if test in app.user.favoritesTests %}
                                        <span class="glyphicon glyphicon-star"></span> {{ 'editor.test.remove_from_favorites' | trans }}
                                    
                                {% else %}
                                        <span class="glyphicon glyphicon-star-empty" ></span> {{ 'editor.test.add_to_favorites' | trans }}
                                {% endif %}
                            </a>
                        </li>
                     </ul>
                </div>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-test-list.js") }}"></script>
{% endblock %}
