{% extends '::base.html.twig' %}

{% block stylesheets -%}
    <link href="{{ asset("bundles/innovaself/css/select2.min.css") }}" rel="stylesheet" />
{% endblock %}

{% block body -%}

{% if rightUserTest.id is defined %}
	<a data-method="DELETE" href="{{ path('editor_test_rights_delete', {'testId': test.id, 'rightId': rightUserTest.id }) }}" class="btn btn-danger rest"> 
		Supprimer
   	</a>
{% endif %}
<hr/>

<h3> Droits </h3>
{{ form(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/select2.min.js") }}"></script>

	{% javascripts filter='yui_js' output='js/compiled/select2users.js'
        '@InnovaSelfBundle/Resources/public/js/select2_users.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
