{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/innovaself/css/main.css") }}" />
{% endblock %}

{% import "InnovaSelfBundle:Test:partials/macros.html.twig" as macros %}

{% if questionnaire.ListeningLimit == 1 %}
    {% set limit_listening_text = "écoute" %}
{% else %}
    {% set limit_listening_text = "écoutes" %}
{% endif %}

{% block body -%}
     <div class="row questionnaire-container">
        <div class="contexte">
            {% include "InnovaSelfBundle:Test/partials:contexte.html.twig" %}
        </div>
        <div class="consigne">
            {% include "InnovaSelfBundle:Test/partials:instruction.html.twig" %}
        </div>
        {# language = to have the color per language. #}
        <div class="col-md-12 central-{{ language }}">
            <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
                <div class="col-md-5 situation">
                    {% include "InnovaSelfBundle:Test/partials:texte.html.twig" %}
                </div>
                 <div class="col-md-7">
                    {% for question in questionnaire.questions %}
                        {% for i, subquestion in question.subquestions %}
                        <div class="subquestion">
                            {% if subquestion.typology.name  == "QRM" %}
                                {% include "InnovaSelfBundle:Test/partials:QRM.html.twig" %}
                            {% elseif subquestion.typology.name  == "QRU" %}
                                 {% include "InnovaSelfBundle:Test/partials:QRU.html.twig" %}
                            {% elseif subquestion.typology.name  == "VF" or subquestion.typology.name  == "VFPM" %}
                                {% include "InnovaSelfBundle:Test/partials:VF.html.twig" %}
                            {% elseif subquestion.typology.name  == "APPAT" %}
                                {% include "InnovaSelfBundle:Test/partials:APP.html.twig" %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
                <input type="hidden" id="totalTime" name="totalTime" value=""/>
                <input type="hidden" name="testId" value="{{ test.id }}"/>
                <input type="hidden" name="testName" value="{{ test.name }}"/>
                <input id="submit" type="submit" class="btn btn-default pull-right" value="{{ 'generic.validate' | trans }}"/>
            </form>
        </div>
        <div id="item-count">
            Item n° {{ counQuestionnaireDone + 1 }}/{{ test.questionnaires.count }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/main.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/dragAndDrop.js") }}"></script>
{% endblock %}