{% extends '::base.html.twig' %}

{% macro audio(id, src) %}
        <audio preload="auto" id="{{ id }}" class="item_audio">
            <source src="{{ asset('upload/audio/') ~ src }}.ogg" type="audio/ogg">
            <source src="{{ asset('upload/audio/') ~ src }}.mp3" type="audio/mp3">
            Votre navigateur est trop ancien.
        </audio>
        <span sound="{{ id }}" statut="pause" class="item_audio_button btn btn-default glyphicon glyphicon-play"></span>
{% endmacro %}

{% macro inputs(type, subquestionId, propositionId, text) %}
    <label class="{{ type }}-inline">
        <input type="{{ type }}" name="subquestion{{ subquestionId }}[]" id="proposition{{ propositionId }}" value="{{ propositionId }}"> 
        {{ text }}
    </label>
{% endmacro %}

{% import _self as audio %}
{% import _self as inputs %}

{% set elementCount = 0 %}
{% if (questionnaire.questions|length == 1) and (questionnaire.audioInstruction == "") %}
    {% set consigne = questionnaire.questions[0].audioUrl %}
{% else %}
    {% set consigne = questionnaire.audioInstruction %}
{% endif %}

{% block body -%}

    
    <div class="row">
        <div class="col-md-4">
            {% if consigne != "" %}
                {% set elementCount =  elementCount + 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="badge pull-left">{{ elementCount }}</span>&nbsp;Écoutez la consigne</h4></div>
                    <div class="panel-body text-center">
                    {{ audio("instruction", consigne) }}
                    </div>
                </div> 
            {% endif %}

            {% if questionnaire.audioContext != "" %}
                {% set elementCount =  elementCount + 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="badge pull-left">{{ elementCount }}</span>&nbsp;Écoutez le contexte</h4></div>
                    <div class="panel-body text-center">
                    {{ audio("context", questionnaire.audioContext) }}
                    </div>
                </div>
            {% endif %}
        </div>

         <div class="col-md-8">
            {% set elementCount =  elementCount + 1 %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h4><span class="badge pull-left">{{ elementCount }}</span>&nbsp;Écoutez le dialogue</h4></div>
                <div class="panel-body text-center">
                {{ audio("situtation", questionnaire.audioItem) }}
                </div>
            </div>


            <form id="form" action="{{ path('trace_submit') }}" method="post">
                <div class="panel panel-primary">
                {% set elementCount =  elementCount + 1 %}
                    <div class="panel-heading"><h4><span class="badge pull-left">{{ elementCount }}</span>&nbsp;{{ questionnaire.instruction }}</h4></div>
                    <div class="panel-body">
                        {% for question in questionnaire.questions %}
                            {% if questionnaire.questions|length > 1 %}
                                <h4>Question {{ question.id }} {{ question.instruction }} {{ audio("question"+question.id, question.audioUrl) }}</h4>
                            {% endif %}
                            {% for subquestion in question.subquestions %}
                            <h4> {{ subquestion.title }}</h4>
                            <p>
                                {% if subquestion.typology == "VF" %}
                                {{ audio("subquestion"+subquestion.id, subquestion.audioUrl) }}
                                {% endif %}
                                {% for proposition in subquestion.propositions %}
                                    {% if subquestion.typology == "QRU" %}
                                    <p>
                                        {{ audio("proposition"+proposition.id, proposition.audioUrl) }}
                                        {{ inputs("radio", subquestion.id, proposition.id, proposition.title) }}
                                    </p>
                                    {% elseif subquestion.typology == "QRM" %}
                                    <p>
                                        {{ audio("proposition"+proposition.id, proposition.audioUrl) }}
                                        {{ inputs("checkbox", subquestion.id, proposition.id, proposition.title) }}
                                    </p>
                                    {% elseif subquestion.typology == "VF" %}
                                        {{ inputs("radio", subquestion.id, proposition.id, proposition.title) }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div> 
                <input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
                <input type="hidden" id="totalTime" name="totalTime" value=""/>
                <input type="hidden" name="testId" value="{{ testId }}"/>

                <input id="submit" type="submit" class="pull-right btn btn-primary" value="Valider"/>
            </form>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/main.js") }}"></script>
{% endblock %}

