{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/innovaself/css/main.css") }}" />
{% endblock %}
{% macro audio(id, src, icon) %}
        <audio preload="auto" id="{{ id }}" class="item_audio">
            <source src="{{ asset('upload/audio/') ~ src }}.ogg" type="audio/ogg">
            <source src="{{ asset('upload/audio/') ~ src }}.mp3" type="audio/mp3">
            Votre navigateur est trop ancien.
        </audio>
        {% if icon == "default" %}
        <span sound="{{ id }}" statut="pause" class="item_audio_button btn btn-default glyphicon glyphicon-play"></span>
        {% else %}
        <img sound="{{ id }}" statut="pause" class="item_audio_button" height="80px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
        {% endif %}

{% endmacro %}

{% macro inputs(type, subquestionId, propositionId, text) %}
    <label class="{{ type }}-inline">
        <input type="{{ type }}" name="subquestion{{ subquestionId }}[]" id="proposition{{ propositionId }}" value="{{ propositionId }}"> 
        {{ text }}
    </label>
{% endmacro %}

{% import _self as audio %}
{% import _self as inputs %}

{% set elementCount = 0 %}
{% if (questionnaire.questions|length == 1) and (questionnaire.audioInstruction == "") %}
    {% set consigne = questionnaire.questions[0].audioUrl %}
{% else %}
    {% set consigne = questionnaire.audioInstruction %}
{% endif %}

{% block body -%}

    
    <div class="row">
        <div class="col-md-3">

            {% if questionnaire.audioContext != "" %}
                {% set elementCount =  elementCount + 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4>{{ 'test.field.context' | trans }}</h4></div>
                    <div class="panel-body text-center">
                    {{ audio("context", questionnaire.audioContext, "bulles4.png") }}
                    </div>
                </div>
            {% endif %}


            {% if consigne != "" %}
                {% set elementCount =  elementCount + 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h4>{{ 'test.field.instruction' | trans }}</h4></div>
                    <div class="panel-body text-center">
                    {{ audio("instruction", consigne, "bulles3.png") }}
                    </div>
                </div> 
            {% endif %}
        </div>

        <div id="main-block" class="col-md-9 primary">
            <div class="col-md-4">
                <div id="situation" class="text-center">
                    <h4>{{ 'test.field.dialogue' | trans }} <br/>(X écoutes possibles)</h4>
                    {{ audio("situtation", questionnaire.audioItem, "bulles2.png") }}
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <form id="form" action="{{ path('trace_submit') }}" method="post">
                    <h4>{{ questionnaire.instruction }}</h4>
                    {% for question in questionnaire.questions %}
                        {% if questionnaire.questions|length > 1 %}
                            <h4>Question {{ question.id }} {{ question.instruction }} {{ audio("question"+question.id, question.audioUrl, "default") }}</h4>
                        {% endif %}
                        {% for subquestion in question.subquestions %}
                        <h4> {{ subquestion.title }}</h4>
                        <p>
                            {% if subquestion.typology == "VF" %}
                            {{ audio("subquestion"+subquestion.id, subquestion.audioUrl, "bulles6.png") }}
                            {% endif %}
                            {% for proposition in subquestion.propositions %}
                                {% if subquestion.typology == "QRU" %}
                                <p>
                                    {{ audio("proposition"+proposition.id, proposition.audioUrl, "bulles6.png") }}
                                    {{ inputs("radio", subquestion.id, proposition.id, proposition.title) }}
                                </p>
                                {% elseif subquestion.typology == "QRM" %}
                                <p>
                                    {{ audio("proposition"+proposition.id, proposition.audioUrl, "bulles6.png") }}
                                    {{ inputs("checkbox", subquestion.id, proposition.id, proposition.title) }}
                                </p>
                                {% elseif subquestion.typology == "VF" %}
                                    {{ inputs("radio", subquestion.id, proposition.id, proposition.title) }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        {% endfor %}
                    {% endfor %}
                       
                    
                    <input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
                    <input type="hidden" id="totalTime" name="totalTime" value=""/>
                    <input type="hidden" name="testId" value="{{ testId }}"/>
            
                    <input id="submit" type="submit" class="pull-right btn btn-primary" value="{{ 'generic.validate' | trans }}"/>
                 </form>
            </div>               
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/main.js") }}"></script>
{% endblock %}

