{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/innovaself/css/main.css") }}" />
{% endblock %}

{% macro audio(id, source, icon, height, limitAudio, tooltip) %}
        <audio preload="auto" id="{{ id }}" class="item_audio">
            <source src="{{ asset('upload/media/') ~ source }}.mp3" type="audio/mp3">
            <source src="{{ asset('upload/media/') ~ source }}.ogg" type="audio/ogg">
            Votre navigateur est trop ancien.
        </audio>
        <img rel="tooltip"  data-original-title="{{ tooltip }}" data-listened=0 data-limit={{ limitAudio }} sound="{{ id }}" statut="pause" class="item_audio_button" height="{{ height }}px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
{% endmacro %}

{% macro inputs(type, subquestionId, propositionId, text) %}
    <label class="{{ type }}-inline">
        <input type="{{ type }}" name="subquestion{{ subquestionId }}[]" id="proposition{{ propositionId }}" value="{{ propositionId }}" required>
        {{ text }}
    </label>
{% endmacro %}

{% import _self as audio %}
{% import _self as inputs %}

{#
{% if (questionnaire.questions|length == 1) and (questionnaire.audioInstruction == "") %}
    {% set consigne = questionnaire.questions[0].audioUrl %}
{% else %}
    {% set consigne = questionnaire.audioInstruction %}
{% endif %}
#}


{% if questionnaire.ListeningLimit == 1 %}
    {% set limit_listening_text = "écoute" %}
{% else %}
    {% set limit_listening_text = "écoutes" %}
{% endif %}

{% block body -%}

    {% set bulleCountVf = 0 %}
     <div class="row col-md-12 test-container">
         <div class="row col-md-12 main">

            {% if questionnaire.mediaContext != "" %}
            <div class="contexte">
                {{ audio.audio("context", questionnaire.mediaContext.url, "contexte.png", 90, 0, "Ecouter le contexte dans lequel se déroule cette situation") }}
            </div>
            {% endif %}

            {% if questionnaire.mediaInstruction != "" %}
            <div class="consigne">
                {{ audio.audio("instruction", questionnaire.mediaInstruction.url, "oignon.png", 90, 0, "Ecouter la consigne didactique") }}
            </div>
            {% else %}
            <div class="consigne">
                {{ audio.audio("instruction", questionnaire.questions[0].subquestions[0].mediaAmorce.url, "oignon.png", 90, 0, "Ecouter la consigne didactique") }}
            </div>
            {% endif %}

            <div class="row col-md-12 pull-right central">
                <form id="main_form" action="{{ path('trace_submit') }}" method="post">
                     <div class="col-md-4 col-md-offset-1 situation vertical-align-center">
                        <div class="situation-icon">
                            {% if questionnaire.dialogue == 1 %}
                                {{ audio.audio("situtation", questionnaire.mediaText.url, "situation_dialogue.png", 120, questionnaire.ListeningLimit, "Ecouter la situation de départ") }}
                            {% else %}
                                {{ audio.audio("situtation", questionnaire.mediaText.url, "situation_monologue.png", 120, questionnaire.ListeningLimit, "Ecouter la situation de départ") }}

                            {% endif %}
                            <div>Reste <span data-limit={{ questionnaire.ListeningLimit }} id="limit_listening">{{ questionnaire.ListeningLimit }}</span> <span id="limit_listening_text">{{ limit_listening_text }}</span> </div>
                        </div>
                    </div>
                     <div class="row col-md-6 col-md-offset-1 proposition">
                        <div class="proposition-icon">
                            {% for question in questionnaire.questions %}
                                {% for subquestion in question.subquestions %}
                                    {% set bulleCount = 0 %}
                                <h4> {{ subquestion.title }}</h4>
                                <p>
                                    {% if subquestion.typology.name == "VF" and subquestion.media!= "" %}
                                        {% set bulleCountVf = bulleCountVf + 1 %}
                                        {{ audio.audio("subquestion"+subquestion.id, subquestion.media.url, "bulle"~ bulleCountVf ~".png", 90, 0, "Ecouter cette proposition de réponse") }}
                                    {% endif %}
                                    {% for proposition in subquestion.propositions %}
                                        {% set bulleCount = bulleCount + 1 %}
                                        {% if subquestion.typology.name == "QRU" %}
                                        <p>
                                            {{ audio.audio("proposition"+proposition.id, proposition.media.url, "bulle"~ bulleCount ~".png", 90, 0, "Ecouter cette proposition de réponse") }}
                                            {{ inputs.inputs("radio", subquestion.id, proposition.id, proposition.title) }}
                                        </p>
                                        {% elseif subquestion.typology.name == "QRM" %}
                                        <p>
                                            {{ audio.audio("proposition"+proposition.id, proposition.media.url,  "bulle"~ bulleCount ~".png", 90, 0, "Ecouter cette proposition de réponse") }}
                                            {{ inputs.inputs("checkbox", subquestion.id, proposition.id, proposition.title) }}
                                        </p>
                                        {% elseif subquestion.typology.name == "VF" %}
                                            {{ inputs.inputs("radio", subquestion.id, proposition.id, proposition.media.name, 90, 0, "Ecouter cette proposition de réponse") }}
                                            {% if subquestion.media == "" %}
                                                <br/>
                                            {% endif %}
                                        {% elseif subquestion.typology.name == "VFPM" %}
                                            {{ inputs.inputs("radio", subquestion.id, proposition.id, proposition.media.name, 90, 0, "Ecouter cette proposition de réponse") }}
                                            {% if subquestion.media == "" %}
                                                <br/>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
                    <input type="hidden" id="totalTime" name="totalTime" value=""/>
                    <input type="hidden" name="testId" value="{{ test.id }}"/>
                    <input id="submit" type="submit" class="pull-right btn btn-default" value="{{ 'generic.validate' | trans }}"/>
                </form>
            </div>
        </div>
        <div class="row col-md-12">
             <div class="row col-md-2 col-md-offset-10 item-count">
                Item n° {{ counQuestionnaireDone + 1 }}/{{ test.questionnaires.count }}
            </div>
        </div>
     </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/main.js") }}"></script>
{% endblock %}

