{% extends '::base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset("bundles/innovaself/css/navWizard.css") }}" rel="stylesheet" />
        <link href="{{ asset("bundles/innovaself/css/main.css") }}" rel="stylesheet" />
        <link href="{{ asset("bundles/innovaself/buid/mediaelementplayer.css") }}" rel="stylesheet" />
        <link href="https://raw.github.com/johndyer/mediaelement/master/build/mediaelementplayer.css" rel="stylesheet">
        <link href="{{ asset("bundles/innovaself/css/mediaelementplayer.css") }}" rel="stylesheet" />
{% endblock %}

{% import "InnovaSelfBundle:Test:partials/macros.html.twig" as macros %}

{% if questionnaire.ListeningLimit <= 1 %}
    {% set limit_listening_text = "écoute" %}
{% else %}
    {% set limit_listening_text = "écoutes" %}
{% endif %}

{% block body -%}
    {% set listening = app.session.get('listening') %}
     <div class="row questionnaire-container">
        <div class="contexte">
            {% include "InnovaSelfBundle:Test/partials:contexte.html.twig" %}
        </div>
        <div class="consigne">
            {% include "InnovaSelfBundle:Test/partials:instruction.html.twig" %}
        </div>

        {# language = to have the color per language. #}
        <div class="col-md-12 central-{{ language }}">
            <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
                <div class="col-md-5 situation">
                    {% include "InnovaSelfBundle:Test/partials:texte.html.twig" %}
                </div>

                <div class="col-md-7">
                    {% for question in questionnaire.questions %}
                        {% if question.typology.name == "TQRU" %}

                            <div class="well well2">

                                {# Pour avoir le Wizard #}
                                {# Voir : http://leaddyno.github.io/bootstrap-nav-wizard/ #}
                                <ul class='nav nav-wizard' id="register-form-tabs">
                                   <li class='active'><a href='#step0' data-toggle="tab">Part 1</a></li>
                                   <li><a href='#step1' data-toggle="tab">Part 2</a></li>
                                </ul>

                                <div id="myTabContent" class="tab-content">

                                    {% for i, subquestion in question.subquestions %}
                                        {% if i == 0 %}
                                        {# Onglet 1 #}
                                            <div class="tab-pane fade active in" id="step{{i}}">
                                                <div class="subquestion">
                                                    {% include "InnovaSelfBundle:Test/partials:TQRU.html.twig" %}
                                                </div>
                                            </div>
                                            {% else %}
                                        {# Onglet >1 #}
                                            <div class="tab-pane fade" id="step{{i}}">
                                                <div class="subquestion">
                                                    {% include "InnovaSelfBundle:Test/partials:TQRU.html.twig" %}
                                                </div>
                                            </div>
                                            {% endif %}
                                    {% endfor %}

                                </div> {# myTabContent #}

                            </div> {# well #}
                        {% else %}
                            {% for i, subquestion in question.subquestions %}
                            <div class="subquestion">
                                {% if subquestion.typology.name  == "QRM" %}
                                    {% include "InnovaSelfBundle:Test/partials:QRM.html.twig" %}
                                {% elseif subquestion.typology.name  == "QRU" %}
                                     {% include "InnovaSelfBundle:Test/partials:QRU.html.twig" %}
                                {% elseif subquestion.typology.name  == "VF" or subquestion.typology.name  == "VFPM" %}
                                    {% include "InnovaSelfBundle:Test/partials:VF.html.twig" %}
                                {% elseif subquestion.typology.name  == "APPAT" %}
                                    {% set vars = {'subquestion0' : question.subquestions[0]} %}
                                    {% include "InnovaSelfBundle:Test/partials:APP.html.twig" with vars %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
                <input type="hidden" id="totalTime" name="totalTime" value=""/>
                <input type="hidden" name="testId" value="{{ test.id }}"/>
                <input type="hidden" name="testName" value="{{ test.name }}"/>
                <input id="submit" type="submit" class="pull-right btn btn-default reset-listening-number" value="{{ 'generic.validate' | trans }}"/>
            </form>
        </div>
        <div id="item-count">
            Item n° {{ counQuestionnaireDone + 1 }}/{{ test.questionnaires.count }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/mediaElement.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/dragAndDrop.js") }}"></script>
{% endblock %}