{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/innovaself/css/main.css") }}" />
{% endblock %}


{% macro audio(id, src, icon, height, limit) %}
        <audio preload="auto" id="{{ id }}" class="item_audio">
            <source src="{{ asset('upload/audio/') ~ src }}.ogg" type="audio/ogg">
            <source src="{{ asset('upload/audio/') ~ src }}.mp3" type="audio/mp3">
            Votre navigateur est trop ancien.
        </audio>
        {% if icon == "default" %}
        <span sound="{{ id }}" statut="pause" class="item_audio_button btn btn-default glyphicon glyphicon-play"></span>
        {% else %}
        <img data-listened=0 data-limit={{ limit }} sound="{{ id }}" statut="pause" class="item_audio_button" height="{{ height }}px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
        {% endif %}

{% endmacro %}

{% macro inputs(type, subquestionId, propositionId, text) %}
    <label class="{{ type }}-inline">
        <input type="{{ type }}" name="subquestion{{ subquestionId }}[]" id="proposition{{ propositionId }}" value="{{ propositionId }}" required> 
        {{ text }}
    </label>
{% endmacro %}

{% import _self as audio %}
{% import _self as inputs %}

{#
{% if (questionnaire.questions|length == 1) and (questionnaire.audioInstruction == "") %}
    {% set consigne = questionnaire.questions[0].audioUrl %}
{% else %}
    {% set consigne = questionnaire.audioInstruction %}
{% endif %}
#}

{% if questionnaire.duration.id == 1 %}
    {% set limit_listening_text = "1 écoute possible" %}
    {% set limit_listening = 1 %}
{% else %}
    {% set limit_listening_text = "2 écoutes possibles" %}
    {% set limit_listening = 2 %}
{% endif %}

{% block body -%}
    {% set bulleCount = 0 %}
    {% set bulleCountVf = 0 %}
     <div class="row col-md-12 test-container">
         <div class="row col-md-12 main">
            
            {% if questionnaire.audioContext != "" %}
            <div class="contexte">
                {{ audio("context", questionnaire.audioContext, "contexte.png", 70, 0) }}
            </div>
            {% endif %}
            
            {% if questionnaire.audioInstruction != "" %}
            <div class="consigne">
                {{ audio("instruction", questionnaire.audioInstruction, "oignon.png", 70, 0) }}
            </div>
            {% endif %}

            <div class="row col-md-12 pull-right central">
                <form id="main_form" action="{{ path('trace_submit') }}" method="post">
                     <div class="col-md-4 col-md-offset-1 situation vertical-align-center">
                        <div class="situation-icon">
                            {{ audio("situtation", questionnaire.audioItem, "situation.png", 120, limit_listening) }}
                            <div>{{ limit_listening_text }} - <span id="limit_listening">0</span>/{{ limit_listening }}</div>
                        </div>
                    </div>
                     <div class="row col-md-6 col-md-offset-1 proposition">
                        <div class="proposition-icon">
                            {% for question in questionnaire.questions %}
                                {% if questionnaire.questions|length > 1 %}
                                    <h4>{{ question.instruction.name }} {{ audio("question"+question.id, question.audioUrl, "default") }}</h4>
                                {% endif %}
                                {% for subquestion in question.subquestions %}
                                <h4> {{ subquestion.title }}</h4>
                                <p>
                                    {% if subquestion.typology.name == "VF" and subquestion.audioUrl!= "" %}
                                    {% set bulleCountVf = bulleCountVf + 1 %}
                                    {{ audio("subquestion"+subquestion.id, subquestion.audioUrl, "bulle"~ bulleCountVf ~".png", 70, 0) }}
                                    {% endif %}
                                    {% for proposition in subquestion.propositions %}
                                        {% set bulleCount = bulleCount + 1 %}
                                       
                                        {% if subquestion.typology.name == "QRU" %}
                                        <p>
                                            {{ audio("proposition"+proposition.id, proposition.audioUrl, "bulle"~ bulleCount ~".png", 70, 0) }}
                                            {{ inputs("radio", subquestion.id, proposition.id, proposition.title) }}
                                        </p>
                                        {% elseif subquestion.typology.name == "QRM" %}
                                        <p>
                                            {{ audio("proposition"+proposition.id, proposition.audioUrl,  "bulle"~ bulleCount ~".png", 70, 0) }}
                                            {{ inputs("checkbox", subquestion.id, proposition.id, proposition.title) }}
                                        </p>
                                        {% elseif subquestion.typology.name == "VF" %}
                                            {{ inputs("radio", subquestion.id, proposition.id, proposition.title, 70, 0) }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
                    <input type="hidden" id="totalTime" name="totalTime" value=""/>
                    <input type="hidden" name="testId" value="{{ test.id }}"/>
                    <input id="submit" type="submit" class="pull-right btn btn-default" value="{{ 'generic.validate' | trans }}"/>
                </form>
            </div>
        </div>   
        <div class="row col-md-12">
             <div class="row col-md-3 col-md-offset-9 item-count">
                Item n° {{ counQuestionnaireDone + 1 }}/{{ test.questionnaires.count }}
            </div>
          
        </div> 
     </div>    

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/main.js") }}"></script>
{% endblock %}

