{% macro displayMedia(test, questionnaire, media) %}
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    {% set mediaType = media.mediaType.name %}
    {% if mediaType == "texte" %}
       {{ media.description | raw | striptags }}
    {% elseif mediaType == "image" %}
        <img src="{{ asset('upload/media/') ~ media.url }}" height="180px"/>
    {% elseif mediaType == "video" %}
        <video id="video" controls>
            <source src="{{ asset('upload/media/') ~ media.url }}.webm" poster="{{ asset('bundles/innovaself/images/') ~ "video.png"}}" >
            Your browser does not support the video tag.
        </video>
        {{ macros.listeningLimit(media) }}
    {% elseif mediaType == "audio" %}
        <audio controls preload="auto">
            <source src="{{ asset('upload/media/') ~ media.url }}.mp3" type="audio/mp3">
            <source src="{{ asset('upload/media/') ~ media.url }}.ogg" type="audio/ogg">
            Votre navigateur est trop ancien.
        </audio>
        {{ macros.listeningLimit(test, questionnaire, media) }}
    {% endif %}
{% endmacro %}

{% macro inputs(subquestion, proposition) %}
    {% if subquestion.typology.name == "QRU" or subquestion.typology.name == "TQRU" or subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVFNM" or subquestion.typology.name == "TVF" %}
        {% set type = "radio" %}
    {% else %}
        {% set type = "checkbox" %}
    {% endif %}
    <input disabled class="proposition-input" type="{{ type }}" name="{{ subquestion.id }}[]" id="input-proposition{{ proposition.id }}" value="{{ proposition.id }}" required />
{% endmacro %}

{% macro isRightAnswer(proposition) %}
    {% if proposition.rightAnswer == true %}
        <button rel="tooltip" data-original-title="Changer en mauvaise réponse" type="button" class="btn btn-success btn-xs make-it-right-or-wrong" data-proposition-id="{{ proposition.id }}">Bonne réponse</button>
    {% else %}
        <button rel="tooltip" data-original-title="Changer en bonne réponse" type="button" class="btn btn-danger btn-xs make-it-right-or-wrong" data-proposition-id="{{ proposition.id }}">Mauvaise réponse</button>
    {% endif %}
{% endmacro %}

{% macro deleteProposition(proposition) %}
    <button rel="tooltip" data-original-title="Supprimer la proposition" class="btn btn-default btn-xs delete-proposition" data-subquestion-id="{{ proposition.subquestion.id }}" data-proposition-id="{{ proposition.id }}">
        <span class="glyphicon glyphicon-remove "></span>
    </button>
{% endmacro %}

{% macro deleteAmorce(subquestion) %}
    <button rel="tooltip" data-original-title="Supprimer l'amorce" class="btn btn-default btn-xs delete-amorce" data-subquestion-id="{{ subquestion.id }}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
{% endmacro %}

{% macro listeningLimit(test, questionnaire, media) %}
    {% set limit = 0 %}
    {% for limits in media.mediaLimits %}
        {% if limits.test == test and limits.questionnaire == questionnaire %}
        {% set limit = limits.listeningLimit %}
        {% endif %}
    {% endfor %}
     <input style="color:black;" value="{{ limit }}" class="media-listening-limit" data-media-id="{{ media.id }}" type="number" min="0" step="1" pattern="\d+"/>
{% endmacro %}