{% macro displayMedia(media) %}
    {% set mediaType = media.mediaType.name %}
    {% if mediaType == "texte" %}
       {{ media.description | raw | striptags }}
    {% elseif mediaType == "image" %}
        <img src="{{ asset('upload/media/') ~ media.url }}" height="180px"/>
    {% elseif mediaType == "video" %}
        <video id="video" controls>
            <source src="{{ asset('upload/media/') ~ media.url }}.webm" poster="{{ asset('bundles/innovaself/images/') ~ "video.png"}}" >
            Your browser does not support the video tag.
        </video>
    {% elseif mediaType == "audio" %}
        <audio controls preload="auto">
            <source src="{{ asset('upload/media/') ~ media.url }}.mp3" type="audio/mp3">
            <source src="{{ asset('upload/media/') ~ media.url }}.ogg" type="audio/ogg">
            Votre navigateur est trop ancien.
        </audio>
    {% endif %}
{% endmacro %}


{% macro inputs(subquestion, proposition) %}
    {% if subquestion.typology.name == "QRU" or subquestion.typology.name == "TQRU" or subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVFNM" or subquestion.typology.name == "TVF" %}
        {% set type = "radio" %}
    {% else %}
        {% set type = "checkbox" %}
    {% endif %}
    <input disabled class="proposition-input" type="{{ type }}" name="{{ subquestion.id }}[]" id="input-proposition{{ proposition.id }}" value="{{ proposition.id }}" required />
{% endmacro %}

{% macro isRightAnswer(proposition) %}
    {% if proposition.rightAnswer == true %}
        <button type="button" class="btn btn-success btn-xs make-it-right-or-wrong" data-proposition-id="{{ proposition.id }}">Bonne réponse</button>
    {% else %}
        <button type="button" class="btn btn-danger btn-xs make-it-right-or-wrong" data-proposition-id="{{ proposition.id }}">Mauvaise réponse</button>
    {% endif %}
{% endmacro %}


{% macro deleteProposition(proposition) %}
    <span data-subquestion-id="{{ proposition.subquestion.id }}" data-proposition-id="{{ proposition.id }}" class="glyphicon glyphicon-remove btn btn-default btn-sm delete-proposition"></span>
{% endmacro %}
