<div class="modal fade" id="modal-media-type" tabindex="-1" role="dialog" aria-labelledby="modal-media-typeLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ 'editor.media.choose' | trans }}</h4>
			</div>
			<div class="modal-body">
				<span media-type="audio" class="btn btn-default glyphicon glyphicon-headphones media-type-choice">
					{{ 'editor.media.audio' | trans }}
				</span>
				<span media-type="image" class="btn btn-default glyphicon glyphicon-picture media-type-choice">
					{{ 'editor.media.picture' | trans }}
				</span>
				<span media-type="video" class="btn btn-default glyphicon glyphicon-facetime-video media-type-choice">
					{{ 'editor.media.video' | trans }}
				</span>
				<span media-type="texte" class="btn btn-default glyphicon glyphicon glyphicon-align-center media-type-choice">
					{{ 'editor.media.text' | trans }}
				</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
			</div>
		</div>
	</div>
</div>

{# TEXTE #}
<div class="modal fade" id="modal-create-texte" tabindex="-1" role="dialog" aria-labelledby="modal-create-texteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ 'editor.media.text' | trans }}</h4>
			</div>
			<div class="modal-body">
				<label for="texte-name">{{ 'editor.media.name' | trans }}</label>
    			<input type="text" class="form-control media-name" id="texte-name" value=""/>
    			<br/>
    			<label for="texte-description">{{ 'editor.media.description' | trans }}</label>
				<textarea id="texte-description" class="tinymce media-description"></textarea>
				<input class="media-id" type="hidden" id="texte-id"/>
			</div>
			<div class="modal-footer">
				<button id="create-texte-btn" type="button" class="btn btn-primary create-media-btn">{{ 'generic.save' | trans }}</button>
				<button style="display:none" data-media-type="texte" id="edit-texte-btn" type="button" class="btn btn-primary edit-media-btn">{{ 'generic.edit' | trans }}</button>
				<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
			</div>
		</div>
	</div>
</div>

{# IMAGE #}
<div class="modal fade" id="modal-create-image" tabindex="-1" role="dialog" aria-labelledby="modal-create-imageLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ 'editor.media.picture' | trans }}</h4>
			</div>
			<div class="modal-body">
				<form id="" enctype="multipart/form-data" >
					<label for="theme">{{ 'editor.media.name' | trans }}</label>
    				<input type="text" class="form-control media-name" id="image-name" value=""/>
    				<label for="theme">{{ 'editor.media.description' | trans }}</label>
    				<input type="text" class="form-control media-description" id="image-description" value=""/>

    				<label for="image-file">{{ 'editor.media.file' | trans }}</label>
					<input class="file media-file" data-file-type="image" id="image-file" name="userfile" type="file"/>
					<input class="media-id" type="hidden" id="image-id"/>
					<input class="media-url" type="hidden" id="image-url" value=""/>
				</form>
			</div>
			<div class="modal-footer">
				<button id="create-image-btn" type="button" disabled class="btn btn-primary create-media-btn">{{ 'generic.save' | trans }}</button>
				<button style="display:none" data-media-type="image" id="edit-image-btn" type="button" class="btn btn-primary edit-media-btn">{{ 'generic.edit' | trans }}</button>
				<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
			</div>
		</div>
	</div>
</div>


{# VIDEO #}
<div class="modal fade" id="modal-create-video" tabindex="-1" role="dialog" aria-labelledby="modal-create-videoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ 'editor.media.video' | trans }}</h4>
			</div>
			<div class="modal-body">
				<form id="" enctype="multipart/form-data" >
					<label for="video-name">{{ 'editor.media.name' | trans }}</label>
    				<input type="text" class="form-control media-name" id="video-name" value=""/>

    				<label for="video-description">{{ 'editor.media.description' | trans }}</label>
{#    				<input type="text" class="form-control media-description" id="video-description" value=""/> #}
					<textarea id="video-description" class="tinymce media-description"></textarea>
					<input class="media-id" type="hidden" id="texte-id"/>

    				<label for="video-file">{{ 'editor.media.file' | trans }}</label>
					<input class="file media-file" data-file-type="video" id="video-file" name="userfile" type="file"/>
					<input class="media-id" type="hidden" id="video-id"/>
					<input class="media-url" type="hidden" id="video-url" value=""/>
				</form>
			</div>
			<div class="modal-footer">
				<button id="create-video-btn" type="button" disabled class="btn btn-primary create-media-btn">{{ 'generic.save' | trans }}</button>
				<button style="display:none" data-media-type="video" id="edit-video-btn" type="button" class="btn btn-primary edit-media-btn">{{ 'generic.edit' | trans }}</button>
				<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
			</div>
		</div>
	</div>
</div>

{# AUDIO #}
<div class="modal fade" id="modal-create-audio" tabindex="-1" role="dialog" aria-labelledby="modal-create-audioLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ 'editor.media.audio' | trans }}</h4>
			</div>
			<div class="modal-body">
				<form id="" enctype="multipart/form-data" >
					<label for="audio-name">{{ 'editor.media.name' | trans }}</label>
    				<input type="text" class="form-control media-name" id="audio-name" value=""/>

    				<label for="audio-description">{{ 'editor.media.description' | trans }}</label>
					<textarea id="audio-description" class="tinymce media-description"></textarea>
					<input class="media-id" type="hidden" id="texte-id"/>
{#}    				<input type="text" class="form-control media-description" id="audio-description" value=""/> #}

    				<label for="audio-file">{{ 'editor.media.file' | trans }}</label>
					<input class="file media-file" data-file-type="audio" id="audio-file" name="userfile" type="file"/>
					<input class="media-id" type="hidden" id="audio-id"/>
					<input class="media-url" type="hidden" id="audio-url" value=""/>
				</form>
			</div>
			<div class="modal-footer">
				<button id="create-audio-btn" type="button" disabled class="btn btn-primary create-media-btn">{{ 'generic.save' | trans }}</button>
				<button style="display:none" data-media-type="audio" id="edit-audio-btn" type="button" class="btn btn-primary edit-media-btn">{{ 'generic.edit' | trans }}</button>
				<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-subquestion-identity" tabindex="-1" role="dialog" aria-labelledby="modal-subquestion-identityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'editor.subquestion.identity' | trans }}</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-subquestion-delete" tabindex="-1" role="dialog" aria-labelledby="modal-subquestion-identityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Suppression d'un item</h4>
            </div>
            <div class="modal-body">
            		<p>Êtes-vous sûr de vouloir supprimer cet item. Cela supprimera aussi les réponses associées, les traces des étudiants, etc.</p>
            		<input type="hidden" id="delete-subquestion-id" value=""/>
            	</div>
            <div class="modal-footer">
		<button id="delete-subquestion" type="button" class="btn btn-danger">{{ 'generic.yes' | trans }}</button>
		<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
	</div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lacunes-generate" tabindex="-1" role="dialog" aria-labelledby="modal-subquestion-identityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Génération lacunes</h4>
            </div>
            <div class="modal-body">
            		<p>Êtes-vous sûr de vouloir regénérer les lacunes. Si des réponses et des traces en rapport avec ces lacunes existent, celles-ci seront supprimées.</p>
            	</div>
            <div class="modal-footer">
		<button id="create-lacunes-confirmation" type="button" class="btn btn-primary">{{ 'generic.yes' | trans }}</button>
		<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
	</div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-listes-generate" tabindex="-1" role="dialog" aria-labelledby="modal-subquestion-identityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Génération listes de mots</h4>
            </div>
            <div class="modal-body">
            		<p>Êtes-vous sûr de vouloir regénérer les listes de mots. Si des réponses et des traces en rapport avec ces listes existent, celles-ci seront supprimées.</p>
            	</div>
            <div class="modal-footer">
		<button id="create-listes-confirmation" type="button" class="btn btn-primary">{{ 'generic.yes' | trans }}</button>
		<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
	</div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-confirm-distractor-delete" tabindex="-1" role="dialog" aria-labelledby="modal-subquestion-identityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{ 'editor.eec.distractor_delete' | trans }}</h4>
            </div>
            <div class="modal-body">
            		<p>{{ 'editor.eec.distractor_delete_confirm' | trans }}</p>
            	</div>
            <div class="modal-footer">
		<button id="confirm-distractor-delete" type="button" class="btn btn-primary">{{ 'generic.yes' | trans }}</button>
		<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
	</div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-confirm-blank-delete" tabindex="-1" role="dialog" aria-labelledby="modal-subquestion-identityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		<button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{ 'editor.eec.blank_delete' | trans }}</h4>
            </div>
            <div class="modal-body">
            		<p>{{ 'editor.eec.blank_delete_confirm' | trans }}</p>
            	</div>
            <div class="modal-footer">
		<button id="confirm-blank-delete" type="button" class="btn btn-primary">{{ 'generic.yes' | trans }}</button>
		<button type="button" class="btn btn-default close-modal" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
	</div>
        </div>
    </div>
</div>
