{% extends '::base.html.twig' %}

{% block body -%}

<h3>{{ 'message.send' | trans }} <b></h3>

<form method="post">
    <div class="form-group">
        {{ form_label(form.channel) }}
        {{ form_widget(form.channel) }}
    </div>

    <div id="message-user-group" class="form-group" style="display:none">
        {{ form_label(form.user) }}
        {{ form_widget(form.user) }}
    </div>

    <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
    </div>

    <div class="form-group text-right">
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>

    {{ form_widget(form._token) }}
</form>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $('#message_user').attr("required", false);

        $('#message_channel').change(function(event) {
            var choice = $("#message_channel option:selected").val();
            if(choice == "user"){
                $('#message-user-group').show();
                $('#message_user').attr("required", true);
            } else {
                $('#message-user-group').hide();
                $('#message_user').attr("required", false);
            }
        });
    });
</script>
{% endblock %}
