{% extends '::base.html.twig' %}

{% block body -%}

    {% if checkRight("right.createuser") %}
        <a href="{{ path('user_create') }}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'user.create' | trans }}
        </a>
    {% endif %}

    <hr/>

    {% if entities is not empty %}
    <h3>{{ 'user.list' | trans }}</h3>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#granted-users" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-file"></span> {{ 'user.admin_users' | trans }}
            </a>
        </li>
        <li>
            <a href="#all-users" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-list-alt"></span> {{ 'user.plural' | trans }}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="granted-users">
            <ul class="list-group">
                {% for entity in entities if "ROLE_SUPER_ADMIN" in entity.roles %}
                    <li class="list-group-item">
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">
                            {{ entity.username }}
                            {% if entity.lastname and entity.firstname %}
                            ({{ entity.lastname ~ " " ~ entity.firstname }})
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane" id="all-users">
             <ul class="list-group">
                {% for entity in entities if "ROLE_SUPER_ADMIN" not in entity.roles %}
                    <li class="list-group-item">
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">
                            {{ entity.username }}
                            {% if entity.lastname and entity.firstname %}
                            ({{ entity.lastname ~ " " ~ entity.firstname }})
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% endif %}
{% endblock %}
