{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'InnovaSelfBundle:User:_index_actions.html.twig' %}

    {% embed kitpages_data_grid.grid.default_twig with {'grid': grid} %}
        {% block kit_grid_filter %}

            <div class="panel panel-default">
                <div class="panel-body filters">
                    <div class="kit-grid-filter" id="user-filter">
                        {% if app.request.get(grid.filterFormName) or app.request.get(filterForm.vars.name) %}
                            <a href="{{ path( grid.requestCurrentRoute, grid.requestCurrentRouteParams ) }}"
                               id="{{grid.filterFormName}}_reset_button"
                               class="btn btn-primary pull-right">
                                <span class="glyphicon glyphicon-ban-circle"></span> Annuler filtres & recherche
                            </a>
                        {% endif %}

                        <form class="form-inline" action="{{ grid.requestUri }}" id="{{grid.filterFormName}}_form" method="GET">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       id="{{grid.filterFormName}}"
                                       value="{{ grid.filterValue }}"
                                       name="{{grid.filterFormName}}"
                                />
                            </div>

                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span> Rechercher
                            </button>
                        </form>

                        {{ form_start(filterForm, {'attr': {'class': 'kit-grid-filter form-inline'}}) }}
                            <div class="form-group">
                                {{ form_label(filterForm.minLastLogin) }} {{ form_widget(filterForm.minLastLogin) }}
                            </div>

                            <div class="form-group">
                                <label>
                                    {{ form_widget(filterForm.onlyAdmin) }} {{ filterForm.onlyAdmin.vars.label }}
                                </label>
                            </div>

                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-filter"></span> Filtrer
                            </button>
                        {{ form_end(filterForm) }}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block kit_grid_thead_column %}
            <th></th>
        {% endblock %}
        {% block kit_grid_tbody_column %}
            <td>
                <a href="{{ path('admin_user_show', { 'id': item['user.id'] }) }}">
                    <span class="btn btn-default">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </span>
                </a>
            </td>
        {% endblock %}

        {% block kit_grid_items %}
            {% if grid.itemList|length > 0 %}
                {{ parent() }}
            {% else %}
                <p class="alert alert-info">
                    <b>Aucun utilisateurs.</b>
                    {% if currentRouteParams|length > 0 %}
                        <br />Essayez de <a href="{{ path('admin_user_index') }}">supprimer vos filtres</a> ?
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}
