{% extends '::base.html.twig' %}

{% block body -%}
    {% if checkRight("right.edituser", user) %}
        <a href="{{ path('user_edit', {'userId': user.id } )}}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-pencil"></span> {{ 'user.edit' | trans }}
        </a>
    {% endif %}

    {% if checkRight("right.editpassworduser", user) %}
        <a href="{{ path('passwd_edit', {'userId': user.id } )}}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-lock"></span> Modifier le mot de passe
        </a>
    {% endif %}

    {% if checkRight("right.editrightsuser", user) %}
        <a class="btn btn-default btn-sm" href="{{ path('admin_user_rights', { 'userId': user.id }) }}">
            <span class="glyphicon glyphicon-lock"></span> {{ 'right.rights' | trans }}
        </a>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% if not user.hasRole('ROLE_ADMIN') and not user.hasRole('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('self_user_grant_role', {'userId': user.id, 'role': 'ROLE_ADMIN', 'token': token}) }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-knight"></span>
                Promouvoir en <b>Admin</b>
            </a>
        {% elseif not user.hasRole('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('self_user_ungrant_role', {'userId': user.id, 'role': 'ROLE_ADMIN', 'token': token}) }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-knight"></span>
                Retirer de <b>Admin</b>
            </a>
            <a href="{{ path('self_user_grant_role', {'userId': user.id, 'role': 'ROLE_SUPER_ADMIN', 'token': token}) }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-king"></span>
                Promouvoir en <b>SuperAdmin</b>
            </a>
        {% endif %}

        {% if user.hasRole('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('self_user_ungrant_role', {'userId': user.id, 'role': 'ROLE_SUPER_ADMIN', 'token': token}) }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-king"></span>
                Retirer de <b>SuperAdmin</b>
            </a>
        {% endif %}
    {% endif %}

    {% if user != app.user %}
        {% if checkRight("right.deleteuser", user) %}
            <a class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#delete-modal">
                <span class="glyphicon glyphicon-trash"></span> Supprimer l'utilisateur
            </a>
        {% endif %}
    {% else %}
         <a href="{{ path('self_user_edit' )}}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-pencil"></span> Editer mes informations
        </a>
    {% endif %}

    <hr/>

    <h2>Informations</h2>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>{{ 'user.login' | trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'user.name' | trans }}</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'user.firstname' | trans }}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email' | trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'registration.institution' | trans }}</th>
                <td>{{ user.institution ? user.institution.name }}</td>
            </tr>
            <tr>
                <th>{{ 'registration.course' | trans }}</th>
                <td>{{ user.course ? user.course.name }}</td>
            </tr>
            <tr>
                <th>{{ 'registration.subcourse' | trans }}</th>
                <td>{{ user.subcourse ? user.subcourse.name }}</td>
            </tr>
            <tr>
                <th>{{ 'registration.year' | trans }}</th>
                <td>{{ user.year ? user.year.name }}</td>
            </tr>
            <tr>
                <th>{{ 'user.motherTongue' | trans }}</th>
                <td>{{ user.motherTongue ? user.motherTongue }}</td>
            </tr>
            <tr>
                <th>{{ 'user.motherTongueOther' | trans }}</th>
                <td>{{ user.motherTongueOther ? user.motherTongueOther }}</td>
            </tr>
            <tr>
                <th>{{ 'user.lastLogin'|trans }}</th>
                <td>{{ user.lastLogin|date }}</td>
            </tr>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Roles</th>
                    <th>{{ user.roles|json_encode }}</th>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if sessions is defined %}
        <h2>Permissions</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'user.hasAnyGlobalRight' | trans }}</th>
                    <td>{{ hasAnyGlobalRight(user) ? "generic.yes"|trans : "generic.no" |trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'user.testsWithRights' | trans }}</th>
                    <td>
                        {% set rights = getTestsWithRights(user) %}
                        {% if rights|length > 0 %}
                            {% for right in rights %}
                            <a class="btn btn-default btn-xs" href="{{ path('editor_test_rights', { 'testId': right.target.id }) }}">
                                {{ right.target.name }}
                            </a>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'user.sessionsWithRights' | trans }}</th>
                    <td>
                        {% set rights = getSessionsWithRights(user) %}
                        {% if rights|length > 0 %}
                            {% for right in rights %}
                            <a class="btn btn-default btn-xs" href="{{ path('editor_session_rights', { 'sessionId': right.target.id }) }}">
                                {{ right.target.name }}
                            </a>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Concepteur</h2>

        <table class="table">
            <tr>
                <th>Tâches créées</th>
                <td>
                    <a href="{{ path('editor_questionnaires_by_author', {'id': user.id}) }}">
                        <b>{{ user.questionnaires|length }}</b>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Tâches révisées</th>
                <td>
                    <a href="{{ path('editor_questionnaires_by_author', {'id': user.id, 'revised': true}) }}">
                        <b>{{ user.revisedQuestionnaires|length }}</b>
                    </a>
                </td>
            </tr>
        </table>

        <h2>Traces de passation</h2>

        <ul class="list-group">
            {% if sessions|length > 0 %}
                {% for session in sessions %}
                    <li class="list-group-item">
                        <span
                            class="glyphicon glyphicon-record"
                            style="color: {{ session.actif ? 'green' : 'grey' }}"
                            title="Session {{ session.actif ? 'active' : 'inactive' }}"></span>

                        {% if checkRight("right.individualresultssession", session) %}
                            <a href="{{ path('editor_test_session_results', {'sessionId': session.id }) }}">
                                {{ session.name }}
                            </a>
                        {% else %}
                            {{ session.name }}
                        {% endif %}
                        <span class="text-muted">{{session.test.name}}</span>
                        <span class="buttons pull-right">
                            <a class="btn btn-default btn-xs" href="{{ path('get-session-traces', {'sessionId': session.id, 'userId': user.id } )}}">
                                <span class="glyphicon glyphicon-search"></span>
                                Détails
                            </a>
                            <a class="btn btn-default btn-xs" href="{{ path('editor_session_user_results', {'sessionId': session.id, 'userId': user.id } )}}">
                                <span class="glyphicon glyphicon-signal"></span>
                                Afficher les résultats
                            </a>
                            {% if checkRight("right.deletetraceuser") %}
                            <span data-method="DELETE" class="btn btn-danger btn-xs rest" href="{{ path('delete-session-trace', {'sessionId': session.id, 'userId': user.id } )}}">
                                <span class="glyphicon glyphicon-trash"></span>
                                Supprimer les traces pour la session
                            </span>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">Aucune trace liée à cet utilisateur.</li>
            {% endif %}
        <ul>

        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation de la suppression</h4>
                </div>
                <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <button data-method="DELETE" type="button" class="btn btn-danger rest" href="{{ path('delete-user', {'userId': user.id} )}}">Oui, supprimer</button>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
