{% trans_default_domain 'FOSUserBundle' %}


<br>{# TODO: Berk c'est encore Eric qui à mis des BR! #}
<div class="well">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post" class="form-horizontal fos_user_registration_register">
        <fieldset>
           <div id="legend">
                <legend class="">Inscription</legend>{# TODO: i18n #}
            </div>

            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_errors(form.username) }}
                <label class="col-lg-2 control-label required" for="fos_user_registration_form_username">Nom, prénom :</label>
                <div class="col-lg-10">
                    <input value="{{ form.vars.value.username }}" class="form-control" id="fos_user_registration_form_username" type="text" maxlength="255" required="required" name="fos_user_registration_form[username]">
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(form.email) }}
                <label class="col-lg-2 control-label required" for="fos_user_registration_form_email">Adresse mail :</label>
                <div class="col-lg-10">
                    <input value="{{ form.vars.value.email }}" class="form-control" id="fos_user_registration_form_email" type="email" required="required" name="fos_user_registration_form[email]">
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(form.plainPassword.first) }}
                <label class="col-lg-2 control-label required" for="fos_user_registration_form_plainPassword_first">Mot de passe :</label>
                <div class="col-lg-10">
                    <input class="form-control" id="fos_user_registration_form_plainPassword_first" type="password" required="required" name="fos_user_registration_form[plainPassword][first]">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label required" for="fos_user_registration_form_plainPassword_second">Confirmation du mot de passe :</label>
                <div class="col-lg-10">
                    <input class="form-control" id="fos_user_registration_form_plainPassword_second" type="password" required="required" name="fos_user_registration_form[plainPassword][second]">
                </div>
            </div>

            <fieldset>
                <legend>LANSAD</legend>
                {# studentType, user entity #}
                <div class="form-group">
                    {{ form_errors(form.studentType) }}
                    <label class="col-lg-2 control-label required" for="fos_user_registration_form_studentType">Dans la langue testée, êtes-vous un étudiant ? (LANSAD / LLCE / LEA / Autres)</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="fos_user_registration_form_studentType" required="required" name="fos_user_registration_form[studentType]">
                    </div>
                </div>
                {# lastLevel, user entity #}
                <div class="form-group">
                    {{ form_errors(form.lastLevel) }}
                    <label class="col-lg-2 control-label required" for="fos_user_registration_form_lastLevel">Quel était le niveau du dernier cours LANSAD que vous avez validé ?</label>
                    <div class="col-lg-10">
                        {{ form_widget(form.lastLevel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Dialang</legend>
                {# coLevel, user entity #}
                <div class="form-group">
                    {{ form_errors(form.coLevel) }}
                    <label class="col-lg-2 control-label required" for="fos_user_registration_form_coLevel">Niveau obtenu en CO (compréhension orale)</label>
                    <div class="col-lg-10">
                        {{ form_widget(form.coLevel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                {# ceLevel, user entity #}
                <div class="form-group">
                    {{ form_errors(form.coLevel) }}
                    <label class="col-lg-2 control-label required" for="fos_user_registration_form_ceLevel">Niveau obtenu en CE (compréhension écrite)</label>
                    <div class="col-lg-10">
                        {{ form_widget(form.ceLevel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                {# eeLevel, user entity #}
                <div class="form-group">
                    {{ form_errors(form.eeLevel) }}
                    <label class="col-lg-2 control-label required" for="fos_user_registration_form_eeLevel">Niveau obtenu en EE (expression écrite) </label>
                    <div class="col-lg-10">
                        {{ form_widget(form.eeLevel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                {{ form_widget(form._token) }}
                 <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
                </div>
            </div>

        </fieldset>
    </form>
</div>




