<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export PDF : du {{ "now"|date("m/d/Y") }} </title>
</head>
<body>
Test : {{ test.name }}
Langue : {{ test.language.name }}
Date : {{ "now"|date("m/d/Y") }}

{% for orderQuestionnaireTest in test.orderQuestionnaireTests %}
    <table>
        <tr>
            <td>Thème : {{ orderQuestionnaireTest.questionnaire.theme }}</td>
            <td>Niveau : {{ orderQuestionnaireTest.questionnaire.level.name }}</td>
            <td>
                {% if orderQuestionnaireTest.questionnaire.mediaContext is not null %}
                    Contexte : {{ orderQuestionnaireTest.questionnaire.mediaContext.description }}</td>
                {% endif %}
            <td>
                {% if orderQuestionnaireTest.questionnaire.mediaText is not null %}
                    Objet de la question : {{ orderQuestionnaireTest.questionnaire.mediaText.description }}
                {% endif %}
            <td>
                {% if orderQuestionnaireTest.questionnaire.mediaBlankText is not null %}
                    Question :{{ orderQuestionnaireTest.questionnaire.mediaBlankText.description }}
                {% endif %}
        </tr>
    </table>

    {% for question in orderQuestionnaireTest.questionnaire.questions %}
        <table>
            <tr>
                <td>Question : {{ question.typology.name }}</td>
            </tr>
            {% for subquestion in question.subquestions %}
                    subQuestion :{{ subquestion.id }}
            {% endfor %}
        </table>
    {% endfor %}

{% endfor %}

</body>
</html>