{% extends '::base.html.twig' %}

{% block body -%}
        <a class="btn btn-default btn-sm" href="{{ path('csv_export') }}">
        <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.test.back_to_list' | trans }}
        </a>
        <hr/>

        <h3> Export PDF pour le test <strong>{{ test.name }}</strong></h3>
        <div class="alert alert-success" role="alert">{{ 'export.file_generated' | trans }} - <a href="{{ path('get-file-pdf', {'testId': test.id, 'filename': pdfName } )}}">{{ 'export.file_download_pdf' | trans }}</a></div>

        <h4>{{ 'export.files_list' | trans }}</h4>
        {% for file in fileList %}
            <h5>
                <a href="{{ path('get-file', {'testId': test.id, 'filename': file } )}}">{{ file }}</a>
            </h5>
        {% endfor %}
{% endblock %}
