<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export PDF : du {{ "now"|date("d/m/Y") }} </title>
<!-- Pour ajouter une pagination/saut de page -->
<!-- 1/2 : ajouter ce style CSS -->
    <style type="text/css">
    .page-breaker {
        display: block;
        page-break-after: always;
        clear:both;
    }
    }
    </style>
</head>
<body>
<b>Test</b> : {{ test.name }}<br />
<b>Langue</b> : {{ test.language.name }}<br />
<b>Date de l'export</b> : {{ "now"|date("d/m/Y") }}<br />
<p></p>
<p></p>
{% for orderQuestionnaireTest in test.orderQuestionnaireTests %}
    <table>
        <tr>
            <td><b>Thème</b> : {{ orderQuestionnaireTest.questionnaire.theme }}</td>
        </tr>
        <tr>
            <td><b>Niveau</b> : {{ orderQuestionnaireTest.questionnaire.level.name }}</td>
        </tr>
        {% if orderQuestionnaireTest.questionnaire.mediaContext is not null %}
        <tr>
            <td>
                <b>Contexte</b> : {{ orderQuestionnaireTest.questionnaire.mediaContext.name|raw }}</td>
            </td>
        </tr>
        {% endif %}
        {% if orderQuestionnaireTest.questionnaire.mediaText is not null %}
        <tr>
            <td>
                <b>Objet de la question</b> : {{ orderQuestionnaireTest.questionnaire.mediaText.name|raw }}
            </td>
        </tr>
        {% endif %}
        {% if orderQuestionnaireTest.questionnaire.mediaBlankText is not null %}
        <tr>
            <td>
                <b>Question</b> :{{ orderQuestionnaireTest.questionnaire.mediaBlankText.name|raw }}
            </td>
        </tr>
        {% endif %}

        {% for question in orderQuestionnaireTest.questionnaire.questions %}
        {# Vérifié en prod : instruction_id et media_id sont toujours "null", donc pas de tests sur ces colonnes. #}
                <tr>
                    <td><b>Typologie</b> : {{ question.typology.name }}</td>
                </tr>
                {% for subquestion in question.subquestions %}
                    <tr>
{#
                        <td>
                            subQuestion :{{ subquestion.id }}
                        </td>
 #}
                        {% if subquestion.mediaAmorce is not null %}
                            <td>
                                <b>Amorce</b> :{{ subquestion.mediaAmorce.name|raw }}
                            </td>
                        {% endif %}
                        {% if subquestion.mediaSyllable is not null %}
                            <td>
                                <b>Syllabe</b> :{{ subquestion.mediaSyllable.name|raw }}
                            </td>
                        {% endif %}
                        <td>
                            <b>Propositions</b> :
                        {% for proposition in subquestion.propositions  %}
                            {{ proposition.media.name|raw }}
                        {% endfor %}
                        </td>
                    </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <!-- 2/2 : ajouter cette ligne pour faire un saut de page entre chaque questionnaire -->
    <div class="page-breaker"></div>
{% endfor %}

</body>
</html>