<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export PDF : du {{ "now"|date("d/m/Y") }} </title>
<!-- Pour ajouter une pagination/saut de page -->
<!-- 1/2 : ajouter ce style CSS -->
    <style type="text/css">
    .page-breaker {
        display: block;
        page-break-after: always;
        clear:both;
    }
    </style>
</head>
<body>
<b>Test</b> : {{ test.name }}<br />
<b>Langue</b> : {{ test.language.name }}<br />
<b>Date de l'export</b> : {{ "now"|date("d/m/Y") }}<br />

<div class="page-breaker"></div>

{% for orderQuestionnaireTest in test.orderQuestionnaireTests %}
    <table>
        <tr>
            <td><b>Titre de la tache</b> : {{ orderQuestionnaireTest.questionnaire.theme }}</td>
        </tr>
        {% if orderQuestionnaireTest.questionnaire.mediaContext is not null %}
            <tr>
                <td>
                <b>Contexte</b> :
                {% if orderQuestionnaireTest.questionnaire.mediaContext.mediaType.name == "image" %}
                        <img src="http://self.innovalangues.net/upload/media/{{ orderQuestionnaireTest.questionnaire.mediaContext.url|raw }}">
                {% else %}
                        {{ orderQuestionnaireTest.questionnaire.mediaContext.description|raw }}
                {% endif %}
                </td>
            </tr>
        {% endif %}

        {% if orderQuestionnaireTest.questionnaire.mediaText is not null %}
            <tr>
                <td><b>Objet de la question</b> :
                {% if orderQuestionnaireTest.questionnaire.mediaText.mediaType.name == "image" %}
                        <img src="http://self.innovalangues.net/upload/media/{{ orderQuestionnaireTest.questionnaire.mediaText.url|raw }}">
                {% else %}
                        {{ orderQuestionnaireTest.questionnaire.mediaText.description|raw }}
                {% endif %}
                </td>
            </tr>
        {% endif %}

        {% if orderQuestionnaireTest.questionnaire.mediaBlankText is not null %}
            <tr>
                <td><b>Question</b> :
                {% if orderQuestionnaireTest.questionnaire.mediaBlankText.mediaType.name == "image" %}
                        <img src="http://self.innovalangues.net/upload/media/{{ orderQuestionnaireTest.questionnaire.mediaBlankText.url|raw }}">
                {% else %}
                        {{ orderQuestionnaireTest.questionnaire.mediaBlankText.description}}
                {% endif %}
                </td>
            </tr>
        {% endif %}

        {% if orderQuestionnaireTest.questionnaire.mediaFunctionalInstruction is not null %}
            <td>
                <b>Consigne fonctionnelle</b> :
                {{ orderQuestionnaireTest.questionnaire.mediaFunctionalInstruction.description|raw }}
            </td>
        {% endif %}

        {% for question in orderQuestionnaireTest.questionnaire.questions %}
        {# Vérifié en prod : instruction_id et media_id sont toujours "null", donc pas de tests sur ces colonnes. #}
                <tr>
                    <td><b>Typologie</b> : {{ question.typology.name }}</td>
                </tr>
                <tr>
                    <td><br ></td>
                </tr>


                {% for subquestion in question.subquestions %}
                    <tr>
{#
                        <td>
                            if proposition.media.mediaPurpose.name == "proposition"
                            subQuestion :{{ subquestion.id }}
                        </td>
#}
                        {% if subquestion.mediaAmorce is not null %}
                            <td>
                                <b>Amorce</b> : {{ subquestion.mediaAmorce.description|raw }}
                            </td>
                        {% endif %}
                        {% if subquestion.mediaSyllable is not null %}
                            <td>
                                <b>Syllabe</b> : {{ subquestion.mediaSyllable.description|raw }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>
                            {% if subquestion.clue is not null %}
                                <b>Info-bulle {{ subquestion.clue.clueType.name }}</b> :
                                {{ subquestion.clue.media.description }}<br />
                            {% endif %}
                            {% if subquestion.displayAnswer and subquestion.typology.name == "TLQROC" %}
                                <b>Propositions en clair </b> :
                                    {% for proposition in subquestion.propositions %}
                                        {% if proposition.media.mediaPurpose is not null %}
                                            {% if proposition.rightAnswer and proposition.media.mediaPurpose.name == "proposition" %}
                                                <b>{{ proposition.media.description|raw }}</b> /
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% else %}
                                <b>Propositions </b> :
                                    {% for proposition in subquestion.propositions %}
        {#
                                        ///
                                        {{ dump(proposition.media.mediaPurpose.id ) }}
                                        ***
                                        {{ dump(proposition.media.mediaPurpose.name ) }}
                                        ---
        #}
                                        {% if subquestion.media is not null %}
                                            <b>{{ subquestion.media.description|raw }}</b>
                                        {% endif %}
                                        {% if proposition.media.mediaPurpose is not null %}
                                            {% if proposition.rightAnswer and proposition.media.mediaPurpose.name == "proposition" %}
                                                {% if proposition.media.mediaType.name == "image" %}
                                                        <img src="http://self.innovalangues.net/upload/media/{{ proposition.media.url|raw }}">
                                                {% else %}
                                                        <b>{{ proposition.media.description|raw }}</b>
                                                {% endif %}
                                            {% else %}
                                                {% if proposition.media.mediaType.name == "image" %}
                                                        <img src="http://self.innovalangues.net/upload/media/{{ proposition.media.url|raw }}">
                                                {% else %}
                                                        {{ proposition.media.description|raw }}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <!-- 2/2 : ajouter cette ligne pour faire un saut de page entre chaque questionnaire -->
    <div class="page-breaker"></div>
{% endfor %}

</body>
</html>