<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export PDF : du {{ "now"|date("m/d/Y") }} </title>
</head>
<body>
Test : {{ test.name }}<br />
Langue : {{ test.language.name }}<br />
Date de l'export : {{ "now"|date("d/m/Y") }}<br />
<p></p>
<p></p>
{% for orderQuestionnaireTest in test.orderQuestionnaireTests %}
    <table>
        <tr>
            <td>Thème : {{ orderQuestionnaireTest.questionnaire.theme }}</td>
        </tr>
        <tr>
            <td>Niveau : {{ orderQuestionnaireTest.questionnaire.level.name }}</td>
        </tr>
        {% if orderQuestionnaireTest.questionnaire.mediaContext is not null %}
        <tr>
            <td>
                Contexte : {{ orderQuestionnaireTest.questionnaire.mediaContext.description|raw }}</td>
            </td>
        </tr>
        {% endif %}
        {% if orderQuestionnaireTest.questionnaire.mediaText is not null %}
        <tr>
            <td>
                Objet de la question : {{ orderQuestionnaireTest.questionnaire.mediaText.description|raw }}
            </td>
        </tr>
        {% endif %}
        {% if orderQuestionnaireTest.questionnaire.mediaBlankText is not null %}
        <tr>
            <td>
                Question :{{ orderQuestionnaireTest.questionnaire.mediaBlankText.description|raw }}
            </td>
        </tr>
        {% endif %}

        {% for question in orderQuestionnaireTest.questionnaire.questions %}
        {# Vérifié en prod : instruction_id et media_id sont toujours "null", donc pas de tests sur ces colonnes. #}
                <tr>
                    <td>Typologie : {{ question.typology.name }}</td>
                </tr>
                {% for subquestion in question.subquestions %}
                    <tr>
{#
                        <td>
                            subQuestion :{{ subquestion.id }}
                        </td>
 #}
                        {% if subquestion.mediaAmorce is not null %}
                            <td>
                                Amorce :{{ subquestion.mediaAmorce.description|raw }}
                            </td>
                        {% endif %}
                        {% if subquestion.mediaSyllable is not null %}
                            <td>
                                Syllabe :{{ subquestion.mediaSyllable.description|raw }}
                            </td>
                        {% endif %}
                        <td>
                        {% for proposition in subquestion.propositions  %}
                            {{ proposition.media.description|raw }}
                        {% endfor %}
                        </td>
                    </tr>
            {% endfor %}
        {% endfor %}
    </table>
<p></p>
<p></p>

{% endfor %}

</body>
</html>