{% extends '::base.html.twig' %}

{% block body -%}
    <h3>{{ 'menu.stats' | trans }} - Sessions</h3>

    <div class="input-group">
        <span class="input-group-addon">{{ 'generic.filter' | trans }} </span>
        <input type="text" id="search" class="form-control" value="">
    </div>
    <br/>

    <table id="data-table" class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'editor.session.name' | trans }}</th>
                <th>{{ 'editor.test.name' | trans }}</th>
                <th>{{ 'editor.test.language' | trans }}</th>
                <th>{{ 'stats.usercount' | trans }}</th>
            </tr>
        </thead>
        <tbody>
    		{% for data_session in data_sessions %}
    			<tr>
    				<td>
    					{{ data_session.name }}
    				</td>
                    <td>
                         <span class="text-muted">{{ data_session.test }}</span>
                    </td>
                    <td>
                         <span class="text-muted">{{ data_session.language |trans }}</span>
                    </td>
    				<td>
                        {{ data_session.usercount }}
    				</td>
    			</tr>
    		{% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='yui_js' output='js/compiled/stats.js'
        '@InnovaSelfBundle/Resources/public/js/lib/jquery.quicksearch.js'
        '@InnovaSelfBundle/Resources/public/js/stats.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
