<div class="modal fade" id="export-session-dates-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form id="export-session-by-dates" method="POST" action="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'editor.session.export_modal.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'editor.session.export_modal.info'|trans|raw }}</p>
                    </div>
                    <div class="col-md-12">
                        {{ 'editor.export.start_date'|trans }}
                        <div class='input-group date' id='datetimepickerStart'>
                            <input type='text' class="form-control" name="startDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        {{ 'editor.export.end_date'|trans }}
                        <div class='input-group date' id='datetimepickerEnd'>
                            <input type='text' class="form-control" name="endDate"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
                <button type="submit" id="session-export-confirmation" class="btn btn-default btn-primary">
                    {{ 'editor.session.export' | trans }}
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
