{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/innovaself/css/bootstrap-datetimepicker.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body -%}

{% if test is defined and checkRight("right.createsession") %}
    <a class="btn btn-default btn-sm" href="{{ path('editor_test_create_session', { 'testId': test.id }) }}">
        <span class="glyphicon glyphicon-plus"></span> {{ 'editor.session.create' | trans }}
    </a>
    <hr/>
{% endif %}

{% set canEditRights = false %} 
{% if checkRight("right.editrightssession") %}
    {% set canEditRights = true %} 
{% endif %}


{% if test is defined and checkRight("right.createsession") %}
    <h3>{{ 'editor.session.list_test' | trans }} <b>{{ test.name }}</b> </h3>
{% else %}
    <h3>{{ 'editor.session.list' | trans }} {{ subset | trans }} </h3>
{% endif %}

<div class="input-group">
    <span class="input-group-addon">{{ 'generic.filter' | trans }} </span>
    <input type="text" id="search" class="form-control" value="">
</div>
<br/>

<table id="sessions-table" class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'editor.session.name' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		{% for session in sessions %}
			<tr>
				<td>
					{{ session.name }} {% if test is not defined %} <span class="text-muted">{{ session.test.name }}</span> {% endif %}
				</td>
				<td class="text-right">
                    <div class="btn-group dropup">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    {{ 'generic.options' | trans }} <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu text-left" role="menu" >
                        <li>
                        <a href="{{ path('test_start', { 'testId': session.test.id, 'sessionId': session.id }) }}">
                            <span class="glyphicon glyphicon-play"></span> {{ 'editor.session.test' | trans }}
                        </a>
                        </li>

                        {% if canEditRights %}
                        <li>
                        <a href="{{ path('editor_session_rights', {'sessionId': session.id }) }}">
                            <span class="glyphicon glyphicon-lock"></span> {{ 'right.rights' | trans }}
                        </a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.editsession", session) %}
                        <li>
    					<a href="{{ path('editor_test_edit_session', { 'testId': session.test.id, 'sessionId': session.id }) }}">
    						<span class="glyphicon glyphicon-edit"></span> {{ 'editor.session.edit' | trans }}
    					</a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.individualresultssession", session) %}
    					<li>
                        <a href="{{ path('editor_test_session_results', {'sessionId': session.id }) }}">
    						<span class="glyphicon glyphicon-dashboard"></span> {{ 'editor.session.results' | trans }}
    					</a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.exportresultssession", session) %}
                        <li>
                        <a href="{{ path('editor_session_export_results', {'sessionId': session.id }) }}">
                            <span class="glyphicon glyphicon-download-alt"></span> {{ 'editor.session.export' | trans }}
                        </a>
                        </li>
                        <li>
                        <a class="export-session-by-date" data-session-id="{{ session.id }}">
                            <span class="glyphicon glyphicon-download-alt"></span> {{ 'editor.session.export_date' | trans }}
                        </a>
                        </li>
                        {% endif %}

                        {% if checkRight("right.deletesession", session) %}
                        <li>
    					<a href="#" class="delete-session" data-session-id="{{ session.id }}">
    						<span class="glyphicon glyphicon-trash"></span> Supprimer la session
    					</a>
                        </li>
                        {% endif %}
                    </ul>

				</td>
			</tr>
		{% endfor %}
    </tbody>
</table>


<div class="modal fade" id="delete-session-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmation de la suppression</h4>
        </div>
        <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette session ? Ceci supprimera toutes les traces liées à cette session 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
            <a id="session-delete-confirmation" data-method="DELETE" class="btn btn-sm btn-danger rest" href="">
				<span class="glyphicon glyphicon-trash"></span> Oui, supprimer la session
			</a>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="export-session-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form id="export-session-by-dates" method="POST" action="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Export de la session - Sélection d'un intervalle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                        <div class="col-md-12">
                            Date de début
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" name="startDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            Date de fin
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" name="endDate"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <button type="submit" id="session-export-confirmation" class="btn btn-default btn-primary">
                    Exporter
                </button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/jquery.quicksearch.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/moment-with-locales.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/bootstrap-datetimepicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-session.js") }}"></script>
{% endblock %}
