{% extends '::base.html.twig' %}

{% block body -%}

{% if checkRight("right.managesessiontest", test) %}
	<a class="btn btn-default btn-sm" href="{{ path('editor_test_sessions', { 'testId': test.id }) }}">
	    <span class="glyphicon glyphicon-calendar"></span> {{ 'editor.session.list' | trans }}
	</a>
{% endif %}

<hr/>

<form method="post">
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.passwd) }}
        {{ form_widget(form.passwd) }}
    </div>

    <div class="form-group">
        {{ form_label(form.actif) }}
        {{ form_widget(form.actif) }}
    </div>

    <div class="form-group">
        {{ form_label(form.globalScoreShow) }}
        {{ form_widget(form.globalScoreShow) }}
    </div>

    <div class="form-group">
        {{ form_label(form.globalScoreWording) }}
        {{ form_widget(form.globalScoreWording) }}
    </div>

    <div class="form-group text-right">
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>

    {{ form_widget(form._token) }}
</form>

{% endblock %}
