{% extends '::base.html.twig' %}

{% block body -%}

{% if checkRight("right.managesessiontest", session.test) %}
<a class="btn btn-default btn-sm " href="{{ path('editor_test_sessions', { 'testId': session.test.id } )}}">
    <span class="glyphicon glyphicon-calendar"></span> {{ 'editor.session.manage' | trans }}
</a>
{% endif %}

{% if checkRight("right.editsession", session) %}
<a class="btn btn-default btn-sm" href="{{ path('editor_test_edit_session', { 'testId': session.test.id, 'sessionId': session.id }) }}">
	<span class="glyphicon glyphicon-edit"></span> {{ 'editor.session.edit' | trans }}
</a>
{% endif %}

{% if checkRight("right.exportresultssession", session) %}
<a class="btn btn-default btn-sm" href="{{ path('editor_session_export_results', {'sessionId': session.id }) }}">
	<span class="glyphicon glyphicon-download-alt"></span> {{ 'editor.session.export' | trans }}
</a>
{% endif %}

{% if checkRight("right.individualresultssession", session) %}
<a class="btn btn-default btn-sm" href="{{ path('editor_test_invalidate_results_session', {'sessionId': session.id }) }}">
    <span class="glyphicon glyphicon-remove"></span> {{ 'editor.session.invalidate_results' | trans }}
</a>
{% endif %}


<hr/>
<h3>{{ 'editor.session.results' | trans }} <b>{{ session.name }}</b> ({{ users | length }})</h3>
<div class="input-group">
    <span class="input-group-addon">{{ 'generic.filter' | trans }} </span>
    <input type="text" id="search" class="form-control" value="">
</div>
<br/>

<table class="table table-striped users-table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
	{% for user in users %}
		<tr>
            <td>
                <a href="{{ path('admin_user_show', { 'id': user.id }) }}">
                    {{ user.username }}
                </a>
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {% if user.firstname %}
                    {{ user.firstname }}
                {% endif %}
            </td>
            <td>
                {% if user.lastname %}
                    {{ user.lastname }}
                {% endif %}
            </td>
			<td class="text-right">
				<a class="btn btn-default btn-sm" href="{{ path('editor_session_user_results', {'sessionId': session.id, 'userId': user.id }) }}">
					<span class="glyphicon glyphicon-dashboard"></span> {{ 'editor.session.results_user' | trans }}
				</a>

                <a class="btn btn-default btn-sm" href="{{ path('editor_test_invalidate_results_session_user', {'sessionId': session.id, 'userId': user.id }) }}">
                    <span class="glyphicon glyphicon-remove"></span> {{ 'editor.session.invalidate_results' | trans }}
                </a>

                <a class="btn btn-default btn-sm" href="{{ path('get-session-traces', {'sessionId': session.id, 'userId': user.id } )}}">
                    <span class="glyphicon glyphicon-search"></span>
                    Détails
                </a>

                {% if checkRight("right.deletetracesession", session) %}
                <a class="btn btn-danger btn-sm delete-trace" href="#" realpath="{{ path('delete-session-user-trace', {'sessionId': session.id, 'userId': user.id }) }}">
                    <span class="glyphicon glyphicon-remove"></span> {{ 'editor.session.delete_results' | trans }}
                </a>
                {% endif %}
			</td>
		</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/lib/jquery.quicksearch.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/editor-user-list.js") }}"></script>
{% endblock %}
