<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Pour la compréhension orale</div>
        <div class="panel-body">
            <p>Chaque tâche est composée de :
            	<ul>
              		<li>1) un <b>‘OBJET DE LA QUESTION’</b> sous forme <b>audio</b>, soit :
              			<ul>
              				<li><img width="45px" src="{{ asset("bundles/innovaself/images/situation_monologue.png") }}"/> un monologue</li>
              				<li><img width="45px" src="{{ asset("bundles/innovaself/images/situation_dialogue.png") }}"/> un dialogue</li>
                            <li><img width="45px" src="{{ asset("bundles/innovaself/images/situation_interrompue.png") }}"/> un dialogue interrompu</li>
              			</ul>
                        ou un ‘objet de la question’ sous forme <b>vidéo</b>.
                    </li>
              		<li>2) une série de <b>‘propositions de réponse</b> <img height="45px" src="{{ asset("bundles/innovaself/images/audio1.png") }}"/> sous forme de QCM (questions à choix multiples), de Vrai-Faux ou d’Appariement.
                    </li>
            	</ul>
            </p>
            <p>Mais aussi :</p>
            	<ul>
            		<li>3) d’une ou plusieurs <b>questions</b> <img height="45px" src="{{ asset("bundles/innovaself/images/oignon") }}"/></li>
                    <li>4) d’un <b>contexte</b> <img height="45px" src="{{ asset("bundles/innovaself/images/contexte.png") }}"/>
                    <br/> N.B. cette icône est grisée si le contexte n’est pas donné</li>
            	</ul>
            </p>
            <hr/>
            <p><strong>Attention :</strong>
                <p>* Certaines tâches prévoient plusieurs questions. Dans ce cas, chaque ‘question’ est affichée dans un onglet différent.<br/>Vous ne pourrez valider qu’après avoir répondu à toutes les questions.</p>
                <p>* Certains QCM peuvent prévoir plusieurs réponses correctes (dans ce cas, la phrase « <i>plusieurs réponses sont correctes</i> » est affichée en dessous des propositions de réponse);</p>
                <p>* Certains Vrai-Faux prévoient l’option « on ne peut pas dire » (i.e. : « Vrai », « Faux » ou « On ne peut pas dire »)</p>
            </p>
            <hr/>
            <p><strong>Nombre d'écoutes :</strong>
                <ul>
                    <li>Limité (de 1 à 2 écoutes possibles) : l’objet de la question (monologue ou dialogue) ;</li>
                    <li>Illimité : la question, le contexte et les propositions de réponse.</li>
                </ul>
                Nous vous conseillons d’écouter le contexte et la question en premier. A noter qu'une écoute ne peut pas être interrompue.
            </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Pour la compréhension écrite</div>
        <div class="panel-body">
            <p>Chaque tâche est composée de :
                <ul>
                    <li>1) un <b>‘OBJET DE LA QUESTION’</b>, soit :
                        <ul>
                            <img width="45px" src="{{ asset("bundles/innovaself/images/situation-CE.png") }}"/> un <b>texte</b>, avec ou sans <b>titre</b>
                        </ul>
                    </li>
                    <li>2) une série de <b>‘propositions de réponse’</b>, sous forme de QCM (questions à choix multiples), de Vrai-Faux ou d’Appariements.</li>
                </ul>
            </p>
            <p>Mais aussi de:</p>
                <ul>
                    <li>3) une ou plusieurs <b>questions</b> <img height="45px" src="{{ asset("bundles/innovaself/images/oignon") }}"/></li>
                    <li>4) un <b>contexte</b> <img height="45px" src="{{ asset("bundles/innovaself/images/contexte.png") }}"/>
                    <br/> N.B. cette icône est grisée si le contexte n’est pas donné</li>
                </ul>
            </p>
            <hr/>
            <p>Pour agrandir une image, vous pouvez cliquer sur <i>l'image</i>.</p>

                <p>Certaines tâches prévoient plusieurs questions. Dans ce cas, chaque ‘question’ est affichée dans un onglet différent.<br/>Vous ne pourrez valider qu’après avoir répondu à toutes les questions.</p>
            <hr/>
            <p><strong>Attention :</strong>
            <p>* Certains QCM peuvent prévoir plusieurs réponses correctes (dans ce cas, la phrase « Une ou plusieurs réponses sont correctes » est affichée en dessous des propositions de réponse);</p>
            <p>* Certains Vrai-Faux prévoient l’option « on ne peut pas dire » (i.e. : « Vrai », « Faux » ou « On ne peut pas dire »)</p>
        </div>
    </div>
</div>