<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Pour la compréhension orale</div>
        <div class="panel-body">
            <p>Chaque tâche est composée de :
            	<ul>
              		<li>1) un ‘OBJET DE LA QUESTION’ sous forme audio, soit :
              			<ul>
              				<li><img width="45px" src="{{ asset("bundles/innovaself/images/situation_monologue.png") }}"/> un monologue</li>
              				<li><img width="45px" src="{{ asset("bundles/innovaself/images/situation_dialogue.png") }}"/> un dialogue</li>
                            <li><img width="45px" src="{{ asset("bundles/innovaself/images/situation_interrompue.png") }}"/> un dialogue interrompu</li>
              			</ul>
                        ou un ‘objet de la question’ sous forme vidéo.
                    </li>
              		<li>2) une série de ‘propositions de réponse <img height="45px" src="{{ asset("bundles/innovaself/images/audio1.png") }}"/> sous forme de QCM (questions à choix multiples), de Vrai-Faux ou d’Appariement.
                    </li>
            	</ul>
            </p>
            <p>Mais aussi :</p> 
            	<ul>
            		<li>3) d’une ou plusieurs questions <img height="45px" src="{{ asset("bundles/innovaself/images/oignon") }}"/></li>
                    <li>4) d’un contexte <img height="45px" src="{{ asset("bundles/innovaself/images/contexte.png") }}"/>
                    <br/> N.B. cette icône est grisée si le contexte n’est pas donné</li>
            	</ul>
            </p>
            <hr/>
            <p><strong>Nombre d'écoutes :</strong>
                <ul>
                    <li>*Limité (de 1 à 2 écoutes possibles) : l’objet de la question (monologue ou dialogue) ;</li>
                    <li>*Illimité : la question, le contexte et les propositions de réponse.</li>
                    <li>Nous vous conseillons d’écouter le contexte et la question en premier. A noter qu'une écoute ne peut pas être interrompue.</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Pour la compréhension écrite</div>
        <div class="panel-body">
            <p>Chaque tâche est composée de :
                <ul>
                    <li>1) un ‘OBJET DE LA QUESTION’ sous forme audio, soit :
                        <ul>
                            <li><img width="45px" src="{{ asset("bundles/innovaself/images/situation-CE.png") }}"/> un texte avec ou sans titre</li>

                        </ul>
                    </li>
                    <li>2) une série de ‘propositions de réponse’, sous forme de QCM (questions à choix multiples), de Vrai-Faux ou d’Appariements.</li>
                </ul>
            </p>
            <p>Mais aussi de:</p> 
                <ul>
                    <li>3) une ou plusieurs questions <img height="45px" src="{{ asset("bundles/innovaself/images/oignon") }}"/></li>
                    <li>4) un contexte <img height="45px" src="{{ asset("bundles/innovaself/images/contexte.png") }}"/>
                    <br/> N.B. cette icône est grisée si le contexte n’est pas donné</li>
                </ul>
            </p>
            <hr/>
            <p>Pour agrandir une image, vous pouvez cliquer sur l'image.</p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
        <p><strong>Attention :</strong>
            <ul>
                <li>*Certaines tâches prévoient plusieurs questions. Dans ce cas, chaque ‘question’ est affichée dans un onglet différent.<br/>Vous ne pourrez valider qu’après avoir répondu à toutes les questions.</li>
                <li>*Certains QCM peuvent prévoir plusieurs réponses correctes. Dans ce cas, l’indication ‘plusieurs réponses correctes’ est affichée en dessous des propositions de réponse</li>
                <li>*Certains Vrai-Faux prévoient l’option « on ne peut pas dire » (i.e. : « Vrai », « Faux » ou « On ne peut pas dire »)</li>
            </ul>
        </p>
        </div>
    </div>
</div>