<p>Chaque tâche est composée de la présentation :
	<ul>
  		<li>de la situation de départ</li>
  			<ul>
  				<li><img height="45px" src="{{ asset("bundles/innovaself/images/situation_monologue.png") }}"/> un monologue</li>
  				<li><img height="45px" src="{{ asset("bundles/innovaself/images/situation_dialogue.png") }}"/> ou un dialogue</li>
                <li><img height="45px" src="{{ asset("bundles/innovaself/images/situation_interrompue.png") }}"/> ou un dialogue interrompu</li>
  			</ul>
  		<li><img height="45px" src="{{ asset("bundles/innovaself/images/audio1.png") }}"/> d'une série de propositions (QCM ou Vrai-Faux) dont l'une d'entre elles représente la réponse correcte </li>

	</ul>
</p>
<p>Mais aussi, de la mise à disposition des informations importantes suivantes :
	<ul>
		<li><img height="45px" src="{{ asset("bundles/innovaself/images/contexte.png") }}"/> le contexte dans lequel se situe la situation </li>
		<li><img height="45px" src="{{ asset("bundles/innovaself/images/oignon") }}"/> la consigne didactique (ce que vous devez trouver) </li>
	</ul>
</p>
<hr/>
<p>Nombre d'écoutes ?
	<ul>
		<li>Limité (de 1 à 2 écoutes possibles) : la situation (monologue ou dialogue)</li>
		<li>Illimité : la consigne, le contexte et les propositions</li>
	</ul>

	A noter qu'un son écouté ne peut pas être interrompu.
</p>
