<!-- Modal -->
<div class="modal fade helpModal" id="helpModal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'menu.help' | trans }}</h4>
            </div>
            <div class="modal-body">
                <h1>{{ 'input.title' | trans }}</h1>
                <p>
                    {{ 'input.japanese' | trans }}
                    <a target="_blank" href="{{ asset('docs/installer_clavier_japonais_win7.pdf') }}">Installation (Windows)</a> -
                    <a target="_blank" href="{{ asset('docs/Fiche_explications.pdf') }}">Saisie (Windows)</a> -
                    <a target="_blank" href="{{ asset('docs/Fiche_explications_MAC.pdf') }}">Saisie (macOS)</a>
                </p>
                <p>
                    {{ 'input.chinese' | trans }}
                    <a target="_blank" href="{{ asset('docs/installer_clavier_mandarin_win7.pdf') }}">Installation (Windows)</a>
                    <a target="_blank" href="{{ asset('docs/saisie_mandarin_utilisateur.pdf') }}">Saisie (Windows)</a>
                </p>
                <h1>{{ "editor.media.video" | trans }} </h1>
                {% include 'InnovaSelfBundle::Main/help.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'generic.ok' | trans }}</button>
          </div>
        </div>
    </div>
</div>
