{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/innovaself/css/showTests.css") }}" />
{% endblock %}


{% block body -%}
    {% if tests is not empty %}
        <!-- #133 -->
        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'InnovaSelfBundle::Main/help.html.twig' %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">La liste des tests</h3>
            </div>
            <div class="panel-body">
                {% for i, test in tests %}
                <div class='row pull-left col-md-3 test-available'>
                    <div class="panel panel-default  ">
                        <div class="panel-body">
                            <div>
                                {% if testsProgress[i] != 100 %} {# Je n'affiche le lien pour démarrer le test que s'il n'est pas terminé. #}
                                    <a href="{{ path('test_start', { 'id': test.id } )}}">{{ test.name }}</a>
                                    {#
                                    {% if test.questionnaires[0].skill.name  == "CO" %}
                                        <a href="{{ path('test_start', { 'id': test.id } )}}">{{ test.name }}</a>
                                    {% elseif test.questionnaires[0].skill.name  == "CE" %}
                                        <a href="{{ path('test_start_ce', { 'id': test.id } )}}">{{ test.name }}</a>
                                    {% endif %}
                                    #}
                                {% else %}
                                    {{ test.name }}
                                {% endif %}
                            </div>
                            <div>
                                <div class="progress" rel="tooltip" data-original-title="Progression : {{ testsProgress[i] }}%">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ testsProgress[i] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ testsProgress[i] }}%;">
                                    <span class="sr-only">{{ testsProgress[i] }}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="panel panel-default ">
            <div class="panel-body">
                <p class="alert alert-danger">Vous êtes inscrit à aucun test. Contactez la personne en charge de la passation puis rechargez cette page en cliquant <a href="{{ path('show_tests')}}">ici</a> </p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/showTests.js") }}"></script>
            <!-- Jquery first then Bootstrap call -->
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/innovaself/js/main.js') }}"></script>

{% endblock %}
