{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Affecter au test : {{ test.name }}</h1>
    <h2>{{ 'questionnaire.action.index' | trans }}</h2>

    {# Display result message -> #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ 'questionnaire.message.delete.success' | trans }}
        </div>
    {% endfor %}

    {# Méthode 1
    <ul class="sortable list">
        {% for i, entity in entities %}
            <li id="{{ i+1 }}">
                {{ i+1 }} - {{ entity.theme }}
            </li>
        {% endfor %}
    </ul>
    #}


<pre>
<div id="info">Waiting for update</div>
</pre>


<ul id="test-list">
    {% for i, entity in entities %}
        <li id="listItem_{{ i+1 }}"><img src="{{ asset("bundles/innovaself/images/") }}arrow.png"  alt="move" width="16" height="16" class="handle" />
            {{ i+1 }} - {{ entity.theme }}
        </li>
    {% endfor %}
</ul>

{% endblock %}
