{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editer un questionnaire</h1>

{{ form_start(edit_form) }}
  {# Liste des champs affichés -> #}
  <div class="form-group">
    {{ form_label(edit_form.theme) }}
    {{ form_widget(edit_form.theme, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioInstruction) }}
    {{ form_widget(edit_form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioInstruction) }}
    {{ form_widget(edit_form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.listeningLimit) }}
    {{ form_widget(edit_form.listeningLimit, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.dialogue) }}
    {{ form_widget(edit_form.dialogue, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioInstruction) }}
    {{ form_widget(edit_form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioContext) }}
    {{ form_widget(edit_form.audioContext, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioItem) }}
    {{ form_widget(edit_form.audioItem, { 'attr': {'class': 'form-control'} }) }}
  </div>

  {# Pour ne pas afficher ses champs -> #}
  {% do edit_form.level.setRendered %}
  {% do edit_form.author.setRendered %}
  {% do edit_form.sourceType.setRendered %}
  {% do edit_form.instruction.setRendered %}
  {% do edit_form.receptionType.setRendered %}
  {% do edit_form.source.setRendered %}
  {% do edit_form.duration.setRendered %}
  {% do edit_form.domain.setRendered %}
  {% do edit_form.functionType.setRendered %}
  {% do edit_form.cognitiveOperation.setRendered %}
  {% do edit_form.support.setRendered %}
  {% do edit_form.flow.setRendered %}
  {% do edit_form.focus.setRendered %}
  {% do edit_form.languageLevel.setRendered %}
  {% do edit_form.focus.setRendered %}
  {% do edit_form.tests.setRendered %}

  {# Bouton Submit #}
  {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}

{{ form_end(edit_form) }}
{#
   <input type="submit" class="btn btn-default" />
<form class="form-horizontal" action="/eric/SelfSymfony/web/app_dev.php/admin/questionnaire/1" method="post">
<div class="control-group">
<label class="control-label" for="inputEmail">Email</label>
<div class="controls">
<input type="text" id="inputEmail" placeholder="Email">
</div>
</div>

   <div class="control-group">
      {{ form_label(edit_form.theme) }}
        {{ form_errors(edit_form.theme) }}
     <div class="controls">
          {{ form_widget(edit_form.theme) }}
    </div>

  </div>

  {{ form_end(edit_form) }}
#}
    <hr>
    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}
        <a href="{{ path('admin_questionnaire') }}" class="btn btn-default">Back to the list</a>
        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_rest(delete_form) }}
    {{ form_start(delete_form) }}

{% endblock %}