{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editer un questionnaire</h1>

{{ form_start(edit_form) }}
  {# Liste des champs affichés -> #}


  <div class="form-group">
    {{ form_label(edit_form.theme) }}
    {{ form_widget(edit_form.theme, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.originText) }}
    {{ form_widget(edit_form.originText, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.exerciceText) }}
    {{ form_widget(edit_form.exerciceText, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioInstruction) }}
    {{ form_widget(edit_form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioInstruction) }}
    {{ form_widget(edit_form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.listeningLimit) }}
    {{ form_widget(edit_form.listeningLimit, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.dialogue) }}
    {{ form_widget(edit_form.dialogue, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioInstruction) }}
    {{ form_widget(edit_form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioContext) }}
    {{ form_widget(edit_form.audioContext, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(edit_form.audioItem) }}
    {{ form_widget(edit_form.audioItem, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.level) }}
    {{ form_widget(edit_form.level, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.author) }}
    {{ form_widget(edit_form.author, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.sourceType) }}
    {{ form_widget(edit_form.sourceType, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.instruction) }}
    {{ form_widget(edit_form.instruction, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.receptionType) }}
    {{ form_widget(edit_form.receptionType, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.source) }}
    {{ form_widget(edit_form.source, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.duration) }}
    {{ form_widget(edit_form.duration, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.domain) }}
    {{ form_widget(edit_form.domain, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.functionType) }}
    {{ form_widget(edit_form.functionType, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.cognitiveOperation) }}
    {{ form_widget(edit_form.cognitiveOperation, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.support) }}
    {{ form_widget(edit_form.support, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.flow) }}
    {{ form_widget(edit_form.flow, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.focus) }}
    {{ form_widget(edit_form.focus, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.languageLevel) }}
    {{ form_widget(edit_form.languageLevel, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.focus) }}
    {{ form_widget(edit_form.focus, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(edit_form.tests) }}
    {{ form_widget(edit_form.tests, { 'attr': {'class': 'form-control'} }) }}
  </div>

  {# Pour ne pas afficher ses champs / En commentaire suite remarque AB.
  {% do edit_form.level.setRendered %}
  {% do edit_form.author.setRendered %}
  {% do edit_form.sourceType.setRendered %}
  {% do edit_form.instruction.setRendered %}
  {% do edit_form.receptionType.setRendered %}
  {% do edit_form.source.setRendered %}
  {% do edit_form.duration.setRendered %}
  {% do edit_form.domain.setRendered %}
  {% do edit_form.functionType.setRendered %}
  {% do edit_form.cognitiveOperation.setRendered %}
  {% do edit_form.support.setRendered %}
  {% do edit_form.flow.setRendered %}
  {% do edit_form.focus.setRendered %}
  {% do edit_form.languageLevel.setRendered %}
  {% do edit_form.focus.setRendered %}
  {% do edit_form.tests.setRendered %}
  #}

  {# Bouton Submit #}
  {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}

{{ form_end(edit_form) }}

    <hr>
    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}
        <a href="{{ path('admin_questionnaire') }}" class="btn btn-default">Back to the list</a>
        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_rest(delete_form) }}
    {{ form_start(delete_form) }}

{% endblock %}