{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'questionnaire.action.index' | trans }}</h1>

    {# Display result message -> #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ 'questionnaire.message.delete.success' | trans }}
        </div>
    {% endfor %}

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>{{ 'questionnaire.field.theme' | trans }}</th>
                <th>{{ 'questionnaire.action.show_button' | trans }}</th>
                <th>{{ 'questionnaire.action.edit_button' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.theme }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_questionnaire_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_questionnaire_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_questionnaire_new') }}" class="btn btn-primary">{{ 'questionnaire.action.create' | trans }}</a>

{% endblock %}