{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ajouter un questionnaire</h1>

<hr>

{{ form_start(form) }}

  <div class="form-group">
    {{ form_errors(form.theme) }}
    {{ form_label(form.theme) }}
    {{ form_widget(form.theme, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_errors(form.listeningLimit) }}
    {{ form_label(form.listeningLimit) }}
    {{ form_widget(form.listeningLimit, { 'attr': {'class': 'form-control','type': 'checkbox'}}) }}
  </div>

  {% do form.dialogue.setRendered %}
  <div class="control-group">
    <div class="controls">
    <label for="innova_selfbundle_questionnaire_dialogue" class="checkbox">
      <input type="checkbox" value="1" name="innova_selfbundle_questionnaire[dialogue]" id="innova_selfbundle_questionnaire_dialogue">Dialogue
    </label>
    </div>
  </div>

  <div class="form-group">
    {{ form_errors(form.audioInstruction) }}
    {{ form_label(form.audioInstruction) }}
    {{ form_widget(form.audioInstruction, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_errors(form.audioContext) }}
    {{ form_label(form.audioContext) }}
    {{ form_widget(form.audioContext, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_errors(form.audioItem) }}
    {{ form_label(form.audioItem) }}
    {{ form_widget(form.audioItem, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.level) }}
    {{ form_widget(form.level, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.author) }}
    {{ form_widget(form.author, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.sourceType) }}
    {{ form_widget(form.sourceType, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.instruction) }}
    {{ form_widget(form.instruction, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.receptionType) }}
    {{ form_widget(form.receptionType, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.source) }}
    {{ form_widget(form.source, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.duration) }}
    {{ form_widget(form.duration, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.domain) }}
    {{ form_widget(form.domain, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.functionType) }}
    {{ form_widget(form.functionType, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.cognitiveOperation) }}
    {{ form_widget(form.cognitiveOperation, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.support) }}
    {{ form_widget(form.support, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.flow) }}
    {{ form_widget(form.flow, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.focus) }}
    {{ form_widget(form.focus, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_label(form.languageLevel) }}
    {{ form_widget(form.languageLevel, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_errors(form.originText) }}
    {{ form_label(form.originText) }}
    {{ form_widget(form.originText, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_errors(form.exerciceText) }}
    {{ form_label(form.exerciceText) }}
    {{ form_widget(form.exerciceText, { 'attr': {'class': 'form-control'} }) }}
  </div>

  <div class="form-group">
    {{ form_errors(form.skill) }}
    {{ form_label(form.skill) }}
    {{ form_widget(form.skill, { 'attr': {'class': 'form-control'} }) }}
  </div>

  {% do form.submit.setRendered %}
  {{ form_rest(form) }}
  <button type="submit" class="btn btn-primary">Create</button>
  <a href="{{ path('admin_questionnaire') }}" class="btn btn-default">Back to the list</a>

{{ form_end(form) }}

{% endblock %}
