{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Questionnaire</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>Supporttype</th>
                <td>{{ entity.supportType }}</td>
            </tr>
            <tr>
                <th>Focus</th>
                <td>{{ entity.focus }}</td>
            </tr>
            <tr>
                <th>Cognitiveoperation</th>
                <td>{{ entity.cognitiveOperation }}</td>
            </tr>
            <tr>
                <th>Function</th>
                <td>{{ entity.function }}</td>
            </tr>
            <tr>
                <th>Receptiontype</th>
                <td>{{ entity.receptionType }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ entity.domain }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Sourcetype</th>
                <td>{{ entity.sourceType }}</td>
            </tr>
            <tr>
                <th>Languagelevel</th>
                <td>{{ entity.languageLevel }}</td>
            </tr>
            <tr>
                <th>Durationgroup</th>
                <td>{{ entity.durationGroup }}</td>
            </tr>
            <tr>
                <th>Flow</th>
                <td>{{ entity.flow }}</td>
            </tr>
            <tr>
                <th>Wordcount</th>
                <td>{{ entity.wordCount }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ entity.theme }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Consigne</th>
                <td>{{ entity.instruction }}</td>
            </tr>
            <tr>
                <th>Audioconsigne</th>
                <td>{{ entity.audioInstruction }}</td>
            </tr>
            <tr>
                <th>Audiocontexte</th>
                <td>{{ entity.audioContext }}</td>
            </tr>
            <tr>
                <th>Audioitem</th>
                <td>{{ entity.audioItem }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('questionnaire') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('questionnaire_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
