{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'questionnaire.action.show' | trans }}</h1>

    {# Display result message -> #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ 'questionnaire.message.create.success' | trans }}
        </div>
    {% endfor %}

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>{{ 'questionnaire.field.theme' | trans }}</th>
                <td>{{ entity.theme }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.listeningLimit' | trans }}</th>
                <td>{{ entity.listeningLimit }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.dialogue' | trans }}</th>
                <td>{{ entity.dialogue }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.mediaInstruction' | trans }}</th>
                <td>{{ entity.mediaInstruction }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.mediaContext' | trans }}</th>
                <td>{{ entity.mediaContext }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.mediaText' | trans }}</th>
                <td>{{ entity.mediaText }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.sourceType' | trans }}</th>
                <td>{{ entity.sourceType }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.receptionType' | trans }}</th>
                <td>{{ entity.receptionType }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.functionType' | trans }}</th>
                <td>{{ entity.functionType }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.cognitiveOperation' | trans }}</th>
                <td>{{ entity.cognitiveOperation }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.languageLevel' | trans }}</th>
                <td>{{ entity.languageLevel }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.originText' | trans }}</th>
                <td>{{ entity.originText }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.exerciceText' | trans }}</th>
                <td>{{ entity.exerciceText }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.level' | trans }}</th>
                <td>{{ entity.Level }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.author' | trans }}</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.instruction' | trans }}</th>
                <td>{{ entity.instruction }}</td>
            </tr>
            <tr>
                <th>{{ 'questionnaire.field.skill' | trans }}</th>
                <td>{{ entity.skill }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}
        <a href="{{ path('admin_questionnaire') }}" class="btn btn-default">Back to the list</a>
        <a href="{{ path('admin_questionnaire_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}

        {{ form_rest(delete_form) }}
    {{ form_start(delete_form) }}

{% endblock %}
