{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Questionnaire</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ entity.theme }}</td>
            </tr>
            <tr>
                <th>Listeninglimit</th>
                <td>{{ entity.listeningLimit }}</td>
            </tr>
            <tr>
                <th>Dialogue</th>
                <td>{{ entity.dialogue }}</td>
            </tr>
            <tr>
                <th>Audioinstruction</th>
                <td>{{ entity.audioInstruction }}</td>
            </tr>
            <tr>
                <th>Audiocontext</th>
                <td>{{ entity.audioContext }}</td>
            </tr>
            <tr>
                <th>Audioitem</th>
                <td>{{ entity.audioItem }}</td>
            </tr>
            <tr>
                <th>OriginText</th>
                <td>{{ entity.originText }}</td>
            </tr>
            <tr>
                <th>ExerciceText</th>
                <td>{{ entity.exerciceText }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    {{ form_start(delete_form) }}
        {{ form_errors(delete_form) }}
        <a href="{{ path('admin_questionnaire') }}" class="btn btn-default">Back to the list</a>
        <a href="{{ path('admin_questionnaire_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_rest(delete_form) }}
    {{ form_start(delete_form) }}

{% endblock %}