{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a href="{{ path('show_start') }}"><img height="24px" src="{{ asset('upload/media/app-logo.jpg' ) }}"/></a>
        Reset mot de passe SELF - Système d’Evaluation en Langues à visée Formative
        </h4>
    </div>
    <div class="panel-body">
		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
		    {{ form_widget(form) }}
		    <div>
		        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
		    </div>
		</form>
	</div>
</div>
