{% extends '::base.html.twig' %}

{% block body -%}
        <a class="btn btn-default btn-sm" href="{{ path('editor_tests_show') }}">
        <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.test.back_to_list' | trans }}
        </a>
        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#export-session-modal">Selection d'une session à exporter</a>
        <hr/>

        <h3> Export  CSV  pour le test <strong>{{ test.name }}</strong></h3>

        {% if csvName is defined and csvName is not null %}
            <div class="alert alert-success" role="alert">
                {{ 'export.file_generated' | trans }} - <a href="{{ path('get-file', {'testId': test.id, 'filename': csvName, 'mode':"csv" } )}}">{{ 'export.file_download' | trans }}</a>
            </div>
        {% endif %}

        <h4>{{ 'export.files_list' | trans }}</h4>
        {% for file in fileList %}
            <h5>
                <a href="{{ path('get-file', {'testId': test.id, 'filename': file, 'mode':"csv" } )}}">{{ file }}</a>
            </h5>
        {% endfor %}

        <div class="modal fade" id="export-session-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Selection d'une session à exporter</h4>
                    </div>
                    <div class="modal-body">
                        {% if test.sessions is not empty %}
                        <ul class="list-group">
                        {% for session in test.sessions %}
                            <li class="list-group-item">
                                {{ session.name }}
                                <span class="pull-right">
                                    <a class="export-btn btn btn-default btn-xs" data-url="{{ path('csv-export-with-dates', {'testId': test.id, 'sessionId': session.id, 'tia': 0 } )}}" >
                                        csv
                                    </a>
                                    <a class="export-btn btn btn-default btn-xs" data-url="{{ path('csv-export-with-dates', {'testId': test.id, 'sessionId': session.id, 'tia': 1 } )}}" >
                                        tia+
                                    </a>
                                </span>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <a data-method="POST" href="{{ path('create_session_for_export', {'testId': test.id } )}}"  class="btn btn-default btn-xs rest">Créer une session à partir des traces déjà présentes.</a>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>

        {% include "InnovaSelfBundle:Session:date-modale.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='yui_js' output='js/compiled/session.js'
        '@InnovaSelfBundle/Resources/public/js/lib/jquery.quicksearch.js'
        '@InnovaSelfBundle/Resources/public/js/lib/moment-with-locales.min.js'
        '@InnovaSelfBundle/Resources/public/js/lib/bootstrap-datetimepicker.js'
        '@InnovaSelfBundle/Resources/public/js/editor-session.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
