<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Export PDF : du {{ "now"|date("d/m/Y") }} </title>
        <style type="text/css">
        .page-breaker {
            display: block;
            page-break-after: always;
            clear:both;
        }
        </style>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="row text-center" style="margin-top:3cm">
                <h4>Lansad</h4>
                <h4 style="margin-bottom:3cm">Service des langues pour spécialistes d'autres disciplines</h4>
                <h2>Attestation de positionnement en langue ({{ session.test.language.name |trans}})</h2>
                <h3 style="margin-bottom:3cm">
                    Délivrée à : 
                    {% if user.firstname is defined and user.lastname is defined %}
                        {{ user.lastname }} {{ user.firstname }}
                    {% else %} 
                        {{ user.username }}
                    {% endif %}
                    <br/> le {{ "now"|date("d/m/Y") }}.
                </h3>
                {% include "InnovaSelfBundle:Player/common:score.html.twig" %}
            </div>
        </div>
    </body>
</html>
