<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Export PDF : du {{ "now"|date("d/m/Y") }} </title>
        <style type="text/css">
        .page-breaker {
            display: block;
            page-break-after: always;
            clear:both;
        }
        </style>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <img src="{{  app.request.scheme ~'://' ~ app.request.httpHost ~ asset("bundles/innovaself/images/logo-uga.jpg") }}"/>
                <h2  style="margin-bottom:1cm"><b>Service des Langues</b></h2>
                <h3>Attestation de positionnement en <b>{{ session.test.language.name |trans}}</b></h3>
                <h3 style="margin-bottom:1cm">
                    Délivrée à:
                    {% if user.firstname is defined and user.lastname is defined %}
                        {{ user.firstname }} {{ user.lastname | upper }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                    <br/> le {{ date |date("d/m/Y") }}.
                </h3>
                {% include "InnovaSelfBundle:Player/common:score.html.twig" %}
            </div>
        </div>
    </body>
</html>
