{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'export.tests_list' | trans }}</h3>
        </div>
        <div class="panel-body">
            <div class='row pull-left col-md-3 test-available'>
            {% for i, test in tests if test.orderQuestionnaireTests[0].questionnaire.level is not null %}
                <div class="panel panel-default  ">
                    <div class="panel-body">
                        <div>
                            {% set level = test.orderQuestionnaireTests[0].questionnaire.level.name|lower %}
                            <a href="{{ path('csv-export', {'language': test.language.name| slice(0, 2)|lower, 'level': level, 'test': test.id } )}}" data-method="PUT" class="rest">{{ test.name }}</a>
                        </div>
                        <div>
                            <a href="{{ path('csv-export-tia', { 'language': test.language.name| slice(0, 2)|lower, 'level': level, 'test': test.id } )}}" data-method="PUT" class="rest">{{ test.name }} Tia Plus</a>
                        </div>
                        <div>
                            <a href="{{ path('csv-export-tia', { 'language': test.language.name| slice(0, 2)|lower, 'level': level, 'test': test.id, 'levelId': test.orderQuestionnaireTests[0].questionnaire.level.id } )}}" data-method="PUT" class="rest">{{ test.name }} Tia Plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/jquery.restfulizer.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/export.js") }}"></script>
{% endblock %}
