{% extends '::base.html.twig' %}

{% block body -%}
            <h3>{{ 'editor.test.list' | trans }}</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'editor.test.name' | trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, test in tests if test.orderQuestionnaireTests[0].questionnaire.level is not null %}
                        <tr>
                        <td>{{ test.name }}</td>
                        <td class="text-right">
                            <a href="{{ path('csv-export', {'testId': test.id, 'tia': 0 } )}}" data-method="PUT" class="rest btn btn-default btn-sm">Export</a>
                            <a href="{{ path('csv-export', {'testId': test.id, 'tia': 1 } )}}" data-method="PUT" class="rest btn btn-default btn-sm">Export Tia</a>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/jquery.restfulizer.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/innovaself/js/export.js") }}"></script>
{% endblock %}
