{% extends '::base.html.twig' %}

{% block body -%}
            <h3>{{ 'editor.test.list' | trans }}</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'editor.test.name' | trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, test in tests %}
                        <tr>
                        <td>{{ test.name }}</td>
                        <td class="text-right">
                            <a href="{{ path('csv-export', {'testId': test.id, 'tia': 0 } )}}" data-method="PUT" class="rest btn btn-default btn-sm">Export</a>
                            <a href="{{ path('csv-export', {'testId': test.id, 'tia': 1 } )}}" data-method="PUT" class="rest btn btn-default btn-sm">Export Tia</a>
                            <a href="{{ path('pdf-export', {'id': test.id } )}}" data-method="PUT" class="rest btn btn-default btn-sm">Export PDF</a>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
{% endblock %}