{% import _self as macros %}

{% macro displayMedia(media) %}
    {% import _self as macros %}
    {% set type = media.mediaType.name %}

    {% if type == "image" %}
        <!-- <span class="glyphicon glyphicon-picture"></span> -->
        <br/> <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('upload/media/') ~ media.url }}" width="100px"/>

    {% elseif type == "texte" %}
        <span class="glyphicon glyphicon-align-center"></span>
        <br/> {{ media.description|raw }}

    {% elseif type == "audio" %}
        <span class="glyphicon glyphicon-headphones"></span>
            {{ macros.displayLimit(media) }} <br/> {{ media.description|raw }}

    {% elseif type == "video" %}
        <span class="glyphicon glyphicon-facetime-video"></span>
        {{ macros.displayLimit(media) }} <br/> {{ media.description|raw }}
    {% endif %}

{% endmacro %}

{% macro displayLimit(media) %}
    {% if media.mediaLimits[0].listeningLimit > 0 %}
        ({{ media.mediaLimits[0].listeningLimit }})
    {% else %}
        (∞)
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Export PDF : du {{ "now"|date("d/m/Y") }} </title>
        <style type="text/css">
        .page-breaker {
            display: block;
            page-break-after: always;
            clear:both;
        }
        </style>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>SELF Export PDF</h1>
        <hr/>
        <p><strong>Test : </strong>{{ test.name }}</p>
        <p><strong>Langue : </strong>{{ test.language.name }}</p>
        <p><strong>Date de l'export : </strong>{{ "now"|date("d/m/Y") }}</p>

        <div class="page-breaker"></div>

        {% for i, orderQuestionnaireTest in test.orderQuestionnaireTests %}
            {% set q = orderQuestionnaireTest.questionnaire %}
            {% set question = q.questions[0] %}
            {% set items = question.subquestions %}

            <h2>Tâche #{{ i+1 }} : {{ q.theme }}</h2> 
            <h3>{% if question.typology %} {{ question.typology.name }} - {% endif %} {% if q.skill %} {{ q.skill.name }} {% endif %}</h3>
            <hr/>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if q.mediaContext is not null %}
                        <div>
                            <strong>Contexte</strong> 
                            {{ macros.displayMedia(q.mediaContext) }}
                        </div>
                    {% endif %}
                    
                    {% if q.mediaText is not null %}
                        <div>
                            <strong>Objet de la question</strong> 
                            {{ macros.displayMedia(q.mediaText) }}
                        </div>
                    {% endif %}

                    {% if q.mediaFunctionalInstruction is not null %}
                        <div>
                            <strong>Consigne Fonctionnelle</strong> :
                            {{ macros.displayMedia(q.mediaFunctionalInstruction) }}
                        </div>
                    {% endif %}

                    {% if q.mediaBlankText is not null %}
                        <div>
                            <strong>Texte lacunaire</strong> 
                            {{ macros.displayMedia(q.mediaBlankText) }}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% for j, item in items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Item #{{ j+1}}</h3>
                    </div>
                    <div class="panel-body">
                    
                    <!--

                        {% if item.focuses is not empty %}
                            <div>
                                <strong>Focus:</strong> 
                                {% for focus in item.focuses %}
                                    {{ focus.name  | trans }} -  
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if item.cognitiveOpsMain is not empty %}
                            <div>
                                <strong>Opérations cognitives principales:</strong> 
                                {% for cognitiveOpMain in item.cognitiveOpsMain %}
                                    {{ cognitiveOpMain.name  | trans  }} -  
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if item.cognitiveOpsSecondary is not empty %}
                            <div>
                                <strong>Opérations cognitives secondaires:</strong> 
                                {% for cognitiveOpSecondary in item.cognitiveOpsSecondary %}
                                    {{ cognitiveOpSecondary.name | trans }} -  
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                    -->

                        {% if item.mediaAmorce is not null %}
                            <div>
                                <strong>Amorce</strong> 
                                {{ macros.displayMedia(item.mediaAmorce) }}
                            </div>
                        {% endif %}
                        
                        {% set k = 0 %}
                        {% for proposition in item.propositions if proposition.media.mediaPurpose.name != "reponse" %}
                            {% if k == 0 %}
                                <strong>Proposition(s)</strong> :<br/>
                            {% endif %}
                                <div class="col-xs-3 panel panel-default">
                                    <div class="panel-body">
                                    {{ k+1 }} 
                                    {% if proposition.rightAnswer == true %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                    {{ macros.displayMedia(proposition.media) }}
                                    </div>
                                </div>
                            {% set k = k+1 %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="page-breaker"></div>
        {% endfor %}
    </body>
</html>
