{% set bulleCount = i + 1 %}
<div>
	{{ macros.media("apparriement" ~ subquestion.id, subquestion.media,  proposition.media.mediaType.name ~ bulleCount ~".png", 90, 0, "Liez une proposition de droite à cet élément") }}
	<span subquestionId="{{ subquestion.id }}" class="answer droppable">
		{% for i, proposition in subquestion.propositions %}
			<input type="checkbox" equivalence = {{ subquestion0.propositions[i].id }} value = {{ proposition.id }} > {{ proposition.id }} <br/>
		{% endfor %}

	</span>
</div>
{% if i == 0 %}
	<div class="pull-right">
		{% for proposition in subquestion.propositions | shuffle %}
		    {% set bulleCount = bulleCount + 1 %}
		    <div class="droppable source">
			    <div propositionId="{{ proposition.id }}" class="proposition draggable">
			    	<span class="glyphicon glyphicon-move touch-me"></span>
			        {{ macros.media("proposition" ~ proposition.id, proposition.media,  "situation_monologue.png", 70, 0, "Proposition à associer à un élément de gauche") }}
			    </div>
			</div>
		{% endfor %}
	</div>
{% endif %}
