{% macro media(id, media, icon, height, limitAudio, tooltip) %}

    {% if media.mediaType.name == "audio" %}
        {% if id == "situation" %}
            <!--#134 : appel de la modal uniquement dans le cas "audio/situation" -->
            <img rel="tooltip" data-toggle="modal" data-target="#controlModal" data-original-title="{{ tooltip }}" data-listened=0 data-limit={{ limitAudio }} sound="{{ id }}" statut="pause" class="item_audio_button" height="{{ height }}px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
        {% else %}
           <img rel="tooltip" data-original-title="{{ tooltip }}" data-listened=0 data-limit={{ limitAudio }} sound="{{ id }}" statut="pause" class="item_audio_button" height="{{ height }}px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
        {% endif %}
        <audio preload="auto" id="{{ id }}" class="item_audio">
            <source src="{{ asset('upload/media/') ~ media.url }}.mp3" type="audio/mp3">
            <source src="{{ asset('upload/media/') ~ media.url }}.ogg" type="audio/ogg">
            Votre navigateur est trop ancien.
        </audio>
    {% else %}
        <div id="modal-{{ id }}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-contentfr">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ tooltip }}</h4>
                </div>
                <div class="modal-body modal-black">

                    {% if media.mediaType.name == "image" %}
                    <img id="{{ id }}" src="{{ asset('upload/media/') ~ media.url }}" height="280" rel="tooltip" data-original-title="{{ tooltip }}"/>

                    {% elseif media.mediaType.name == "texte" %}
                    <span id="{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}"> {{ media.description }} </span>

                    {% elseif media.mediaType.name == "video" %}
                    <video height="280" id="{{ id }}">
                        <source src="{{ asset('upload/media/') ~ media.url }}" >
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <img data-toggle="modal" data-target="#modal-{{ id }}" rel="tooltip"  data-original-title="{{ tooltip }}" height="{{ height }}px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
    {% endif %}
{% endmacro %}

{% macro inputs(type, subquestionId, propositionId, text) %}
    <label class="{{ type }}-inline">
        <input type="{{ type }}" name="{{ subquestionId }}[]" id="proposition{{ propositionId }}" value="{{ propositionId }}" required>
        {% if text == "VRAI" %}
            {{ 'generic.boolTrue' | trans }}
        {% else %}
            {% if text == "FAUX" %}
                {{ 'generic.boolFalse' | trans }}
            {% else %}
                {{ text }}
            {% endif %}
        {% endif %}
    </label>
{% endmacro %}