{% if questionnaire.dialogue == 1 %}
    {{ macros.media("situtation", questionnaire.mediaText, "situation_dialogue.png", 120, questionnaire.ListeningLimit, "Situation de départ") }}
{% else %}
    {{ macros.media("situtation", questionnaire.mediaText, "situation_monologue.png", 120, questionnaire.ListeningLimit, "Situation de départ") }}
{% endif %}
<div>Reste <span data-limit={{ questionnaire.ListeningLimit }} id="limit_listening">{{ questionnaire.ListeningLimit }}</span> <span id="limit_listening_text">{{ limit_listening_text }}</span> </div>
