{% set bulleCount = i + 1 %}
<div class="vf-sub">
    {% if subquestion.title is not null %}
    <h4>{{ subquestion.title }}</h4>
    {% endif %}
    <p>
        {% if subquestion.media is not null %}
            {{ macros.media("subquestion-" ~ subquestion.id, subquestion.media, subquestion.media.mediaType.name ~ bulleCount ~".png", 90, 0, "Proposition de réponse") }}
        {% endif %}
        {% if subquestion.mediaAmorce is not null %}
            {{ macros.media("amorce-"~ subquestion.id, subquestion.mediaAmorce, "audio.png", 90, 0, "Amorce") }}
        {% endif %}
        {% for proposition in subquestion.propositions %}
            {{ macros.inputs("radio", subquestion.id, proposition.id, proposition.media.description, 90, 0, "Ecouter cette proposition de réponse")}}
            {{ macros.media("proposition" ~ proposition.id, proposition.media, proposition.media.mediaType.name ~ bulleCount ~".png", 90, 0, "Proposition de réponse") }}
            &nbsp;
        {% endfor %}
    </p>
</div>
