<div id="contexte-icon">
    <img {% if questionnaire.mediaContext is null %} class="plop" {% endif %} src="{{ asset("bundles/innovaself/images/") }}contexte.png" rel="tooltip" data-original-title="{{ 'player.tooltip.context' | trans }}" />
</div>

{#fix #436 : Enlever l'image texte #}
{% if questionnaire.mediaText is not null %}
    <div id="situation-icon">
        <img width=70px src="{{ asset("bundles/innovaself/images/") }}situation-EEC.png" rel="tooltip" data-original-title="Objet de la question" />
    </div>
{% endif %}

{% set typoCe = ['QRM', 'QRU', 'TQRM', 'TQRU'] %}

{% for question in questionnaire.questions %}
    {% if questionnaire.mediaText is not null %}
        <div id="left-container-CE" class="col-md-5 left-container">
        {% include "InnovaSelfBundle:Player/CE:contexte.html.twig" %}
        {% include "InnovaSelfBundle:Player/CE:situation.html.twig" %}
        </div>
        <div id="right-container-CO" class="col-md-7 right-container">
            {% if (question.typology.name in typoCe) %}
                <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
                    {% include "InnovaSelfBundle:Player/common:tab-nav.html.twig" %}
                    {% include "InnovaSelfBundle:Player/CE:tab-content.html.twig" %}
                    {% include "InnovaSelfBundle:Player/common:submit.html.twig" %}
                </form>
            {% else %}
                <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
                    {% include "InnovaSelfBundle:Player/EEC:consigne.html.twig" %}
                    {% include "InnovaSelfBundle:Player/EEC:situation.html.twig" %}
                    {% include "InnovaSelfBundle:Player/EEC:tab-content.html.twig" %}
                    {% include "InnovaSelfBundle:Player/common:submit.html.twig" %}
                </form>
            {% endif %}
        </div>
    {% else %}
        {% if (question.typology.name in typoCe) %}
            <div id="left-container-CE" class="col-md-5 left-container">
            {% include "InnovaSelfBundle:Player/CE:contexte.html.twig" %}
            {% include "InnovaSelfBundle:Player/CE:situation.html.twig" %}
            </div>
            <div id="right-container-CO" class="col-md-7 right-container">
                <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
                    {% include "InnovaSelfBundle:Player/common:tab-nav.html.twig" %}
                    {% include "InnovaSelfBundle:Player/CE:tab-content.html.twig" %}
                    {% include "InnovaSelfBundle:Player/common:submit.html.twig" %}
                </form>
            </div>
        {% else %}
            <div id="left-container-EEC" class="col-md-12 left-container">
                <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
                    {% include "InnovaSelfBundle:Player/EEC:contexte.html.twig" %}
                    {% include "InnovaSelfBundle:Player/EEC:consigne.html.twig" %}
                    {% include "InnovaSelfBundle:Player/EEC:situation.html.twig" %}
                    {% include "InnovaSelfBundle:Player/EEC:tab-content.html.twig" %}
                    {% include "InnovaSelfBundle:Player/common:submit.html.twig" %}
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
