{% if questionnaire.mediaInstruction is not null %}
    {% if questionnaire.mediaInstruction.mediaType.name == "image" %}
        <div id="image-EEC" class="image-EEC">
            {{ macros.image("situation-image", questionnaire.mediaInstruction, "Objet de la question - Cliquer pour agrandir", "" ) }}
            {{ macros.modale("situation-image", questionnaire.mediaInstruction, "Objet de la question") }}
        </div>
    {% endif %}
{% endif %}

<div id="situation-EEC" class="situation">
    {% if questionnaire.mediaBlankText is not null %}
        {% if questionnaire.mediaBlankText.mediaType.name == "texte" %}
            {% autoescape 'html' %}
                {% set typoQuestion = questionnaire.questions[0].typology.name %}

                {% set texte = questionnaire.mediaBlankText.description|disambiguate %}

                {% for i, subquestion in questionnaire.questions[0].subquestions %}
                    {% if typoQuestion == "TLQROC" %}
                        {# VAR INIT. #}
                        {% set charSeparate = "-" %}
                        {% set tabInputSize = [5, 10, 15, 20, 25, 30] %}
                        {% set textRightAnswer = "" %}
                        {% set maxValueSize = 0 %}
                        {% set clue = '' %}
                        {% set dataTitle = '' %}
                        {% set cssClueColor = '' %}
                        {% set syllable = "" %}
                        {% set displayAnswer = "" %}
                        {% set placeH =  "" %}

                        {# INDICE #}
                        {% if subquestion.clue is not null %}
                            {% set clue = subquestion.clue.media.description|escape %}
                            {% set cssClueColor = subquestion.clue.clueType.color %}
                            {% set dataTitle = '<span class="'~cssClueColor~'">'~clue~'</span>' %}
                        {% endif %}

                        {# SYLLABE #}
                        {% if subquestion.mediaSyllable is not null %}
                            {% set syllable = subquestion.mediaSyllable.description %}
                        {% endif %}

                        {% for j, proposition in subquestion.propositions %}
                            {% if proposition.rightAnswer and proposition.media.mediaPurpose.name == "proposition" %}

                                {# Recherche/Calcul de la taille d'affichage de la zone Input #}
                                {% for inputSize in tabInputSize %}
                                    {% if inputSize > proposition.media.description|length and maxValueSize == 0 %}
                                        {%  set maxValueSize = inputSize %}
                                    {% endif %}
                                {% endfor %}

                                {# Dans ce cas, la taille de la zone Input est la taille de la solution + 5 caractères #}
                                {% if ( maxValueSize == 0 ) %}
                                    {% set maxValueSize = proposition.media.description|length + 5 %}
                                {% else %}
                                    {% set maxValueSize = maxValueSize + 1 %}
                                {% endif %}

                                {# AFFICHAGE DE LA REPONSE #}
                                {% if subquestion.displayAnswer %}
                                    {% set displayAnswer = " readonly " %}
                                    {% set placeH = proposition.media.description %}
                                {% endif %}

                                {% set html = '<input '~displayAnswer~'
                                                            data-html="true"
                                                            class="form-control proposition-input '~cssClueColor~'"
                                                            data-original-title="'~ dataTitle|escape ~'"
                                                            name="'~ subquestion.id ~'[]"
                                                            placeholder="'~placeH~'"
                                                            id="input-proposition'~ proposition.id ~'"
                                                            value="'~placeH~'"
                                                            rel="tooltip"
                                                            data-toggle="tooltip"
                                                            size="'~ maxValueSize ~'"
                                                            maxlength="'~ maxValueSize ~'"
                                                            required
                                                            autocomplete="off"
                                                        />'
                                %}

                                {% if subquestion.displayAnswer %}
                                    {% set html = '<span class="clear-lacune">'~html~'</span>' %}
                                {% endif %}

                                {% if syllable != "" and not subquestion.displayAnswer %}
                                    {% set html = '<span class="form-group" style="max-width: 250px"><span class="input-group lacune">
                                    <span class="input-group-addon">'~syllable~'</span>'~html~'</span></span>' %}
                                {% endif %}

                                {% set selector = "#"~i~"#"~proposition.media.description~"#" %}

                                {% set texte = texte|replace({(selector): html}) %}
                            {% endif %}
                        {% endfor %}

                    {% elseif typoQuestion == "TLCMLDM" %}
                        {% set html = "<select required class='proposition-input check-select' name='"~ subquestion.id ~"[]'>" %}
                        {% set html = html~"<option value=''>"~"</option>" %}
                        {% set rightAnswer = '' %}
                        {# fix #438 : Affichage aléatoires des valeurs dans les listes de choix #}
                        {% if questionnaire.fixedOrder %}
                            {% set propositions = subquestion.propositions %}
                        {% else %}
                            {% set propositions = subquestion.propositions | shuffle %}
                        {% endif %}
                        {% for j, proposition in propositions %}
                            {% set html = html~"<option id='input-proposition"~ proposition.id ~"' value='"~ proposition.id ~"'>"~proposition.media.description~"</option>" %}
                            {% if proposition.rightAnswer %}
                                {% set rightAnswer = proposition.media.description %}
                            {% endif %}
                        {% endfor %}
                        {# Fermeture de la liste de choix #}
                        {% set html = html~"</select>" %}
                        {# Remplacement des données de la base par les listes de choix #}
                        {% set selector = "#"~i~"#"~rightAnswer~"#" %}
                        {% set texte = texte|replace({(selector): html}) %}

                    {% elseif typoQuestion == "TLCMLMULT" %}
                        {% set html = "<select required class='proposition-input check-select' name='"~ subquestion.id ~"[]'>" %}
                        {% set html = html~"<option value=''>"~"</option>" %}
                        {% set rightAnswer = '' %}
                        {% if questionnaire.fixedOrder %}
                            {% set propositions = subquestion.propositions %}
                        {% else %}
                            {% set propositions = subquestion.propositions | shuffle %}
                        {% endif %}
                        {% for j, proposition in propositions %}
                            {% set html = html~"<option id='input-proposition"~ proposition.id ~"' value='"~ proposition.id ~"'>"~proposition.media.description~"</option>" %}
                            {% if proposition.rightAnswer %}
                                {% set rightAnswer = proposition.media.description %}
                            {% endif %}
                        {% endfor %}
                        {# Fermeture de la liste de choix #}
                        {% set html = html~"</select>" %}
                        {# Remplacement des données de la base par les listes de choix #}
                        {% set selector = "#"~i~"#"~rightAnswer~"#" %}
                        {% set texte = texte|replace({(selector): html}) %}
                    {% endif %}

                {% endfor %}
                {# Pour l'affichage des émoticones. (à affiner vu qu'ils veulent ajouter des images autres que des émoticones.) #}
                {% set texte =  texte|replace({"<img": "<img class='emoticones'"}) %}


                {{ texte | raw }}

            {% endautoescape %}
        {% elseif questionnaire.mediaText.mediaType.name == "image" %}
            {{ questionnaire.mediaText.description|raw }}
            {{ macros.image("situation-image", questionnaire.mediaText, "Objet de la question - Cliquer pour agrandir", "" ) }}
            {{ macros.modale("situation-image", questionnaire.mediaText, "Objet de la questionnnnnn") }}
        {% endif %}

    {% endif %}

    {% include "InnovaSelfBundle:Player/common:functionalInstruction.html.twig" %}
</div>
