<div class="propositions-CE">
    {% if subquestion.typology.name == "TVF" or subquestion.typology.name == "TVFNM" %}
        {% set vf = true %}
    {% else %}
        {% set vf = false %}
    {% endif %}

    {% if questionnaire.fixedOrder %}
        {% set propositions = subquestion.propositions %}
    {% else %}
        {% set propositions = subquestion.propositions | shuffle %}
    {% endif %}

    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-CE">
            {{ macros.inputs(subquestion, proposition) }}
            <label for="input-proposition{{ proposition.id }}" class="proposition-CE-text {% if vf == true %}proposition-text-vraifaux{% endif %}">
                {% if proposition.media.mediaType.name == "texte" %}
                    {{ macros.translateVF(proposition.media.description) }}
                {% elseif proposition.media.mediaType.name == "image" %}
                    {{ macros.image(proposition.media.id, proposition.media, 'player.tooltip.enlarge' | trans, 230, 230) }}
                    {{ macros.modale(proposition.media.id, proposition.media, 'player.tooltip.enlarge' | trans) }}
                {% endif %}
            </label>
        </div>
    {% endfor %}
</div>
