<div class="propositions-CE">

    {# Avril 2014 : affichage en ordre fixe ou pas. EV. #}
    {# {% if subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVF" or subquestion.typology.name == "TVFNM" %} #}
    {% if questionnaire.fixedOrder %}
        {% set propositions = subquestion.propositions %}
    {% else %}
        {% set propositions = subquestion.propositions | shuffle %}
    {% endif %}

    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-CE">
            {{ macros.inputs(subquestion, proposition) }}
            {# #490 Demande de Cristiana : pour les vrai/faux, afficher une zone moins grande. ERV. #}
            {% set vraifaux = proposition.media.description|lower %}
            {% set myArray = ["vrai", "faux", "nd"] %}
            {% if vraifaux in myArray %}
                <label for="input-proposition{{ proposition.id }}" class="proposition-CE-text proposition-text-vraifaux">
                    {{ macros.translateVF(proposition.media.description) }}
                </label>
            {% else %}
                <label for="input-proposition{{ proposition.id }}" class="proposition-CE-text">
                    {{ macros.translateVF(proposition.media.description) }}
                </label>
            {% endif %}
        </div>
    {% endfor %}
</div>
