{% extends '::base.html.twig' %}

{% block navbar %}
{% endblock %}

{% block body %}
<div class="modal-body">
    <div class="well text-center">
        <img height="290px" src="{{ asset("bundles/innovaself/images/innova_logo_web_390.png") }}"/>
        <h1>SELF</h1>
        <h2>- Système d’Evaluation en Langues à visée Formative -</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>{{ 'anonymous.first' | trans }}</h3>
                <p>{{ 'anonymous.register' | trans }}</p>
                <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">{{ 'anonymous.registration' | trans }}</a>
            </div>
            <div class="col-md-6">
                <h3>{{ 'anonymous.already_registered' | trans }}</h3>
                <p>{{ 'anonymous.connect' | trans }}</p>
                <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">{{ 'anonymous.connection' | trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
