<div id="item-count-container" class="row">
    <div id="item-count" class="col-md-1 col-md-offset-11">
	{{ questionnaire.theme }} {{ questionnaire.questions[0].typology.name }}
    {{ counQuestionnaireDone + 1 }} {{ 'player.count_task' | trans }} {{ test.questionnaires.count }}
	</div>
</div>
