{% extends '::base.html.twig' %}
{% block body -%}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">{{ flash }}</div>
        {% endfor %}
    {% endfor %}

    <form action="{{ path('trace_setDifficulty', { 'traceId': trace.id, 'testId': test.id, 'sessionId': session.id }) }}" method="post">
        {{ 'trace.action.evaluate' | trans }}
        <label class="radio">
            <input type="radio" name="difficulty" value=1 required> {{ 'trace.field.difficulty.veryEasy' | trans }}
        </label>
        <label class="radio">
            <input type="radio" name="difficulty" value=2 required> {{ 'trace.field.difficulty.easy' | trans }}
        </label>
        <label class="radio">
            <input type="radio" name="difficulty" value=3 required> {{ 'trace.field.difficulty.normal' | trans }}
        </label>
        <label class="radio">
            <input type="radio" name="difficulty" value=4 required> {{ 'trace.field.difficulty.difficult' | trans }}
        </label>
        <label class="radio">
            <input type="radio" name="difficulty" value=5 required> {{ 'trace.field.difficulty.veryDifficult' | trans }}
        </label>

        <input type="hidden" name="traceId" value="{{ trace.id }}"/>
        <input type="submit" class="btn btn-primary" value="{{ 'generic.validate' | trans }}"/>
    </form>
{% endblock %}
