{% macro inputs(subquestion, proposition) %}
    {% if subquestion.typology.name == "TQRU" or subquestion.typology.name == "TVFNM" or subquestion.typology.name == "TVF" %}
        {% set type = "radio" %}
    {% else %}
        {% set type = "checkbox" %}
    {% endif %}
    <input class="proposition-input" type="{{ type }}" name="{{ subquestion.id }}[]" id="input-proposition{{ proposition.id }}" value="{{ proposition.id }}" required />
{% endmacro %}

{% macro audio(id, media, icon, height, limitAudio, tooltip) %}
    <img rel="tooltip" data-original-title="{{ tooltip }}" sound="{{ id }}" class="item_audio_button" height="{{ height }}px" data-media-id="{{ media.id }}" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>

    <audio preload="none" id="{{ id }}" class="item_audio">
        <source src="{{ asset('upload/media/') ~ media.url }}.ogg" type="audio/ogg">
        <source src="{{ asset('upload/media/') ~ media.url }}" type="audio/mp3">
        Votre navigateur est trop ancien.
    </audio>

    {% if id == "situation" %}
        <div style="width:164px; margin:auto;">
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro image(id, media, tooltip, width, maxheight) %}
    {% import _self as macros %}
    <div style='position: relative;'>
        <img data-toggle="modal" style="max-width:{{ width }}px; max-height:{{ maxheight }}px" data-target="#modal-{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}" src="{{ asset('upload/media/') ~ media.url }}" />
    </div>
{% endmacro %}

{% macro imageAPP(id, media, tooltip, filter) %}
    {% import _self as macros %}
    {% if filter == 3 %}
        {% set maxwidth = 174 %}
    {% else %}
        {% set maxwidth = 120 %}
    {% endif %}
    <img style="max-width:{{ maxwidth }}px" data-toggle="modal" data-target="#modal-{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}" src="{{ asset('upload/media/') ~ media.url }}" />
{% endmacro %}

{% macro video(id, media, limitAudio) %}
    <video id="video" preload="none">
        <source src="{{ asset('upload/media/') ~ media.url }}" poster="{{ asset('bundles/innovaself/images/') ~ "video.png"}}" >
        Your browser does not support the video tag.
    </video>
    <div id="video-controls" class="row">
        <div class="col-md-2">
            <span class="btn btn-default glyphicon glyphicon-play" id="play" sound="{{ id }}" data-media-id="{{ media.id }}"></span>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>

        <!-- <span class="btn btn-default" id="full-screen">{{ 'fullscreen.fullscren' | trans }}</span> -->
    </div>
{% endmacro %}

{% macro modale (id, media, title) %}
    <div id="modal-{{ id }}" class="modal fade modales">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                {% if media.mediaType.name == "image" %}
                    <div class="text-center">
                        <img src="{{ asset('upload/media/') ~ media.url }}"/>
                    </div>
                {% elseif media.mediaType.name == "texte" %}
                    <div id="{{ id }}"> {{ media.description }} </div>
                {% elseif media.mediaType.name == "video" %}
                    <video id="{{ id }}" preload="none">
                        <source src="{{ asset('upload/media/') ~ media.url }}" >
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro translateVF(description) %}
    {% set description = description |striptags %}
    {% if description == "VRAI" %}
        {{ 'generic.boolTrue' | trans }}
    {% elseif description == "FAUX" %}
        {{ 'generic.boolFalse' | trans }}
    {% elseif description == "ND" %}
       {{ 'generic.boolND' | trans }}
    {% else %}
            {{ description|raw }}
    {% endif %}
{% endmacro %}

{% macro getEquivalence(media, subquestion) %}
    {% for proposition in subquestion.propositions %}
        {% if proposition.media == media %}
            {{ proposition.id }}
        {% endif %}
    {% endfor %}
{% endmacro %}
