{% macro inputs(subquestion, proposition) %}
    {% if subquestion.typology.name == "QRU" or subquestion.typology.name == "TQRU" or subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVFNM" or subquestion.typology.name == "TVF" %}
        {% set type = "radio" %}
    {% else %}
        {% set type = "checkbox" %}
    {% endif %}
    <input class="proposition-input" type="{{ type }}" name="{{ subquestion.id }}[]" id="input-proposition{{ proposition.id }}" value="{{ proposition.id }}" required />
{% endmacro %}

{% macro audio(id, media, icon, height, limitAudio, tooltip) %}
    
    <img rel="tooltip" data-original-title="{{ tooltip }}" data-listened=0 data-limit={{ limitAudio }} sound="{{ id }}" statut="pause" class="item_audio_button" height="{{ height }}px" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>
    
    <audio preload="auto" id="{{ id }}" class="item_audio">
        <source src="{{ asset('upload/media/') ~ media.url }}.mp3" type="audio/mp3">
        <source src="{{ asset('upload/media/') ~ media.url }}.ogg" type="audio/ogg">
        Votre navigateur est trop ancien.
    </audio>
{% endmacro %}

{% macro image(id, media, tooltip) %}
    {% import _self as macros %}
    {{ macros.modale(id, media, tooltip) }}
    {# <img data-toggle="modal" data-target="#modal-{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}" src="{{ asset('upload/media/') ~ media.url }}" /> #}
    <img data-toggle="modal" data-target="#modal-{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}" src="http://images.gs-cdn.net/static/artists/120_artist.png" />
{% endmacro %}

{% macro video(id, media) %}
    <video controls id="{{ id }}">
        <source src="{{ asset('upload/media/') ~ media.url }}.webm" >
        Your browser does not support the video tag.
    </video>
{% endmacro %}

{% macro modale (id, media, title) %}
    <div id="modal-{{ id }}" class="modal fade modales">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <!--
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
            -->
                <div class="modal-body">
                {% if media.mediaType.name == "image" %}
                    {# <img src="{{ asset('upload/media/') ~ media.url }}"/> #}
                    <img src="http://images.gs-cdn.net/static/artists/120_artist.png" />
                {% elseif media.mediaType.name == "texte" %}
                    <div id="{{ id }}"> {{ media.description }} </div>
                {% elseif media.mediaType.name == "video" %}
                    <video id="{{ id }}">
                        <source src="{{ asset('upload/media/') ~ media.url }}" >
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro translateVF(description, language) %}
    {% set languageShorten = language | slice(0, 2) | lower %}

    {% if description == "VRAI" %}
        {{ 'generic.boolTrue' | trans({}, "messages", languageShorten) }}
    {% elseif description == "FAUX" %}
        {{ 'generic.boolFalse' | trans({}, "messages", languageShorten) }}
    {% elseif description == "ND" %}
       {{ 'generic.boolND' | trans({}, "messages", languageShorten) }}
    {% else %}
        {{ description | raw }}
    {% endif %}
{% endmacro %}
