{% macro inputs(subquestion, proposition) %}
    {% if subquestion.typology.name == "QRU" or subquestion.typology.name == "TQRU" or subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVFNM" or subquestion.typology.name == "TVF" %}
        {% set type = "radio" %}
    {% else %}
        {% set type = "checkbox" %}
    {% endif %}
    <input class="proposition-input" type="{{ type }}" name="{{ subquestion.id }}[]" id="input-proposition{{ proposition.id }}" value="{{ proposition.id }}" required />
{% endmacro %}

{% macro audio(id, media, icon, height, limitAudio, tooltip) %}

    <img rel="tooltip" data-original-title="{{ tooltip }}" sound="{{ id }}" class="item_audio_button" height="{{ height }}px" data-media-id="{{ media.id }}" src="{{ asset("bundles/innovaself/images/") }}{{ icon }}"/>

    <audio preload="auto" id="{{ id }}" class="item_audio">
        <source src="{{ asset('upload/media/') ~ media.url }}" type="audio/mp3">
        Votre navigateur est trop ancien.
    </audio>

    {% if id == "situation" %}
        <div style="width:164px; margin:auto;">
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro image(id, media, tooltip, width) %}
    {% import _self as macros %}
    {# {{ macros.modale(id, media, tooltip) }} #}
    <div style='position: relative;'>
        <img data-toggle="modal" width="{{ width }}px" data-target="#modal-{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}" src="{{ asset('upload/media/') ~ media.url }}" />
        <img style='position: absolute; right: 50px; top :50px; height :18px; width :18px' data-toggle="modal" rel="tooltip" data-original-title="Loupe" src="{{ asset('bundles/innovaself/images/loupe.png') }}" />
    </div>
{% endmacro %}

{% macro imageAPP(id, media, tooltip, filter) %}
    {% import _self as macros %}
    <img data-toggle="modal" data-target="#modal-{{ id }}" rel="tooltip" data-original-title="{{ tooltip }}" src="{{ media.url | apply_filter(filter) }}" />
{% endmacro %}

{% macro video(id, media, limitAudio) %}
    <video id="video">
        <source src="{{ asset('upload/media/') ~ media.url }}" poster="{{ asset('bundles/innovaself/images/') ~ "video.png"}}" >
        Your browser does not support the video tag.
    </video>
    <div id="video-controls" class="row">
        <div class="col-md-2">
            <span class="btn btn-default glyphicon glyphicon-play" id="play" sound="{{ id }}" data-media-id="{{ media.id }}"></span>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>

        <!-- <span class="btn btn-default" id="full-screen">{{ 'fullscreen.fullscren' | trans }}</span> -->
    </div>
{% endmacro %}

{% macro modale (id, media, title) %}
    <div id="modal-{{ id }}" class="modal fade modales">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                {% if media.mediaType.name == "image" %}
                    <img src="{{ asset('upload/media/') ~ media.url }}"/>
                {% elseif media.mediaType.name == "texte" %}
                    <div id="{{ id }}"> {{ media.description }} </div>
                {% elseif media.mediaType.name == "video" %}
                    <video id="{{ id }}">
                        <source src="{{ asset('upload/media/') ~ media.url }}" >
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro translateVF(description, language) %}
    {% set description = description |striptags %}
    {% if description == "VRAI" %}
        {{ 'generic.boolTrue' | trans }}
    {% elseif description == "FAUX" %}
        {{ 'generic.boolFalse' | trans }}
    {% elseif description == "ND" %}
       {{ 'generic.boolND' | trans }}
    {% else %}
            {{ description|raw }}
    {% endif %}
{% endmacro %}

{# Macro pour l'EEC #}
{% macro situation(subquestion, i, texte, typoQuestion) %}

    {% set charSeparate = "-" %}
    {% set tabInputSize = [5, 10, 15, 20, 25, 30] %}
    {% set textRightAnswer = "" %}
    {% set maxValueSize = 0 %}

    {# Recherche du texte correct #}
    {% for j, proposition in subquestion.propositions %}
        {% if proposition.rightAnswer %}
            {% set textRightAnswer = proposition.media.description %}
            {# Recherche/Calcul de la taille d'affichage de la zone Input #}
            {% for inputSize in tabInputSize %}
                {% if inputSize > proposition.media.description|length and maxValueSize == 0 %}
                    {%  set maxValueSize = inputSize %}
                {% endif %}
            {% endfor %}
            {# Test si la taille de la solution est plus grande que 12 #}
            {# Dans ce cas, la taille de la zone Input est la taille de la solution + 5 caractères #}
            {% if ( maxValueSize == 0 ) %}
                {% set maxValueSize = proposition.media.description|length + 5 %}
            {% else %}
                {% set maxValueSize = maxValueSize + 1 %}
            {% endif %}

            {# Initialisation du champ de saisie en fonction de la taille du texte correct #}
            {% set initTextRightAnswer = "" %}
            {% if typoQuestion == "TLQROCLEN"  %}
                {% for i in 1..textRightAnswer|length %}
                    {% set initTextRightAnswer = initTextRightAnswer~charSeparate %}
                {% endfor %}

            {% elseif typoQuestion == "TLQROCSYL"  %}
                {% set syllable = subquestion.mediaSyllable.description %}
                {% set html = "" %}
                {# Initialisation du champ de saisie en fonction de la taille du texte correct #}
                {% set initTextRightAnswer = textRightAnswer %}
                {% set html = html~"<div class='input-group'>
                    <span class='input-group-addon'>"~syllable~"</span>
                    <input data-right-answer-length='"~textRightAnswer|length~"' type='text' class='form-control mask'>
                </div>" %}
                {% set selector = "#"~proposition.media.description~"#" %}
                {% set texte = texte|replace({(selector): html}) %}

            {% elseif typoQuestion == "TLQROCFIRST"  %}
                {# Initialisation du champ de saisie en fonction de la taille du texte correct #}
                {% set initTextRightAnswer = proposition.media.description|slice(0, 1) %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {# Affichage de questionnaire.mediaText #}
    {{ texte | raw }}

{% endmacro %}
