{% for skill, levels in score %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ skill }}
		</div>
		<div class="panel-body">
            <table class="table text-center">
            	<tr>
		            {% for levelName, plop in levels %}
		                <td>{{ levelName }}</td>
		            {% endfor %}
				</tr>
				<tr>
					{% for levelName, plop in levels %}
						<td>
							{% if plop.count != 0 %}
			                	{{ plop.correct }} / {{ plop.count }}
			                {% else %}
			                 	-
			               	{% endif %}
			            </td>
		            {% endfor %}
				</tr>
            </table>
        </div>
    </div>
{% endfor %}

{% if levelFeedback is not null %}
<div class="panel panel-default">
	<div class="panel-body">
		{{ levelFeedback }}
	</div>
</div>
{% endif %}

{% if coFeedback is not null %}
<div class="panel panel-default">
	<div class="panel-body">
		{{ coFeedback }}
	</div>
</div>
{% endif %}

{% if ceFeedback is not null %}
<div class="panel panel-default">
	<div class="panel-body">
		{{ ceFeedback }}
	</div>
</div>
{% endif %}

{% if eecFeedback is not null %}
<div class="panel panel-default">
	<div class="panel-body">
		{{ eecFeedback }}
	</div>
</div>
{% endif %}