{% if session.test.phased %}
	{% if session.globalScoreShow %}
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-body text-center">
		    <h4><span class="glyphicon glyphicon-thumbs-up"></span> {{ session.globalScoreWording }} </h4>
		    {% if levelFeedback is not null %}
		    	{{ levelFeedback }}
		    {% else %}
		        -
		    {% endif %}
		  </div>
		</div>
	</div>
	{% endif %}

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
			 	<h4><span class=" glyphicon glyphicon-headphones"></span> Compréhension de l'oral</h4>
				{% if coFeedback is not null %}
					{{ coFeedback }}
			    {% else %}
			        -
			    {% endif %}
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
			 	<h4><span class="glyphicon glyphicon-book"></span> Compréhension de l'écrit</h4>
				{% if ceFeedback is not null %}	    		
					{{ ceFeedback }}
			    {% else %}
			        -
			    {% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
			 	<h4><span class="glyphicon glyphicon-pencil"></span> Expression écrite courte</h4>
				{% if eecFeedback is not null %}
					{{ eecFeedback }}
			    {% else %}
			        -
			    {% endif %}
			</div>
		</div>
	</div>

	{% if ceFeedback is null %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
			Attention, le résultat en comprehension de l'écrit a bien été pris en compte mais ne peut pas être affiché pour le moment
			</div>
		</div>
	</div>
	{% endif %}
	
{% else %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
			Les résultats ne sont pas calculés pour ce type de test. 
			</div>
		</div>
	</div>
{% endif %}
