{% if session.globalScoreShow %}
<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-body text-center">
	    <h4><span class="glyphicon glyphicon-thumbs-up"></span> {{ session.globalScoreWording }} </h4>
	    {% if levelFeedback is not null %}
	    	{{ levelFeedback |trans }}
	    {% else %}
	        -
	    {% endif %}
	  </div>
	</div>
</div>
{% endif %}

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		 	<h4><span class=" glyphicon glyphicon-headphones"></span> {{"comprehension_oral" | trans}}</h4>
			{% if coFeedback is not null %}
				{{ coFeedback }}
		    {% else %}
		        -
		    {% endif %}
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		 	<h4><span class="glyphicon glyphicon-book"></span> {{"comprehension_ecrite" | trans}}</h4>
			{% if ceFeedback is not null %}
				{{ ceFeedback }}
		    {% else %}
		        -
		    {% endif %}
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		 	<h4><span class="glyphicon glyphicon-pencil"></span> {{"expression_ecrite_courte" | trans}}</h4>
			{% if eecFeedback is not null %}
				{{ eecFeedback }}
		    {% else %}
		        -
		    {% endif %}
		</div>
	</div>
</div>
