{#
{% for skill, levels in score %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ skill }}
		</div>
		<div class="panel-body">
            <table class="table text-center">
            	<tr>
		            {% for levelName, plop in levels %}
		                <td>{{ levelName }}</td>
		            {% endfor %}
				</tr>
				<tr>
					{% for levelName, plop in levels %}
						<td>
							{% if plop.count != 0 %}
			                	{{ plop.correct }} / {{ plop.count }}
			                {% else %}
			                 	-
			               	{% endif %}
			            </td>
		            {% endfor %}
				</tr>
            </table>
        </div>
    </div>
{% endfor %}
#}

<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-body text-center">
	    <h4><span class="glyphicon glyphicon-thumbs-up"></span> Score agregé</h4>

	    {% if levelFeedback is not null %}
	    	{{ levelFeedback }}
	    {% else %}
	        -
	    {% endif %}
	  </div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		 	<h4><span class=" glyphicon glyphicon-headphones"></span> Compréhension orale</h4>
			{% if coFeedback is not null %}
	    	{{ coFeedback }}
		    {% else %}
		        -
		    {% endif %}
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		 	<h4><span class="glyphicon glyphicon-book"></span> Compréhension écrite</h4>
			{% if ceFeedback is not null %}
	    	{{ ceFeedback }}
		    {% else %}
		        -
		    {% endif %}
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		 	<h4><span class="glyphicon glyphicon-pencil"></span> Expression écrite courte</h4>
			{% if eecFeedback is not null %}
	    	{{ eecFeedback }}
		    {% else %}
		        -
		    {% endif %}
		</div>
	</div>
</div>
