<input type="hidden" id="questionnaireId" name="questionnaireId" value="{{ questionnaire.id}}"/>
<input type="hidden" id="totalTime" name="totalTime" value=""/>
<input type="hidden" id="testId" name="testId" value="{{ test.id }}"/>
<input type="hidden" id="sessionId" name="sessionId" value="{{ session.id }}"/>

{% if component %}
	<input type="hidden" id="componentId" name="componentId" value={{ component.id }} />
{% endif %}

<input type="hidden" name="testName" value="{{ test.name }}"/>

<input type="hidden" name="typoName" value="{{ questionnaire.questions[0].typology.name }}"/>

<div class="submit-container row">
    <input id="submit" type="submit" class="btn btn-default" value="{{ 'generic.validate' | trans }}" disabled />
</div>
