{% macro media(id, media, icon, height, limitAudio, tooltip) %}

{% endmacro %}

{% macro inputs(type, subquestionId, propositionId, text) %}
    <label class="{{ type }}-inline">
        <input type="{{ type }}" name="{{ subquestionId }}[]" id="proposition{{ propositionId }}" value="{{ propositionId }}" required>
        {% if text == "VRAI" %}
            {{ 'generic.boolTrue' | trans }}
        {% else %}
            {% if text == "FAUX" %}
                {{ 'generic.boolFalse' | trans }}
            {% else %}
                {{ text }}
            {% endif %}
        {% endif %}
    </label>
{% endmacro %}