<div class="panel panel-default">
    <div class="panel-heading">
        #{{ component.alternativeNumber+1 }}
        <div class="pull-right">
            {% if checkRight("right.addtasktest", test) %}
                <a class="btn btn-default btn-xs" href="{{ path('editor_create_task_component', { 'componentId': component.id  }) }}"  data-toggle="tooltip" data-original-title="{{'editor.task.create' | trans }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="{{ path('get-component-potentials', {'componentId': component.id }) }}"
                   class="btn btn-default btn-xs get-potentials"
                   data-toggle="tooltip"
                   data-original-title="{{'editor.task.add_existing' | trans }}"
                >
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
            {% endif %}
            {% if checkRight("right.deletetasktest", test) %}
                <a data-test-id="{{ test.id }}" data-component-id="{{ component.id }}" class="btn btn-default btn-xs remove-alternative" href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            {% endif %}
            {% if checkRight("right.reordertasktest", test) %}
                <span id="save-order-{{ component.id }}" class="btn btn-default btn-xs save-order" data-component-id="{{ component.id }}" data-toggle="tooltip" data-original-title="{{'editor.task.save_order' | trans }}" disabled>
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </span>
            {% endif %}
        </div>
    </div>
    <div class="panel-body" style="padding:0;margin:0">
        <ul id="component-{{ component.id }}-tasks" class="list-group sortable" style="padding:0;margin:0" data-component-id="{{ component.id }}">
        {% include "InnovaSelfBundle:Editor/phased:tasks.html.twig" %}
        </ul>
    </div>
</div>
