{% extends '::base.html.twig' %}

{% block stylesheets -%}
	    <link href="{{ asset("bundles/innovaself/css/editor-params.css") }}" rel="stylesheet" />
{% endblock %}

{% block body -%}
<a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.task.manage' | trans }}
</a>

<hr/> 

{{ form_start(form) }}


<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#progress" role="tab" data-toggle="tab">
        	Passage Minitest -> Etapes
        </a>
    </li>
    <li>
        <a href="#global-score" role="tab" data-toggle="tab">
            Score agrégé
        </a>
    </li>
    <li>
        <a href="#skill-score" role="tab" data-toggle="tab">
            Score par compétence
        </a>
    </li>
    <li>
        <a href="#ignored-levels" role="tab" data-toggle="tab">
            Niveaux ignorés
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="progress">
        <div class="row">
        	<br/>
			<div class="col-md-6">
				<h4>Minitest > Etape 2</h4>
				<div class="form-group">
				{{ form_label(form.thresholdToStep2) }}
				{{ form_widget(form.thresholdToStep2) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep2Leveled) }}
				{{ form_widget(form.thresholdToStep2Leveled) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep2Level) }}
				{{ form_widget(form.thresholdToStep2Level) }}
				</div>

			</div>

			<div class="col-md-6">
				<h4>Minitest > Etape 3</h4>
				<div class="form-group">
				{{ form_label(form.thresholdToStep3) }}
				{{ form_widget(form.thresholdToStep3) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep3Leveled) }}
				{{ form_widget(form.thresholdToStep3Leveled) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep3Level) }}
				{{ form_widget(form.thresholdToStep3Level) }}
				</div>
			</div>
    	</div>
    </div>

    <div class="tab-pane" id="global-score">
    	<div class="row">
    		<div class="col-md-12">
	    		<h3>Options</h3> 
	    		<div class="form-group">
				{{ form_label(form.considerMinitest) }}
				{{ form_widget(form.considerMinitest) }}
    			</div>
	    		<h3>Seuils, selon l'étape de sortie</h3>

			    <div class="panel-group thresholds" id="accordion" role="tablist" aria-multiselectable="true" data-prototype="{{ form_widget(form.generalScoreThresholds.vars.prototype)|e }}">

			    {% for step in ["step1", "step2", "step3"] %}
  					<div class="panel panel-default">
    					<div class="panel-heading" role="tab" id="heading-{{step}}">
      						<h4 class="panel-title"> 
      							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{step}}" aria-expanded="true" aria-controls="collapse-{{step}}">
      							 {{ step }} 
      							</a>
      						</h4>
      					</div> 

      					<div id="collapse-{{step}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{step}}">
      						<div id="thresholds-{{step}}" class="panel-body">
      							<br/><span class="add-threshold btn btn-default" data-step="{{step}}">Ajouter seuil</span><br/><br/>

						        {% for generalScoreThreshold in form.generalScoreThresholds if generalScoreThreshold.vars.value.componentType.name == step %}
						        	<li class="list-group-item col-md-3 threshold">
						            {{ form_row(generalScoreThreshold.componentType) }}
						     		{{ form_row(generalScoreThreshold.rightAnswers) }}
						            {{ form_row(generalScoreThreshold.level) }}
						            {{ form_row(generalScoreThreshold.description) }}
						            </li>
						        {% endfor %}
			    			</div>
   						 </div>
  					</div>
	  			{% endfor %}			

		    	</div>
	    	</div>
    	</div>
    </div>

    <div class="tab-pane " id="skill-score">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>Seuils, selon la compétence</h3>
			    <div class="panel-group skill-thresholds" id="accordion" role="tablist" aria-multiselectable="true" data-prototype="{{ form_widget(form.skillScoreThresholds.vars.prototype)|e }}">

			    {% for skill in ["CO", "CE", "EEC"] %}
  					<div class="panel panel-default">
    					<div class="panel-heading" role="tab" id="heading-{{skill}}">
      						<h4 class="panel-title"> 
      							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{skill}}" aria-expanded="true" aria-controls="collapse-{{skill}}">
      							 {{ skill }} 
      							</a>
      						</h4>
      					</div> 
      					<div id="collapse-{{skill}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{skill}}">
      						<div id="thresholds-{{skill}}" class="panel-body">
      							<br/><span class="add-skill-threshold btn btn-default" data-skill="{{skill}}">Ajouter seuil</span><br/><br/>
						        {% for skillScoreThreshold in form.skillScoreThresholds if skillScoreThreshold.vars.value.skill.name == skill %}
						        	<li class="list-group-item col-md-3 threshold">
							            {{ form_row(skillScoreThreshold.skill) }}
							            {{ form_row(skillScoreThreshold.componentType) }}
							     		{{ form_row(skillScoreThreshold.rightAnswers) }}
							            {{ form_row(skillScoreThreshold.description) }}
							            {{ form_row(skillScoreThreshold.level) }}
						            </li>
						        {% endfor %}
			    			</div>
   						 </div>
  					</div>
	  			{% endfor %}			
		    	</div>
			</div>
		</div>
    </div>


    <div class="tab-pane " id="ignored-levels">
    	<div class="row">
    		<div class="col-md-12">
				<h3>Niveaux ignorés, selon la compétence</h3>
				    <div class="panel-group ignored-levels" id="accordion" role="tablist" aria-multiselectable="true" data-prototype="{{ form_widget(form.ignoredLevels.vars.prototype)|e }}">

				    {% for skill in ["CO", "CE", "EEC"] %}
	  					<div class="panel panel-default">
	    					<div class="panel-heading" role="tab" id="heading-ignored-{{skill}}">
	      						<h4 class="panel-title"> 
	      							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-ignored-{{skill}}" aria-expanded="true" aria-controls="collapse-ignored-{{skill}}">
	      							 {{ skill }} 
	      							</a>
	      						</h4>
	      					</div> 
	      					<div id="collapse-ignored-{{skill}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-ignored-{{skill}}">
	      						<div id="ignored-level-{{skill}}" class="panel-body">
	      							<br/><span class="add-ignore-level btn btn-default" data-skill="{{skill}}">Ajouter niveaux</span><br/><br/>
							        {% for ignoredLevel in form.ignoredLevels if ignoredLevel.vars.value.skill.name == skill %}
							        	<li class="list-group-item col-md-3 threshold">
								            {{ form_row(ignoredLevel.skill) }}
								            {{ form_row(ignoredLevel.componentType) }}
								            {{ form_row(ignoredLevel.levels) }}
							            </li>
							        {% endfor %}
				    			</div>
	   						 </div>
	  					</div>
		  			{% endfor %}			
			    	</div>

			</div>

		</div>
    </div>




</div>

<hr/>
{{ form_widget(form._token) }}
{{ form_widget(form.save) }}

{{ form_errors(form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
   	<script>
	$(document).ready(function() {
		$('.thresholds, .skill-thresholds, .ignored-levels').find('li').each(function() {
	        addTagFormDeleteLink($(this));
	    });

		$(".add-threshold").on('click', function(e) {
	        e.preventDefault();
	        var step = $(this).attr("data-step"); 
	        var thresh = $("#thresholds-"+step);
	     	var collection = $(".thresholds");
	     	var prototype = collection.attr("data-prototype");
	        addTagForm(thresh, prototype, collection);
	    });

	    $(".add-skill-threshold").on('click', function(e) {
	        e.preventDefault();
	        var skill = $(this).attr("data-skill"); 
	        var thresh = $("#thresholds-"+skill);
	     	var collection = $(".skill-thresholds");
	     	var prototype = collection.attr("data-prototype");
	        addTagForm(thresh, prototype, collection);
	    });

	    $(".add-ignore-level").on('click', function(e) {
	        e.preventDefault();
	        var skill = $(this).attr("data-skill"); 
	        var thresh = $("#ignored-level-"+skill);
	     	var collection = $(".ignored-levels");
	     	var prototype = collection.attr("data-prototype");
	        addTagForm(thresh, prototype, collection);
	    });
	});

	function addTagForm(collectionHolder, prototype, collection) {
	    var newForm = prototype.replace(/__name__/g, collection.find("li").length);
	    var newFormLi = $('<li class="list-group-item col-md-3 threshold"></div>').append(newForm);

	    collectionHolder.append(newFormLi);
	    addTagFormDeleteLink(newFormLi);
	}

	function addTagFormDeleteLink(tagFormLi) {
	    var $removeFormA = $('<a class="btn btn-default btn-xs delete-threshold" href="#">Supprimer</a>');
	    tagFormLi.append($removeFormA);
	    $removeFormA.on('click', function(e) {
	        e.preventDefault();
	        tagFormLi.remove();
	    });
	}
	</script>


{% endblock %}
