{% extends '::base.html.twig' %}

{% block body -%}
<a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.task.manage' | trans }}
</a>

<hr/> 

{{ form_start(form) }}


<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#progress" role="tab" data-toggle="tab">
        	Passage Minitest -> Etapes
        </a>
    </li>
    <li>
        <a href="#global-score" role="tab" data-toggle="tab">
            Score agrégé
        </a>
    </li>
    <li>
        <a href="#skill-score" role="tab" data-toggle="tab">
            Score par compétence
        </a>
    </li>
    <li>
        <a href="#ignored-levels" role="tab" data-toggle="tab">
            Niveaux ignorés
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="progress">
        <div class="row">
        	<br/>
			<div class="col-md-6">
				<h4>Minitest > Etape 2</h4>
				<div class="form-group">
				{{ form_label(form.thresholdToStep2) }}
				{{ form_widget(form.thresholdToStep2) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep2Leveled) }}
				{{ form_widget(form.thresholdToStep2Leveled) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep2Level) }}
				{{ form_widget(form.thresholdToStep2Level) }}
				</div>

			</div>

			<div class="col-md-6">
				<h4>Minitest > Etape 3</h4>
				<div class="form-group">
				{{ form_label(form.thresholdToStep3) }}
				{{ form_widget(form.thresholdToStep3) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep3Leveled) }}
				{{ form_widget(form.thresholdToStep3Leveled) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep3Level) }}
				{{ form_widget(form.thresholdToStep3Level) }}
				</div>
			</div>
    	</div>
    </div>

    <div class="tab-pane" id="global-score">
    	<div class="row">
    		<div class="col-md-12">
	    		<h3>Options</h3> 
	    		<div class="form-group">
				{{ form_label(form.considerMinitest) }}
				{{ form_widget(form.considerMinitest) }}
	    		<h3>Seuils</h3>
    		</div>
		    	<br/><span id="add-threshold" class="btn btn-default">Ajouter seuil</span><br/><br/>
			    <ul class="list-group thresholds" data-prototype="{{ form_widget(form.generalScoreThresholds.vars.prototype)|e }}">
			        {% for generalScoreThreshold in form.generalScoreThresholds %}
			        	<li class="list-group-item col-md-6">
			            {{ form_row(generalScoreThreshold.componentType) }}
			     		{{ form_row(generalScoreThreshold.rightAnswers) }}
			            {{ form_row(generalScoreThreshold.description) }}
			            {{ form_row(generalScoreThreshold.level) }}
			            </li>
			        {% endfor %}
			    </ul>
		    </div>
	    </div>
    </div>

    <div class="tab-pane " id="skill-score">
    	<div class="row">
    		<div class="col-md-12">
				<br/><span id="add-skill-threshold" class="btn btn-default">Ajouter seuil</span><br/><br/>
			    <ul class="list-group skill-thresholds" data-prototype="{{ form_widget(form.skillScoreThresholds.vars.prototype)|e }}">
			        {% for skillScoreThreshold in form.skillScoreThresholds %}
			        	<li class="list-group-item col-md-6" >
				            {{ form_row(skillScoreThreshold.skill) }}
				            {{ form_row(skillScoreThreshold.componentType) }}
				     		{{ form_row(skillScoreThreshold.rightAnswers) }}
					     	
				            {{ form_row(skillScoreThreshold.description) }}
				            {{ form_row(skillScoreThreshold.level) }}
			            </li>
			        {% endfor %}
			    </ul>
			</div>
		</div>
    </div>


    <div class="tab-pane " id="ignored-levels">
    	<div class="row">
    		<div class="col-md-12">
    			<br/><span id="add-ignored" class="btn btn-default">Ajouter niveau ignoré</span><br/><br/>
			    <ul class="list-group ignored" data-prototype="{{ form_widget(form.ignoredLevels.vars.prototype)|e }}">
				{% for ignoredLevel in form.ignoredLevels %}
		        	<li class="list-group-item col-md-6" >
			            {{ form_row(ignoredLevel.skill) }}
			            {{ form_row(ignoredLevel.componentType) }}
			            {{ form_row(ignoredLevel.levels) }}
		            </li>
		        {% endfor %}
		       	</ul>
			</div>

		</div>
    </div>




</div>

<hr/>
{{ form_widget(form._token) }}
{{ form_widget(form.save) }}

{{ form_errors(form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
   	<script>
	$(document).ready(function() {
		var collectionHolder = $('ul.thresholds');
		var collectionHolderSkill = $('ul.skill-thresholds');
		var collectionHolderIgnored = $('ul.ignored');

		collectionHolder.find('li').each(function() {
	        addTagFormDeleteLink($(this));
	    });

		collectionHolderSkill.find('li').each(function() {
	        addTagFormDeleteLink($(this));
	    });

	    collectionHolderIgnored.find('li').each(function() {
	        addTagFormDeleteLink($(this));
	    });

		 $("#add-skill-threshold").on('click', function(e) {
	        e.preventDefault();
	        addTagForm(collectionHolderSkill);
	    });

	    $("#add-threshold").on('click', function(e) {
	        e.preventDefault();
	        addTagForm(collectionHolder);
	    });

	    $("#add-ignored").on('click', function(e) {
	        e.preventDefault();
	        addTagForm(collectionHolderIgnored);
	    });
	});

	function addTagForm(collectionHolder) {
	    // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
	    var prototype = collectionHolder.attr('data-prototype');
	    console.log(prototype);
	    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
	    // la longueur de la collection courante
	    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
	    var newFormLi = $('<li class="list-group-item col-md-6"></div>').append(newForm);

	    collectionHolder.append(newFormLi);
	    addTagFormDeleteLink(newFormLi);
	}

	function addTagFormDeleteLink(tagFormLi) {
	    var $removeFormA = $('<a href="#">Supprimer</a>');
	    tagFormLi.append($removeFormA);
	    $removeFormA.on('click', function(e) {
	        // empêche le lien de créer un « # » dans l'URL
	        e.preventDefault();
	        // supprime l'élément li pour le formulaire de tag
	        tagFormLi.remove();
	    });
	}
	</script>


{% endblock %}
