{% extends '::base.html.twig' %}

{% block body -%}
<a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.task.manage' | trans }}
</a>

<hr/> 

{{ form_start(form) }}

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default " >
			<div class="panel-heading">Minitest > Etape 2</div>
			<div class="panel-body">
				<h4>Etape 2</h4>
				<div class="form-group">
				{{ form_label(form.thresholdToStep2) }}
				{{ form_widget(form.thresholdToStep2) }}
				</div>

				<hr/>

				<div class="form-group">
				{{ form_label(form.thresholdToStep2Leveled) }}
				{{ form_widget(form.thresholdToStep2Leveled) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep2Level) }}
				{{ form_widget(form.thresholdToStep2Level) }}
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default " >
			<div class="panel-heading">Minitest > Etape 3</div>
			<div class="panel-body">
				
				<h4>Etape 3</h4>
				<div class="form-group">
				{{ form_label(form.thresholdToStep3) }}
				{{ form_widget(form.thresholdToStep3) }}
				</div>

				<hr/>

				<div class="form-group">
				{{ form_label(form.thresholdToStep3Leveled) }}
				{{ form_widget(form.thresholdToStep3Leveled) }}
				</div>

				<div class="form-group">
				{{ form_label(form.thresholdToStep3Level) }}
				{{ form_widget(form.thresholdToStep3Level) }}
				</div>
			</div>
		</div>

	</div>

	<div class="col-md-12">
	{{ form_rest(form) }}
	</div>
</div>

{{ form_end(form) }}


{% endblock %}