{% import _self as macros %}

{% set thresholds = [null, null, 0, test.phasedParams.step2Threshold, test.phasedParams.step3Threshold, null ] %}
{% set parts = [null, null, null, test.phasedParams.lowerPart1, test.phasedParams.upperPart1, test.phasedParams.lowerPart2, test.phasedParams.upperPart2, test.phasedParams.lowerPart3, test.phasedParams.upperPart3 ] %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% autoescape 'html' %}
        {{ 'editor.task.list' | trans({'%testName%': test.name}) | raw }}
        {% endautoescape %}
    </div>
    <div id="components" class="panel-body">
        <div class="row">
            {{ macros.panelComponentType(test, 1, "minitest", thresholds, parts) }}
        </div>
        <div class="row">
            {{ macros.panelComponentType(test, 2, "step1", thresholds, parts) }}
            {{ macros.panelComponentType(test, 3, "step2", thresholds, parts) }}
            {{ macros.panelComponentType(test, 4, "step3", thresholds, parts) }}
        </div>
    </div>
</div>

{% macro panelComponentType(test, type, typeName, thresholds, parts) %}
    <div class="col-md-4" {% if type == 1 %}style="float:none;margin: 0 auto;"{% endif %}>
        <div class="panel panel-info">
            <div class="panel-heading">
                {% set nameTrans = "phased."~typeName %}
                <strong>{{ nameTrans | trans }}</strong>
                {% if type > 1 %}{{ parts[type * 2 - 1] ~ "-" ~ parts[type * 2] }}{% endif %}
                {% if type > 2 %}(> {{ thresholds[type] }}%){% endif %}
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ path('editor_generate_component', { 'testId': test.id, 'typeId': type  }) }}" toggle="tooltip" data-original-title="{{'phased.create_alternative' | trans }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body" style="padding:0;margin:0 0 -20px 0">
                {% for component in test.components if component.componentType.name == typeName %}
                    {% include "InnovaSelfBundle:Editor/phased:component.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

<div id="potential-tasks-modal" class="modal fade" data-component-id="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{ 'editor.task.add_existing' | trans }}
                    <img class="loader-img" style="display:none;" src="{{ asset('bundles/innovaself/images/loader.gif') }}"/>
                </h4>
            </div>
            <div id="potential-tasks" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
            </div>
        </div>
    </div>
</div>

<div id="delete-component-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{ 'editor.component.remove' | trans }}
                    <img class="loader-img" style="display:none;" src="{{ asset('bundles/innovaself/images/loader.gif') }}"/>
                </h4>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer le composant ? Cela supprimera aussi les traces associées.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
                <a href="#" type="button" id="remove-component-confirm" class="btn btn-danger">Oui, supprimer le composant</a>
            </div>
        </div>
    </div>
</div>

<div id="delete-order-questionnaire-component-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{ 'editor.questionnaire.remove' | trans }}
                    <img class="loader-img" style="display:none;" src="{{ asset('bundles/innovaself/images/loader.gif') }}"/>
                </h4>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer la tâche de ce composant ? Cela supprimera aussi les traces associées.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
                <a href="#" type="button" id="remove-questionnaire-confirm" class="btn btn-danger">Oui, supprimer la tâche</a>
            </div>
        </div>
    </div>
</div>
