{% set canDelete = false %}
{% set canEdit = false %}
{% if checkRight("right.deletetasktest", component.test) %}
    {% set canDelete = true %}
{% endif %}
{% if checkRight("right.edittasktest", component.test) %}
    {% set canEdit = true %}
{% endif %}

{% for oqc in component.orderQuestionnaireComponents %}
    <li data-questionnaire-id="{{ oqc.questionnaire.id }}" id="order{{ oqc.id }}" class="list-group-item questionnaire" data-order-id="{{ oqc.id }}">{{ oqc.questionnaire.theme |truncate(25) }}
    	<span class="pull-right">
            {% if canEdit %}
        		<a class="btn btn-default btn-xs" href="{{ path('editor_questionnaire_show', { 'questionnaireId': oqc.questionnaire.id, 'testId': component.test.id }) }}" data-toggle="tooltip" data-original-title="{{ "generic.edit" | trans }}">
        			<span class="glyphicon glyphicon-pencil"></span>
        		</a>
            {% endif %}
            {% if canDelete %}
        		<span data-toggle="tooltip" data-original-title="Supprimer la tâche" class="btn btn-default btn-xs remove-questionnaire" data-order-questionnaire-id="{{ oqc.id }}">
        			<span class="glyphicon glyphicon-trash"></span>
        		</span>
            {% endif %}
    	</span>
    </li>
{% endfor %}
