<!-- Avril 2014 : affichage en ordre fixe ou pas. EV. -->
{% if questionnaire.fixedOrder %}
    {% set propositions = subquestion.propositions %}
{% else %}
    {% set propositions = subquestion.propositions | shuffle %}
{% endif %}

<div class="col-md-7 propositions-CO">
    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-CO">
            {{ macros.inputs(subquestion, proposition) }}
            {% if proposition.media.mediaType.name == "audio" %}
                {{ macros.audio("proposition-"~ proposition.id, proposition.media, "audio"~bulleCount~".png", 90, 0, "Proposition de réponse" ) }}
            {% elseif proposition.media.mediaType.name == "texte" %}
                <label for="input-proposition{{ proposition.id }}" class="proposition-CO-text">
                {{ macros.translateVF(proposition.media.description, test.language.name) }}
                </label>
            {% elseif proposition.media.mediaType.name == "image" %}
                {{ macros.image(proposition.media.id, proposition.media, "Cliquez pour agrandir", 110) }}
                {{ macros.modale(proposition.media.id, proposition.media, "Cliquez pour agrandir") }}
            </label>
            {% endif %}
        </div>
    {% endfor %}
</div>