{% set propositions = subquestion.propositions | shuffle %}

{% if questionnaire.fixedOrder %}
    {% set propositions = subquestion.propositions %}
{% endif %}

{% if subquestion.typology.name == "TVF" or subquestion.typology.name == "TVFNM" %}
    {% set vf = true %}
{% else %}
    {% set vf = false %}
{% endif %}

<div class="col-md-7 propositions-CO">
    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-CO">
            {{ macros.inputs(subquestion, proposition) }}
            {% if proposition.media.mediaType.name == "audio" %}
                {{ macros.audio("proposition-"~ proposition.id, proposition.media, "audio"~bulleCount~".png", 90, 0, 'player.tooltip.proposition' | trans ) }}
            {% elseif proposition.media.mediaType.name == "texte" %}
                    <label for="input-proposition{{ proposition.id }}" class="proposition-CO-text {% if vf == true %}proposition-text-vraifaux{% endif %}">
                    {{ macros.translateVF(proposition.media.description) }}
                    </label>
            {% elseif proposition.media.mediaType.name == "image" %}
                {{ macros.image(proposition.media.id, proposition.media, 'player.tooltip.enlarge' | trans, 110) }}
                {{ macros.modale(proposition.media.id, proposition.media, 'player.tooltip.enlarge' | trans) }}
            </label>
            {% endif %}
        </div>
    {% endfor %}
</div>
