{% if questionnaire.ListeningLimit <= 1 %}
    {% set limit_listening_text = "écoute" %}
{% else %}
    {% set limit_listening_text = "écoutes" %}
{% endif %}
{% set listening = app.session.get('listening') %}


{% if questionnaire.dialogue == 0 %}
    {% set icon = "situation_monologue.png" %}
{% elseif questionnaire.dialogue == 1 %}
    {% set icon = "situation_dialogue.png" %}
{% else %}
    {% set icon = "situation_interrompue.png" %}
{% endif %}

<div id="situation-CO" class="situation">
    {% if questionnaire.mediaText is not null %}
        {% if questionnaire.mediaText.mediaType.name == "audio" %}
            {{ macros.audio("situation", questionnaire.mediaText, icon, 120, questionnaire.ListeningLimit, "Objet de la question") }}
        {% elseif questionnaire.mediaText.mediaType.name == "video" %}
            {{ macros.video("situation", questionnaire.mediaText, questionnaire.ListeningLimit) }}
        {% endif %}
        <div class="hidden" id="listens-counter">
            Reste <span data-limit={{ questionnaire.ListeningLimit }} id="listening_number">{{ questionnaire.ListeningLimit }}</span>
            <span id="limit_listening_text">{{ limit_listening_text }}</span>
            <span class="hidden">sur <span id="limit_listening">{{ questionnaire.ListeningLimit }}</span></span>
        </div>
    {% endif %}
</div>
