{% extends '::base.html.twig' %}

{% block body -%}
    <a href="{{ path('user_edit', {'userId': user.id } )}}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Editer l'utilisateur
    </a>

    <a href="{{ path('passwd_edit', {'userId': user.id } )}}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-lock"></span>
        Modifier le mot de passe
    </a>
    
    {% if user != app.user %}
        <a class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#delete-modal">
            <span class="glyphicon glyphicon-trash"></span>
            Supprimer l'utilisateur
        </a>
    {% endif %}

    <hr/>
    
    <h2>Informations</h2>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">{{ flash }}</div>
        {% endfor %}
    {% endfor %}

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>{{ 'user.name' | trans }} {{ 'user.firstname' | trans }}</th>
                <td>{{ user.username }} {{ user.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email' | trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    {# List of tests #}
    <h2>Traces</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for test in tests %}
        <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ test[0].id }}" aria-expanded="true" aria-controls="collapseOne">
                                {{ test[0].name }} ({{ test[1] }})
                            </a>
                            <span class="buttons pull-right">
                                <span data-method="DELETE" class="btn btn-danger btn-xs rest" href="{{ path('delete-test-trace', {'testId': test[0].id, 'userId': user.id } )}}">
                                 Supprimer les traces pour le test
                                </span>
                            </span>
                        </h4>
                </div>
                <div id="collapse{{ test[0].id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for questionnaire in test[2] %}
                                <li class="list-group-item">
                                    {{questionnaire.theme}}
                                    <span class="buttons pull-right">
                                        <span data-method="DELETE" class="btn btn-danger btn-xs rest" href="{{ path('delete-task-trace', {'testId': test[0].id, 'userId': user.id, 'questionnaireId': questionnaire.id} )}}">
                                        Supprimer les traces pour cette tâche
                                        </span>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmation de la suppression</h4>
            </div>
            <div class="modal-body">
            Êtes-vous sûr de vouloir supprimer cet utilisateur ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <button data-method="DELETE" type="button" class="btn btn-danger rest" href="{{ path('delete-user', {'userId': user.id} )}}">Oui, supprimer</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
