{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proposition</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Audiourl</th>
                <td>{{ entity.audioUrl }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Rightanswer</th>
                <td>{{ entity.rightAnswer }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('proposition') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('proposition_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
