<div id="comments-container">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
            {{ 'editor.task.comments' | trans }} <button id="add-comment" class="btn btn-default btn-xs pull-right">{{ 'editor.task.add_comment' | trans }}</button>
            </h3>
        </div>
        <div class="panel-body">
        {% if questionnaire.comments|length > 0 %}
            {% for comment in questionnaire.comments %}
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ macros.displayMedia(questionnaire, comment.description) }}
                        <div class="pull-right">
                            {% if app.user == comment.user %}
                                <btn class="btn btn-default btn-sm glyphicon glyphicon-pencil edit-media" data-original-title="{{ 'generic.edit' | trans }}" data-entity-reloaded="comments" data-media-id="{{ comment.description.id }}" data-media-type="texte"></btn>
                            {% endif %}
                            Par <strong>{{ comment.user.username }}</strong>
                            <span>le {{ comment.date|date('d-m-Y') }} à {{ comment.date|date('H:i:s') }}</span>
                            {% if comment.editDate %} 
                                <br/>
                                <span class="text-muted">édition le {{ comment.editDate|date('d-m-Y') }} à {{ comment.editDate|date('H:i:s') }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="panel panel-primary">
            <div class="panel-body">
                {{ 'editor.task.no_comment' | trans }}
            </div>
        </div>
    {% endif %}
        </div>
    </div>
</div>
