<div id="contexte-container" class="panel panel-info">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel-heading">
        {{ macros.help("Court texte ou son présentant le contexte de la situation") }}
        {{ 'editor.questionnaire.context' | trans }}
        {% if questionnaire.mediaContext is not null %}
            <div class="pull-right">
                {{ macros.editMedia(questionnaire.mediaContext, "contexte") }}
                <button id="delete-context" class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="{{ 'generic.remove' | trans }}">
                     <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="panel-body">
        {% if questionnaire.mediaContext is null %}
            <div class="text-center">
                <span id="add-context" class="btn btn-default">{{ 'generic.add' | trans }}</span>
            </div>
        {% else %}
           {{ macros.displayMedia(questionnaire, questionnaire.mediaContext) }}
        {% endif %}
    </div>
</div>
