{% if questionnaire.mediaInstruction is not null %}
    {{ macros.deleteInstruction(questionnaire) }}
    {{ macros.editMedia(questionnaire.mediaInstruction, "subquestion") }}
    {{ 'editor.questionnaire.didactic_instruction' | trans }} :
    {{ macros.displayMedia(test, questionnaire, questionnaire.mediaInstruction) }}
{% else %}
    <span class="btn btn-default btn-xs add-instruction">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'editor.subquestion.add_instruction' | trans }} 
    </span>
    <br/>
{% endif %}

<br/>

{% set subquestions = questionnaire.questions[0].subquestions %}

{% if questionnaire.questions[0].typology.name == "TLCMLDM" %}
    {% if subquestions|length > 0 %}
        <strong>Liste de mots :</strong>
        {% for subquestion in subquestions %}
            {% for proposition in subquestion.propositions if proposition.rightAnswer == true %}
                <p>{{ proposition.media.description }}</p>
            {% endfor %}
        {% endfor %}
        {% for proposition in subquestions[0].propositions if proposition.media.mediaPurpose.name == "distractor" %}
            <input type="text" data-media-id="{{ proposition.media.id }}" value="{{ proposition.media.description }}" class="eec-distractor"/><br/>
        {% endfor %}

        <hr/>
        
        <span class="btn btn-default btn-xs eec-add-distractor">{{ 'editor.app.add_distractor' | trans }}</span> <br/>
    {% endif %}
{% else %}
<table class="table">
     <tr>
        <th></th>
        <th>Indice</th>
        <th>Syllabe</th>
    </tr>
    {% for subquestion in subquestions %}
        <tr>
            {% set propositions = subquestion.propositions %}
            {% for proposition in propositions %}
            <td>
                {{ proposition.media.description }}
            </td>
            {% endfor %}
            <td>
                indice : <input class="clue" data-subquestion-id="{{ subquestion.id }}" type="text" value="{% if subquestion.clue is not null %}{{ subquestion.clue.media.description }}{% endif %}"/>
                {% if subquestion.clue is not null %}
                    <span rel="tooltip" data-original-title="fonctionnel">f</span>
                    <input class="clue-type" type="radio" name="clueType-{{ subquestion.clue.id }}[]" value="fonctionnel" data-clue-id="{{ subquestion.clue.id }}" {% if subquestion.clue.clueType.name == "fonctionnel" %}checked{% endif %}/> 

                    <span rel="tooltip" data-original-title="didactique">d</span>
                    <input class="clue-type" type="radio" name="clueType-{{ subquestion.clue.id }}[]" value="didactique" data-clue-id="{{ subquestion.clue.id }}" {% if subquestion.clue.clueType.name == "didactique" %}checked{% endif %}/>
                {% endif %}
            </td>
             <td>
                syllabe : <input class="syllable" data-subquestion-id="{{ subquestion.id }}" type="text" value="{% if subquestion.mediaSyllable is not null %}{{ subquestion.mediaSyllable.description }}{% endif %}"/>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}