{% if questionnaire.mediaInstruction is not null %}
    {{ macros.deleteInstruction(questionnaire) }}
    {{ macros.editMedia(questionnaire.mediaInstruction, "subquestion") }}
    {{ 'editor.questionnaire.didactic_instruction' | trans }} :
    {{ macros.displayMedia(questionnaire, questionnaire.mediaInstruction) }}
{% else %}
    <span class="btn btn-default btn-xs add-instruction">
        <span class="glyphicon glyphicon-plus"></span>
        {{ 'editor.subquestion.add_instruction' | trans }}
    </span>
    <br/>
{% endif %}

<br/>

{% set subquestions = questionnaire.questions[0].subquestions %}

{% include "InnovaSelfBundle:Editor/partials:eec_blankText.html.twig" %}


{% if questionnaire.questions[0].typology.name == "TLCMLDM" %}
    {% include "InnovaSelfBundle:Editor/partials:eec_tlcmldm.html.twig" %}
{% elseif questionnaire.questions[0].typology.name == "TLCMLMULT" %}
    {% include "InnovaSelfBundle:Editor/partials:eec_tlcmlmult.html.twig" %}
{% else %}
    {% include "InnovaSelfBundle:Editor/partials:eec_others.html.twig" %}
{% endif %}
