<table class="table form-inline">
     <tr>
        <th></th>
        <th>Info-bulle</th>
        <th>Indice : syllabe</th> <!-- Changement, demande Cristiana -->
        <th>En clair</th> <!-- Nouvelle zone, demande Cristiana -->
    </tr>
    <!-- Initialisation de la variable qui va me dire si on n'est sur
    la première occurrence ou pas -->
    {% for i, subquestion in subquestions %}
        <tr>
            {% set propositions = subquestion.propositions %}
            {% for proposition in propositions if proposition.media.mediaPurpose.name == "proposition" %}
            <td>
                {{ proposition.media.description }}
            </td>
            {% endfor %}
            <td>
                <div class="input-group ">
                        <input class="clue form-control" data-subquestion-id="{{ subquestion.id }}" type="text" value="{% if subquestion.clue is not null %}{{ subquestion.clue.media.description }}{% endif %}"/>
                        {% if subquestion.clue is not null %}
                        <span class="input-group-addon">
                                <span rel="tooltip" data-original-title="fonctionnel">f</span>
                                <input class="clue-type" type="radio" name="clueType-{{ subquestion.clue.id }}[]" value="fonctionnel" data-clue-id="{{ subquestion.clue.id }}" {% if subquestion.clue.clueType.name == "fonctionnel" %}checked{% endif %} />
                                <span rel="tooltip" data-original-title="didactique">d</span>
                                <input class="clue-type" type="radio" name="clueType-{{ subquestion.clue.id }}[]" value="didactique" data-clue-id="{{ subquestion.clue.id }}" {% if subquestion.clue.clueType.name == "didactique" %}checked{% endif %}/>
                        </span>
                        {% endif %}
                </div>
            </td>
             <td>
                <input class="syllable form-control" data-subquestion-id="{{ subquestion.id }}" type="text" value="{% if subquestion.mediaSyllable is not null %}{{ subquestion.mediaSyllable.description }}{% endif %}"/>
            </td>
	<td>
                {% if i == 0 %}
                    <input id="display" data-subquestion-id="{{ subquestion.id }}" type="checkbox" name="displayType[]" {% if subquestion.displayAnswer  %}checked {% endif %} />
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
