<table class="table">
     <tr>
        <th></th>
        <th>Indice</th>
        <th>Syllabe</th>
    </tr>
    {% for subquestion in subquestions %}
        <tr>
            {% set propositions = subquestion.propositions %}
            {% for proposition in propositions if proposition.media.mediaPurpose.name == "proposition" %}
            <td>
                {{ proposition.media.description }}
            </td>
            {% endfor %}
            <td>
                indice : <input class="clue" data-subquestion-id="{{ subquestion.id }}" type="text" value="{% if subquestion.clue is not null %}{{ subquestion.clue.media.description }}{% endif %}"/>
                {% if subquestion.clue is not null %}
                    <span rel="tooltip" data-original-title="fonctionnel">f</span>
                    <input class="clue-type" type="radio" name="clueType-{{ subquestion.clue.id }}[]" value="fonctionnel" data-clue-id="{{ subquestion.clue.id }}" {% if subquestion.clue.clueType.name == "fonctionnel" %}checked{% endif %}/>

                    <span rel="tooltip" data-original-title="didactique">d</span>
                    <input class="clue-type" type="radio" name="clueType-{{ subquestion.clue.id }}[]" value="didactique" data-clue-id="{{ subquestion.clue.id }}" {% if subquestion.clue.clueType.name == "didactique" %}checked{% endif %}/>
                {% endif %}
            </td>
             <td>
                syllabe : <input class="syllable" data-subquestion-id="{{ subquestion.id }}" type="text" value="{% if subquestion.mediaSyllable is not null %}{{ subquestion.mediaSyllable.description }}{% endif %}"/>
            </td>
        </tr>
    {% endfor %}
</table>
