<div id="identity-container">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
            {{ 'editor.task.identity' | trans }}
            </h3>
        </div>

        <div class="panel-body">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                    <div class="form-group">
                                        {{ form_label(form.status) }}
                                        {{ form_widget(form.status) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                    <div class="form-group">
                                        {{ form_label(form.language) }}
                                        {{ form_widget(form.language) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      
                <div class="col-md-12">
                    <!-- gauche -->
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading">Niveau</div>
                            <div class="panel-body">
                                    <div class="form-group">
                                    {{ form_label(form.level) }}
                                    {{ form_widget(form.level) }}
                                    </div>
                                    <div class="form-group">
                                    {{ form_label(form.levelProof) }}
                                    {{ form_widget(form.levelProof) }}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- droite -->
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading">Droits d'auteur</div>
                            <div class="panel-body">
                                    <div class="form-group">
                                    {{ form_label(form.authorRight) }}
                                    {{ form_widget(form.authorRight) }}
                                    </div>
                                    <div class="form-group">
                                    {{ form_label(form.authorRightMore) }}
                                    {{ form_widget(form.authorRightMore) }}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading">Misc</div>
                            <div class="panel-body">

                                <div class="form-group">
                                {{ form_label(form.domain) }}
                                {{ form_widget(form.domain) }}
                                </div>

                                <div class="form-group">
                                {{ form_label(form.register) }}
                                {{ form_widget(form.register) }}
                                </div>

                                <div class="form-group">
                                {{ form_label(form.reception) }}
                                {{ form_widget(form.reception) }}
                                </div>

                                <div class="form-group">
                                {{ form_label(form.length) }}
                                {{ form_widget(form.length) }}
                                </div>

                                <div class="form-group">
                                {{ form_label(form.flow) }}
                                {{ form_widget(form.flow) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading">Source</div>
                            <div class="panel-body">
                                <div class="form-group">
                                {{ form_label(form.source) }}
                                {{ form_widget(form.source) }}
                                </div>
                                <div class="form-group">
                                {{ form_label(form.sourceOperation) }}
                                {{ form_widget(form.sourceOperation) }}
                                </div>
                                <div class="form-group">
                                {{ form_label(form.sourceMore) }}
                                {{ form_widget(form.sourceMore) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                    {{ 'editor.identity.createdby' | trans }} 
                     <strong>
                        {% if questionnaire.author %}
                           {{ questionnaire.author.username }} 
                        {% else %}
                            -
                        {% endif %}
                    </strong>
                    {% if questionnaire.revisors|length > 0 %}
                        {{ 'editor.identity.revisedby' | trans }} 
                        {% for i, revisor in questionnaire.revisors %}
                            <strong>{{ revisor.username }}</strong>{% if i < questionnaire.revisors|length -1 %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
