{% form_theme form with 'InnovaSelfBundle:Editor:common/fields.html.twig' %}

<div id="identity-container">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">
            {{ 'editor.task.identity' | trans }}
                <div class="pull-right">
                    <span id="save-identity-task" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        {{ 'generic.save' | trans }}
                    </span>
                </div>
            </h3>
        </div>

        <div id="errors">
        </div>

        <div class="panel-body">
            <div class="row">
                <form id="questionnaire-identity">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.status) }}
                            {{ form_widget(form.status) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.levelProof) }}
                            {{ form_widget(form.levelProof) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.authorMore) }}
                            {{ form_widget(form.authorMore) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.authorRight) }}

                            <div>
                                {% for field in form.authorRight %}
                                    <label class="radio-inline">
                                        {{ form_widget(field) }} {{ field.vars.label|trans }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div> <!-- col-md-6-->

                        {#<div class="panel panel-default ">#}
                            {#<div class="panel-heading collapsed" data-toggle="collapse" href="#identity-language">{{ 'editor.identity.language' | trans }}</div>#}
                            {#<div id="identity-language" class="panel-collapse collapse">#}
                                {#<div class="panel-body">#}
                                    {#<div class="form-group">#}
                                    {#{{ form_widget(form.language) }}#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                    <div class="col-md-6">
                            <div class="panel panel-default ">
                                <div class="panel-heading" data-toggle="collapse" href="#identity-misc">{{ 'editor.questionnaire.question_object'|trans }}</div>
                                <div id="identity-misc" class="panel-collapse">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            {{ form_label(form.sourceTypes) }}
                                            {{ form_widget(form.sourceTypes) }}
                                        </div>

                                        {% if questionnaire.skill is not null and questionnaire.skill.name == "CO" %}
                                            <div class="form-group">
                                                {{ form_label(form.length) }}
                                                {{ form_widget(form.length) }}
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.readability) }}
                                                {{ form_widget(form.readability) }}
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.flow) }}
                                                {{ form_widget(form.flow) }}
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            {{ form_label(form.context) }}
                                            {{ form_widget(form.context) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.textType) }}
                                            {{ form_widget(form.textType) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.register) }}
                                            {{ form_widget(form.register) }}
                                        </div>


                                        <div class="form-group">
                                            {{ form_label(form.variety) }}
                                            {{ form_widget(form.variety) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.genres) }}
                                            {{ form_widget(form.genres) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.speakers) }}
                                            {{ form_widget(form.speakers) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div><!-- col md 6 -->

                    <div class="col-md-12">
                        <div class="panel panel-default ">
                            <div class="panel-heading" data-toggle="collapse" href="#identity-source">{{ 'editor.identity.source'|trans }}</div>
                            <div id="identity-source" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_widget(form.createdBySelf) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.authorizationRequestedAt) }}
                                                {{ form_widget(form.authorizationRequestedAt) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.sourceUrl) }}
                                                {{ form_widget(form.sourceUrl) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.sourceStorage) }}
                                                {{ form_widget(form.sourceStorage) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_widget(form.freeLicence) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.authorizationGrantedAt) }}
                                                {{ form_widget(form.authorizationGrantedAt) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.sourceContacts) }}
                                                {{ form_widget(form.sourceContacts) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                        {{ 'editor.identity.createdby' | trans }}
                         <strong>
                            {% if questionnaire.author %}
                               {{ questionnaire.author.username }}
                            {% else %}
                                -
                            {% endif %}
                        </strong>
                        {% if questionnaire.revisors|length > 0 %}
                            {{ 'editor.identity.revisedby' | trans }}
                            {% for i, revisor in questionnaire.revisors %}
                                <strong>{{ revisor.username }}</strong>{% if i < questionnaire.revisors|length -1 %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>

                    <input type="hidden" name="questionnaire[id]" value="{{ questionnaire.id }}"/>
                    {{ form_widget(form._token) }}

                </form>
            </div> <!-- row -->

        </div>
    </div>
</div>
