{% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}

{% if proposition %}
    <tr id="proposition-{{ proposition.id }}-container" data-subquestion-id="{{ proposition.subquestion.id }}">
        <td style="width:20px; border: none;">{{ macros.deleteProposition(proposition) }}</td>
        <td style="width:20px; border: none;">{{ macros.editMedia(proposition.media) }}</td>
        <td style="width:120px; border: none;">{{ macros.isRightAnswer(proposition) }}</td>
        {# {{ macros.inputs(proposition.subquestion, proposition) }} #}
        <td style="border: none;">{{ macros.displayMedia(test, questionnaire, proposition.media) }}</td>
    </tr>
{% endif %}
