<div class="questionnaire-container">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    
    <a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
        <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.task.back_to_list' | trans }}
    </a>
    <img id="loader-img" style="display:none;" src="{{ asset('bundles/innovaself/images/loader.gif') }}"/>
    
    <input type="hidden" id="questionnaire-id" value="{{ questionnaire.id }}"/>
    <input type="hidden" id="test-id" value="{{ test.id }}"/>

    <input type="hidden" id="entity-id" value=""/>
    <input type="hidden" id="entity-type" value=""/>
    <input type="hidden" id="entity-field" value=""/>
    <input type="hidden" id="entity-to-be-reloaded" value=""/>
    <hr/>

    <div id="" class="row">
        <div class="col-md-12">
            {% include "InnovaSelfBundle:Editor/partials:general-infos.html.twig" %}
        </div>
        <div class="col-md-4">
            {% include "InnovaSelfBundle:Editor/partials:contexte.html.twig" %}
            {% include "InnovaSelfBundle:Editor/partials:texte.html.twig" %}
        </div>
        <div class="col-md-8">
            {% include "InnovaSelfBundle:Editor/partials:subquestions.html.twig" %}
        </div>
    </div>
</div>

{% include "InnovaSelfBundle:Editor/common:modal.html.twig" %}