{% if questionnaire.questions[0].typology is not null %}
    <div id="subquestion-container" class="panel panel-default">
        {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
        <div class="panel-heading">
            Items
                {% set typoPrefix = questionnaire.questions[0].typology.name | slice(0,3) %}
                {# {% if ( typoPrefix != "APP") or (typoPrefix == "APP" and questionnaire.questions[0].subquestions | length < 1)%} #}
                {% if typoPrefix != "APP" %}
                    <span id="create-subquestion" class="btn btn-default btn-xs pull-right">Ajouter un item</span>
                {% endif %}
        </div>
        <div class="panel-body">
        {% if ( typoPrefix != "APP") %}
            {% if questionnaire.questions[0].subquestions is not null %}
                {% set subquestions = questionnaire.questions[0].subquestions %}
                <ul class="nav nav-tabs">
                    {% for i, subquestion in subquestions %}
                        <li {% if i == 0 %}class="active"{% endif %}>
                            <a href="#subquestion-{{ subquestion.id }}-container" data-toggle="tab">
                                {% if subquestion.typology %}
                                    {{ subquestion.typology.name}}
                                {% endif %} 
                                #{{ i+1 }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for i, subquestion in subquestions %}
                        {% include "InnovaSelfBundle:Editor/partials:subquestion.html.twig" %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <span class="btn btn-default btn-xs app-add-subquestion">Ajouter une paire</span> 
            {% if questionnaire.questions[0].subquestions | length > 0 %}
                <span class="btn btn-default btn-xs app-add-distractor">Ajouter un distracteur</span>
                {% set subquestions = questionnaire.questions[0].subquestions %}
                <br/><br/>
                <table class="table">
                    <tr>
                        <th>Proposition</th>
                        <th>Réponse associée</th>
                    </tr>
                {% for subquestion in subquestions %}
                    {% if subquestion.media is not null %}
                        <tr>
                            <td>
                                {{ macros.displayMedia(test, questionnaire, subquestion.media) }}
                            </td>
                            <td>
                                {{ macros.displayRightAnswerAPP(test, questionnaire, subquestion) }}
                            </td>
                        </tr>
                            
                    {% else %}
                        <tr>
                            <td>
                                <span class="btn btn-default btn-xs app-add-media" data-subquestion-id="{{ subquestion.id }}">Ajouter média</span>
                            </td>
                        </tr>
                    {% endif %} 
                {% endfor %}
                </table>
                     {#<p>afficher distracteurs</p>#}
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endif %}