<form id="subquestion-identity">
    <div class="clearfix">
        {{ form_row(form.save, {'attr': {'class': 'pull-right btn btn-success'}}) }}
    </div>

    {{ form_label(form.level) }}
    {{ form_widget(form.level) }}

    <hr/>

    {{ form_label(form.focuses) }}
    {{ form_widget(form.focuses) }}

    <hr/>

    {{ form_label(form.cognitiveOpsMain) }}
    {{ form_widget(form.cognitiveOpsMain) }}

    {{ form_rest(form) }}
</form>
