<form id="subquestion-identity">
    {{ form_label(form.level) }}
    {{ form_widget(form.level) }}

    <hr/>

    {{ form_label(form.focuses) }}
    {{ form_widget(form.focuses) }}

    <hr/>

    {{ form_label(form.cognitiveOpsMain) }}
    {{ form_widget(form.cognitiveOpsMain) }}

    <hr/>

    {{ form_label(form.cognitiveOpsSecondary) }}
    {{ form_widget(form.cognitiveOpsSecondary) }}

    <br/>
    {{ form_rest(form) }}
</form>
