{% if orders|length < 1 %}
    Il n'y a aucune tâche associée à ce test.
{% else %}
    {% set canEdit = false %}
    {% set canDelete = false %}

    {% if checkRight("right_edittasktest", orders[0].test) %}
        {% set canEdit = true %}
    {% endif %}

    {% if checkRight("right_deletetasktest", orders[0].test) %}
        {% set canDelete = true %}
    {% endif %}

    {% for order in orders %}
        <li id="task-{{ order.questionnaire.id }}" class="questionnaire list-group-item" data-questionnaire-id="{{ order.questionnaire.id }}" data-test-id="{{ order.test.id }}">

            {% if order.questionnaire.status is not null %}
                {% set statusId = order.questionnaire.status.id %}
                {% set statusName = order.questionnaire.status.name %}
            {% else %}
                {% set statusId = 1 %}
                {% set statusName = "Ecriture" %}
            {% endif %}
            <span class="status-container">
                <span class="label label-default label-{{ statusId }}">{{ statusName }}</span>
            </span>

            {% if order.questionnaire.theme != "" %}
                {{ order.questionnaire.theme }}
            {% else %}
                {{ 'editor.task.unnamed' | trans }}
            {% endif %}

            {% if order.questionnaire.questions is not empty and order.questionnaire.questions[0].typology is not null %}
                <span class="text-muted">({{ order.questionnaire.questions[0].typology.name }})</span>
            {% endif %}

            <span class="buttons">
                {#
                <a toggle="tooltip" data-original-title="{{ 'generic.player' | trans }}" class="btn btn-default btn-sm" href="{{ path('questionnaire_pick', { testId: order.test.id, questionnaireId: order.questionnaire.id }) }}">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                #}

                {% if canEdit %}
                    <a toggle="tooltip" data-original-title="{{ 'generic.edit' | trans }}" class="btn btn-default btn-sm" href="{{ path('editor_questionnaire_show', { 'questionnaireId': order.questionnaire.id, 'testId': order.test.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                {% endif %}
                 
                {% if canDelete %}
                    <a toggle="tooltip" data-original-title="{{ 'generic.remove' | trans }}" class="btn btn-default btn-danger btn-sm delete-task" data-questionnaire-id="{{ order.questionnaire.id}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </span>
        </li>
    {% endfor %}
{% endif %}
