<div id="texte-container" class="panel panel-default">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel-heading">
        {{ 'editor.questionnaire.question_object' | trans }}
        {% if questionnaire.mediaText is not null %}
            <span id="delete-text" class="glyphicon glyphicon-remove btn btn-default btn-sm pull-right" data-toggle="tooltip" data-original-title="{{ 'generic.remove' | trans }}"></span>
        {% endif %}
    </div>
    <div class="panel-body">
        {% if questionnaire.mediaText is null %}
        <div class="text-center">
            <span id="add-text" class="btn btn-default">
                {{ 'generic.add' | trans }}
            </span>
        </div>
        {% else %}
            {{ macros.displayMedia(test, questionnaire, questionnaire.mediaText) }}
            <hr/>
            <div class="text-center">
                {% for i, textType in ['monologue', 'dialogue', 'dialogue interrompu'] %}
                     <span class="btn btn-default btn-xs text-type" data-text-type="{{ i }}"> 
                     {% if questionnaire.dialogue == i %}
                        <strong>{{ textType }}</strong>
                    {% else %}
                        {{ textType }} 
                    {% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
