<div id="texte-container" class="panel panel-info">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel-heading">
        {{ macros.help("Media sur lequel porte la question.") }}
        {{ 'editor.questionnaire.question_object' | trans }} 
        {% if questionnaire.mediaText is not null %}
            <div class="pull-right">
                {{ macros.editMedia(questionnaire.mediaText, "texte") }}
                <span id="delete-text" class="glyphicon glyphicon-remove btn btn-default btn-sm" data-toggle="tooltip" data-original-title="{{ 'generic.remove' | trans }}"></span>
            </div>
        {% endif %}
    </div>
    <div class="panel-body">
        {% if questionnaire.mediaText is null %}
        <div class="text-center">
            <span id="add-text" class="btn btn-default">
                {{ 'generic.add' | trans }}
            </span>
        </div>
        {% else %}
            {{ macros.displayMedia(questionnaire, questionnaire.mediaText) }}
            {% if questionnaire.mediaText.mediaType.name == "audio" %}
                <hr/>
                <div class="text-center">
                    {% for i, textType in ['monologue', 'dialogue', 'dialogue interrompu'] %}
                         <span class="btn btn-default btn-xs text-type" data-text-type="{{ i }}">
                         {% if questionnaire.dialogue == i %}
                            <strong>{{ textType }}</strong>
                        {% else %}
                            {{ textType }}
                        {% endif %}
                        </span>
                    {% endfor %}
                </div>
            {% elseif questionnaire.mediaText.mediaType.name == "image" %}
                <div class="form-group">
                    <input type="text" class="form-control" id="text-title" placeholder="Image title" value="{{ questionnaire.textTitle}}">
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
