{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/innovaself/css/showTests.css") }}" />
{% endblock %}

{% block body -%}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ 'editor.session.connexion' | trans }}</div>
            <div class="panel-body">
                <p>{{ 'editor.session.helptext' | trans }}</p>
                <a href="{{ path('session_connect') }}" class="btn btn-default btn-primary">{{ 'editor.session.connect' | trans }}</a>
            </div>
        </div>
    </div>
    <div id="video-help"  class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Vidéo d'aide</div>
            <div class="panel-body text-center">
                {% include 'InnovaSelfBundle::Main/help.html.twig' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
